:root{
	/* --b-radius:25px;
	--border-radius15: 15px;
	--border-radius100:100%;  */

	--b-radius:4px;
	--border-radius15: 4px;
	--border-radius100:100%; 
}
.nav-tabs li a, input, textarea, input.but, button.but, a.but, .but, .search_bar .input_search input, .search_bar_small.input_search input,.event_loca input,
.enter_but li,.label_equla_but,.header_search,a.Plus_button,.search_icons_right input,.accordion_me .panel-heading,a.but_1,a.but_gray,.nice-select,.radi_2,.radi_1,
.Modal_A .modal-content,.Modal_A .six_digit input,table.case_id tr,table.case_id tbody tr,table.case_id thead tr,.call_hist tr,.User_call tr,
table.search_m tbody tr, table.search_m thead tr, table.Quali_table tbody tr, table.Quali_table thead tr, .Schedules_Multiple_checkbox, aside ul.side_menu, .accordion_me 
.panel-group .panel + .panel, #accordion.panel-group .panel, table.table_def tbody tr, table.table_def thead tr, ul.side_menu li.unique_menu a.active,ul.side_menu li.unique_menu a:hover,
table.Org_T tbody tr.odd td:last-child, table.Org_T tbody tr.odd td:last-child,table.Org_T tbody tr.even td:last-child, table.Org_T tbody tr.even td:last-child,
.label_equla_but,ul.our_goals li,ul.our_goals li:nth-child(2),ul.our_goals li:last-child,.panel-group .panel,.nice-select .list,.input_and_textarea,.child,
.calendar-wrap, .shifts_deetails tr:nth-child(even), .shifts_deetails tr:nth-child(odd), .but_submit, .but_one, .b_radius, .message-text, .button_small a, .text_app, 
.gradient_color .but_login, a.yes_icons, .circule_button, .mobile_button, .match_with span.icon.icon-input-type-check, .listing_table .next:before,
.listing_table .ReactTable .rt-noData, .schedule_listings .ReactTable .rt-noData, .t_m_d_2, .moni_btn, .Confirm_btn_Conf, .Cancel_btn_Conf,
.no_record, .listing_table .archive_btn, .listing_table .inactive_btn, .listing_table .active_btn, .listing_table .rt-tr, .listing_table .ReactTable .rt-thead .rt-tr,
.listing_table .privious:before , .button_unadd i:before, .pin_error, .listing_table .ReactTable .rt-tbody .rt-t,  .colorPicker, .CH_row, .e_new span, .s_new span i,
.listing_table .ReactTable .rt-thead .rt-tr, .listing_table span.-pageInfo,  .Select-control, .select-wrap select, .modal-lg .modal-content,  
.ReactTable .-pagination .-pageSizeOptions, .avalibilty_div, .A_R_btn, .schedule_listings .rt-tr-group, .Select .Select-control, .s_new span, .small_search_new input,
.schedule_listings span.-pageInfo, .schedule_listings .privious:before,.schedule_listings .next:before, span.Nam_d_1, .Select--single .Select-control,
 .Select.is-focused > .Select-control, .Select.is-open > .Select-control,.Select.is-focused:not(.is-opne) > .Select-control{
	border-radius: var(--b-radius);
}
.case_id tr td:first-child,
.call_hist tr td:first-child,
table.case_id tbody tr.odd td:first-child, 
table.case_id tbody tr.odd td:first-child,
table.case_id tbody tr.even td:first-child,  
table.case_id tbody tr.even td:first-child,
.User_call tr td:first-child,
.logs_of_case_table tr td:first-child,
table.search_m tbody tr.odd td:first-child, 
table.search_m tbody tr.odd td:first-child,
table.search_m tbody tr.even td:first-child,  
table.search_m tbody tr.even td:first-child,
table.Quali_table tbody tr.odd td:first-child, 
table.Quali_table tbody tr.odd td:first-child,
table.Quali_table tbody tr.even td:first-child,  
table.Quali_table tbody tr.even td:first-child,
table.search_m thead tr th:first-child,
table.table_def tbody tr.odd td:first-child, 
table.table_def tbody tr.odd td:first-child,
table.table_def tbody tr.even td:first-child, 
table.table_def tbody tr.even td:first-child,
.header_description tr th:first-child,
.radius_first_last tr th:first-child,
.radius_first_last tr td:first-child,
.available_member_table_parent td:first-child,
.even_odd tbody tr td:first-child,
table.Quali_table tbody tr td:first-child
{
	border-radius: var(--b-radius) 0px 0px  var(--b-radius);
}

.case_id tr td:last-child,
.call_hist tr td:last-child,
table.case_id tbody tr.odd td:last-child, 
table.case_id tbody tr.odd td:last-child,
table.case_id tbody tr.even td:last-child,  
table.case_id tbody tr.even td:last-child,
.User_call tr td:last-child,
.logs_of_case_table tr td:last-child
table.search_m tbody tr.odd td:last-child, 
table.search_m tbody tr.odd td:last-child,
table.search_m tbody tr.even td:last-child,  
table.search_m tbody tr.even td:last-child,
table.Quali_table tbody tr.odd td:last-child, 
table.Quali_table tbody tr.odd td:last-child,
table.Quali_table tbody tr.even td:last-child,  
table.Quali_table tbody tr.even td:last-child,
table.search_m thead tr th:last-child,
table.table_def tbody tr.odd td:last-child, 
table.table_def tbody tr.odd td:last-child,
table.table_def tbody tr.even td:last-child, 
table.table_def tbody tr.even td:last-child,
.header_description tr th:last-child,
.radius_first_last tr th:last-child,
.radius_first_last tr td:last-child,
.available_member_table_parent td:last-child,
.even_odd tbody tr td:last-child,
table.Quali_table tbody tr td:last-child
{
	border-radius: 0px  var(--b-radius)   var(--b-radius) 0px;
}
aside ul.side_menu li:first-child a{
    border-radius:  var(--b-radius)  var(--b-radius) 0px 0px;
}
aside ul.side_menu li:last-child a{
    border-radius: 0px 0px  var(--b-radius)  var(--b-radius);
}
table.Org_T tbody tr.odd td:last-child, 
table.Org_T tbody tr.odd td:last-child,
table.Org_T tbody tr.even td:last-child,  .input_search.change_b, .member_shift, .flex_ul_div.heading_list_net,
table.Org_T tbody tr.even td:last-child, .input_search input, ul.on_form_to_search li, .scroll-1, .scroll-2, .scroll-3,
.internal_shift_parent, .U_btn_new a, .react-confirm-alert, .not_found_div, .U_btn_new a, .add_input button i:before,
.but_Change{
	border-radius:  var(--b-radius);
}
.nice-select .list{
	border-radius: var(--border-radius15);
}

.Unfilled_div #accordion.panel-group .panel,
.Avai_Member_div #accordion.panel-group .panel{
    border-radius: var(--border-radius15);
}
.br{
    border-radius: 0px;
}
