/***** Color Name and Class define ****/
/*     1.Blue         (class Name : Blue) 
                      (Color code: #0033cc)
                       */
/*     2.Participant_Module(class Name : Participant_Module) 
                      (Color code: #663399)
                       */
/*     3.Orange       (class Name : Orange) 
                      (Color code: #ff6600)
                       */
/*     4.Schedule_Module(class Name : Schedule_Module) 
                      (Color code: #cc66cc)
                       */
/*     5.Green       (class Name : Green) 
                      (Color code: #009966)
                       */
/*     6.Red_fms         (class Name : Red_fms) 
                      (Color code: #D32F2F)
                       */
/*     6.Gold         (class Name : Gold) 
                      (Color code: #eda122; bg: #e89c24)
                       */
:root{--bg-color: #1e1e1e;}
:root{--txt-color: #1e1e1e;}
:root{--b-color: #1e1e1e;}

.Blue{--bg-color: #242543;}
.Blue{--txt-color: #242543;}
.Blue{--b-color:  #242543;}

.Participant_Module{--bg-color: #B175FF;}
.Participant_Module{--txt-color: #B175FF  ;}
.Participant_Module{--b-color: #B175FF;}

.Orange{--bg-color: #FF7043;}
.Orange{--txt-color:  #FF7043}
.Orange{--b-color:  #FF7043;}

.Schedule_Module{--bg-color: #E07196;}
.Schedule_Module{--txt-color: #E07196;} 
.Schedule_Module{--b-color:  #E07196;}

.Green{--bg-color:#1EB35A  ;}
.Green{--txt-color: #1EB35A;}
.Green{--b-color:#1EB35A;}

.Red_fms{--bg-color: #D32F2F;}
.Red_fms{--txt-color: #D32F2F;}
.Red_fms{--b-color: #D32F2F;}

.Gold{--bg-color: #e89c24;}
.Gold{--txt-color: #eda122;}
.Gold{--b-color: #e89c24;}

.Gold{--bg-color: #2E9CCA;}
.Gold{--txt-color: #2E9CCA;}
.Gold{--b-color: #2E9CCA;}

.Crm{
    --bg-color:#992BFF;
    --b-color:#992BFF;  
    --txt-color:#992BFF;
    --crm-success_color:#be77ff;
    --crm-Processing_color:#7c00ef;
    --crm-Rejected_color:#5300a0; 
    --crm-task_priority_high_color:#FFFF00;
    --crm-task_priority_medium_color:#FF8C00;
    --crm-task_priority_low_color:#FF0000;
  }

/*==================================================================*/
/*============|                    Blue                 |===========*/
/*==================================================================*/
.ext_search .Select-control,.modify_select .Select-control,
.Schedules_Multiple_checkbox input.checkbox1[type="checkbox"] + label span,.small_search_new input, .scroll-3 .panel,
.ext_search .Select.is-open > .Select-control,.schedule_listings .ReactTable .rt-thead.-header .rt-tr .rt-th,.bor_T,.bt-1,.line_me,.bor_B,.bb-1,
.int_mail_1-D.ul-1 li,.header_chat h3,.int_mail_2-D,.Internal_GroupMsg .panel.panel-default,.by-1,.Modal_A .text,.Avai_Member_div h1, .Mathed_div label, 
.Unfilled_div h1,.schedule_listings .ReactTable .rt-thead.-header .rt-tr,.search_bar .input_search input,.Select-control,textarea,.event_loca input,.input,
.include_box input.checkbox1[type="checkbox"] + label span,input.checkbox_big[type="checkbox"]+ label span,input,input.checkbox1[type="checkbox"] + label span,
input.checkbox2[type="checkbox"] + label span,.Schedules_Multiple_checkbox,.multiple_checkbox,ul.on_form_to_search li,.input_search.change_b .form-control,
.input_and_textarea,.colorPicker,.t_m_d_1,.ReactTable .-pagination .-pageSizeOptions,.U_btn_new a, .message-avatar span.icon.icon-share, .bcolor,
.dotted_line, .multiple_checkbox, .multiple_checkbox input.checkbox1[type="checkbox"] + label span, .ReactTable .-pagination .-pageJump input,
.c-cust-check_1 .c-cust-check_1__img, .schedule_listings .next:before, .listing_table .next:before, .schedule_listings .privious:before, .listing_table .privious:before{
    border-color: var(--b-color);
}
.user_img{
    border: 3px solid;
    border-color: var(--b-color);
}
.Select .Select-control, div.Select.is-open > .Select-control{ border-color: var(--bg-color);}
.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle {
    border-bottom-color: var(--b-color);
}
.Mathed_div{
    border-left: dashed 1px;
    border-right: dashed 1px;
    border-color: var(--b-color);
}

.ext_search .Select-control, .message-avatar span.icon.icon-share, .int_email_button span,
.ext_search .Select.is-open > .Select-control, a.Plus_button,.GroupMSG_team.active,
.search_bar .input_search input, .Select-control,  .include_box input.checkbox1[type=checkbox] + label span,
input.checkbox_big[type=checkbox]+ label span,  input.checkbox2[type=checkbox] + label span, .button_unadd i:before,
.U_btn_new a.active, .listing_table .ReactTable .rt-thead .rt-tr, input.input_c[type=checkbox] + label, button.but, .but_submit,
a.but, .add_i_icon .icon-add-icons:before, .Schedules_Multiple_checkbox input.checkbox1[type="checkbox"]:checked + label span, input.but,
input.checkbox1[type="checkbox"]:checked + label span, input.checkbox2[type="checkbox"]:checked + label span, .update_button_g,
input.checkbox_flex[type="checkbox"] + label span, input.checkbox_flex[type="checkbox"]:checked + label span, .upload_btn .but, 
.react-datepicker .react-datepicker__header, .react-datepicker .react-datepicker__day--keyboard-selected, input.checkbox_big[type="checkbox"]:checked + label span, .but, .Imail_btn_left_v1 i, 
.Imail_btn_right_v1 i, .flex_ul_div.heading_list_net, .ReactTable .-pagination .-pageJump input, span.select-wrap.-pageSizeOptions, .schedule_listings .next:before, .listing_table .next:before,
.schedule_listings .privious:before, .listing_table .privious:before, .Group_replay .Group_v1_b, .reply_your .message-text,
.pagination-bottom span.icon.next, .pagination-bottom span.icon.privious, div.btn-1, div.btn-2, div.btn-3, div.v-c-btn1{
    background: var(--bg-color);
    background-color:var(--bg-color) ;
}

div.Select.Select--single .Select-control, div.Select.is-focused > .Select-control,
div.Select.is-open > .Select-control,div.Select.is-focused:not(.is-opne) > .Select-control{
    background: var(--bg-color) ;
    background-color:var(--bg-color);
}

.s-def1-color div.Select.Select--single .Select-control, .s-def1-color div.Select.is-focused > .Select-control,
.s-def1-color  div.Select.is-open > .Select-control, .s-def1-color div.Select.is-focused:not(.is-opne) > .Select-control{
  background: #e6e6e6 ;
  background-color:#e6e6e6;
}
.s-def1.s-def1-color .Select-value-label,
.s-def1.s-def1-color .Select-arrow::before, .s-def1.s-def1-color .Select-arrow::before, .s-def1.s-def1-color .Select.is-open > .Select-control .Select-arrow::before{
  color: #1e1e1e !important;
}

.color, .back_icons, .back_arrow, a.but_1, aside ul.side_menu li a.active, aside ul.side_menu li a:hover, .nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,  .nav-tabs > li.active > a:focus, .call_hist td span, .Total_text, /*.accordion_me ul li:first-child, .accordion_me ul li:last-child span,*/
.close_i i.icon.icon-cross-icons, input.checkbox_big[type="checkbox"]+ label span, .include_box input.checkbox1[type="checkbox"] + label span,.add_input button i,
.icon_cancel_1,.search_bar button span,.landing_graph h2,input.checkbox1[type="checkbox"]:checked + label span, input.checkbox2[type="checkbox"]:checked + label span,
/*.accordion_me ul li:first-child,*/ ul.file_down .icon-file-icons:before, .text_app, .create_new span, .f_color_size .col-md-3, i.history_button, .text.text-left, .but_one,
footer h5, footer h6,.table_search_new button span,.schedule_listings .ReactTable .rt-thead.-header .rt-tr,.icon_h-1,.Search_common i:before,
.user_info li,i.plus_but:before,.call_icon:before, .input_search.change_b span.icon.icon-search, .lock_icon .icon-lock-icons:before, .filter_select .Select-value-label,
.modify_select .Select-arrow::before, .modify_select .Select.is-open > .Select-control .Select-arrow::before, .W_M_Y_box span.color, .clr2,
span.circle_but + p, .but_Change.active, .U_btn_new a, .modify_select .Select-arrow::before, .Modal_A .text, .c-cust-check_1__img.color, footer h5 a{
    color: var(--txt-color);
}



/* Blue */
.clr1{color: #0342a2;}
.Select-control input:-webkit-autofill, 
.Select-control input:-webkit-autofill:hover, 
.Select-control input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #242543 inset;
  }

/* Purple */
.Participant_Module .clr1{color:#672ea7;}
.Participant_Module .Select-control input:-webkit-autofill, 
.Participant_Module .Select-control input:-webkit-autofill:hover, 
.Participant_Module .Select-control input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #672ea7 inset !important;
  }

/* Orange  */
.Orange .clr1{color: #FF7043;  }
.Orange .Select-control input:-webkit-autofill, 
.Orange .Select-control input:-webkit-autofill:hover, 
.Orange .Select-control input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #FF7043 inset !important;
  }

/* Gulabi */
.Schedule_Module .clr1{color:#d04170;}
.Schedule_Module .Select-control input:-webkit-autofill, 
.Schedule_Module .Select-control input:-webkit-autofill:hover, 
.Schedule_Module .Select-control input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px  inset !important;
  }

/* Green */
.Green .clr1{color: #0e966e;}
.Green .Select-control input:-webkit-autofill, 
.Green .Select-control input:-webkit-autofill:hover, 
.Green .Select-control input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #09a075 inset !important;
  }

/* Red */
.Red_fms .clr1{color: #b10607;}
.Red_fms .Select-control input:-webkit-autofill, 
.Red_fms .Select-control input:-webkit-autofill:hover, 
.Red_fms .Select-control input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #D32F2F inset !important;
  }

/* Gold */
.Gold .clr1{}
.Gold .Select-control input:-webkit-autofill, 
.Gold .Select-control input:-webkit-autofill:hover, 
.Gold .Select-control input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px  #e89c24 inset !important;
  }

/* Gold */
.Gold .clr1{}
.Gold .Select-control input:-webkit-autofill, 
.Gold .Select-control input:-webkit-autofill:hover, 
.Gold .Select-control input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px  #2E9CCA inset !important;
  }

a .Ext_1{ color: #d12e2f; }
a .Int_1{ color: #09a075; }
input.input_c[type=checkbox]:checked + label {background-image: url(../images/admin/check_trans.svg);}
.filter_select .Select-control {background: #ccc !important;border: 1px solid #ccc !important;color: #1e1e1e !important;}
.filter_select .Select-placeholder{color:#1e1e1e !important;font-size: 18px !important;}
.accordion_me ul.our_goals li:last-child span{color: #1e1e1e !important;}
.ext_search .Select-control {background: #fff !important;}
.ext_search input{color: #1e1e1e !important;}

.int_mail_1-D.ul-1 li.bb-0, .header_chat h3.bb-0, .Green .int_mail_2-D,
.Internal_GroupMsg .panel.panel-default.bb-0, .bb-0,
.Internal_GroupMsg .panel-group .panel-default:last-child{border-bottom: 0px solid #fff !important;}

.content .scroll-3 .bt-0, .border_R1.bt-0, .bt-0{border-top: 0px !important;}

.border_R2.bz, .bz{border: 0px solid #000 !important; box-shadow: none; margin-bottom: 10px;}
.border_R1.bx-0,.bx-0{border-left: 0px solid #000 !important; border-right: 0px solid #000 !important;}
input.border_R1{border-color: #cacaca !important;}
.Select-input > input{border: 0px solid #ddd !important;padding: 0px 0px !important;height: 35px;line-height: 37px;}
.default_color{color: #1e1e1e !important;}
.modify_select .default_validation .Select-control .Select-multi-value-wrapper .Select-input input{color:#1e1e1e;}
.U_btn_new a.active{color: #fff !important;}
.worning-cartoon input.radio_input[type=radio]:not(old):checked + label > span > span{background: url(/assets/images/admin/worning-cartoon.svg); background-size:100%;}
.success-cartoon input.radio_input[type=radio]:not(old):checked + label > span > span{background: url(/assets/images/admin/success-cartoon.svg); background-size:100%;}
.danger-cartoon input.radio_input[type=radio]:not(old):checked + label > span > span{background: url(/assets/images/admin/danger-cartoon.svg); background-size:100%;}

.quali_width li.text_dark_yello .path_file, ul.file_down li.text_dark_yello .icon-file-icons:before{color:#e2a100 !important; }
.quali_width li.text_dark_Pink .path_file, ul.file_down li.text_dark_Pink .icon-file-icons:before{color:#db4255 !important; }

.br-0 {border-right: 0px solid;}
.bl-0 {border-left: 0px solid;}
.search_bar .input_search input, .modify_select .Select-control{background: #fff;     font-family: sans-serif !important;}
.upload_btn input{border: 0px solid}
.modify_select .Select--single .Select-control, .modify_select .Select.is-focused > .Select-control,
.modify_select .Select.is-open > .Select-control, .modify_select .Select.is-focused:not(.is-opne) > .Select-control{
    background: #fff ;
    background-color:#fff;
}

