/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 7, 2018, 4:51:55 PM
    Author     : corner stone css
*/
@import "./common.css";

[class^="icon-"], [class*=" icon-"]{
    display: inline-flex;
}

.form-control:focus {border-color: inherit;-webkit-box-shadow: none;box-shadow: none;}
.row {margin-right: -7px;margin-left: -7px;}

ul{padding: 0px;margin: 0px;}
input.but, a.but, .but, button.but{font-size: 15px;width: 100%;line-height: 15px;padding:12px 15px;border: 0px;text-align: center; font-weight:bold;}
.but_submit{ width: 100%;line-height: 15px;padding:12px 15px;font-size: 17px;background: #1e1e1e;border: 0px;color:#fff;font-weight: 300;}
a.but_gray{font-size: 15px;width: 100%;line-height: 15px;padding:12px 15px;text-align: center;display: block;font-size: 20px;}
.but_gray img{position: absolute;left:25px;}
input{padding:0px 15px 0px; font-size: 14px;width: 100%;   line-height: 40px;height: 40px;font-weight: 300; -webkit-appearance: none; -moz-appearance: none;}
a.but_1{font-size: 20px;line-height: 20px;display: table;width: 100%;text-align: center;padding: 10px 15px;cursor: pointer;}
.nice-select {font-size: 15px;height: 40px;line-height: 43px;}


.width{width: 100%;}
.required:before{font-size: 7px;}
.required_select:before{font-size: 7px;}
.nice-select{font-size: 15px;height: 40px;line-height: 40px;}
/*=======================*/
/*=========Member=======*/

.f_color_size div{font-size:19px;line-height:19px;}
.f_color_size.col-md-3{text-align: right;}
.user_img{width: 110px;height: 110px;border-radius:var(--border-radius100);display: flex;align-items: center;}
.user_profile td{vertical-align: top;}
.user_profile ul li .nice-select{border-radius:5px !important;}
.user_profile .nice-select .option{font-size: 12px !important;padding-left: 10px;line-height: 25px;min-height: 25px;}
.user_profile .nice-select {font-size: 12px !important;height: 21px;line-height: 22px;}
.user_profile .nice-select:after {border-right: 6px solid transparent !important;border-left: 6px solid transparent !important;border-bottom: 0px solid transparent;content: '';right: 7px;margin-top: 6px;}
.user_profile .nice-select .list{border-radius: 5px;}
.user_profile p.select_all span {float: none; padding-right: 6px;vertical-align: top;}
.user_profile .box_wide{width: 100px; margin-right: 10px ;margin-bottom:7px;}
.per_100{width: 100%;}

/********* House **********/
.search_icons_right input {height: 40px;line-height: 40px;padding: 0px 0px 0px 50px;outline: none;}
.search_icons_right button {margin: 0px;padding: 0px !important;border-radius: 0px !important;background: transparent;box-shadow: 0px 0px 0 !important;border-width: 0;position: absolute;left: 10px;z-index: 2;top: 50%;transform: translate(0, -50%);outline: none;}
.user_img{overflow: hidden;}
.accordion_me ul {width: 100%;}
.accordion_me .panel-title i {display: table-cell;position: absolute;right: 0px;}
.panel-title{position: relative;}
.resident_name{padding: 10px;}
.Resi_details{margin: 0px;}
.modal-backdrop.in{opacity: 0.7 !important;}
.phone_icons{width: 45px;}

.d-none{display: none!important;;}
input[type=checkbox][disabled] +span{opacity: 0.2;}


/*React select*/
.Select-placeholder{top: 2px !important;}
.Select-placeholder,.Select-value-label{font-size: 14px;font-weight: 300 !important;}
.Select-input{background: none !important;}
div.Select-control{height: 40px;border: 1px solid #1e1e1e;background: #1e1e1e;}
.Select-arrow {border-color: #fff transparent transparent !important;border-style: solid;border-width: 12px 9px 2.5px !important;
    display: inline-block;height: 9px;width: 0;position: absolute !important;top: 14px;right: 13px;}
.Select.is-open > .Select-control .Select-arrow {border-color: transparent transparent #fff  !important;border-width: 0 9px 12px  !important;
    position: absolute  !important;top: 12px  !important;right: 13px  !important;}
.Select-value-label{color: #fff !important;}
.Select-menu-outer{border-radius: var(--border-radius15) !important; overflow: hidden !important;font-size: 14px !important;font-weight: 300 !important;}

.header_filter .Select-control .Select-input{padding-right: 30px;}
.header_filter .Select-control .Select-input,
.modify_select .Select-control .Select-input{width: 100%;}
.header_filter .Select-control .Select-input > input,
.modify_select .Select-control .Select-input > input{width: 100% !important;}

/*************/

button.add_i_icon {background: none;border: 0px;padding: 0px;}
.button_unadd i:before {background: #1e1e1e;color: #fff;padding: 8px 8px 7px 7px;}
button.button_unadd{background: none;border: 0px;padding: 0px;}
input[disabled] {border: 1px solid #ddd;cursor: no-drop !important;}
input[disabled]+.tooltip {display: none !important;}
.custom_input + .tooltip {top: -4px;left: 50%;transform: translate(-50%);visibility: hidden;}
.icon.icon-add-icons.create_add_but::before {display: inline-block;vertical-align: middle;text-align: left !important; float:left; font-size: 31px;}
a.Plus_button{padding: 4px 5px;}
a.inherit-color {color: inherit !important;}
.no_record {background: #e6e6e6;color: #777;text-align: center;}
.pin_error {text-align: center;color: #cc0000;}

/*********react calnder ****/
.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name{width: 2.5rem !important;}
.react-datepicker__time-box ul{height: 150px !important;}
.react-datepicker{font-size: 1.1rem !important;display: flex !important;}
.react-datepicker__current-month{font-size: 1.3rem !important;}
.react-datepicker__header{background-color: #1e1e1e;}
.react-datepicker__day-name,
.react-datepicker__current-month{color: #fff !important;}
.react-datepicker__day--keyboard-selected,
.react-datepicker__day--selected{background-color: #1e1e1e;}
.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle{border-bottom-color: #1e1e1e;}
.react-datepicker-popper{z-index: 9999 !important;}


/*********react table ****/
.listing_table .ReactTable{border: 0px;}
.listing_table  .rt-tr-group{margin: 10px 0px 0px;}
.listing_table .ReactTable.-striped .rt-tr.-odd {background: rgba(0,0,0,0.03);border: 0px; align-items: center;     min-height: 40px;}
.listing_table .ReactTable.-striped .rt-tr.-even {background: #fff;border: 0px; align-items: center;     min-height: 40px;}
.listing_table .ReactTable .rt-thead .rt-th{padding: 11px 10px;text-align: left;}
.listing_table .ReactTable .rt-thead .rt-tr{background: #1e1e1e;color: #fff;}
.listing_table .ReactTable .rt-tbody .rt-td,
.listing_table .ReactTable .rt-thead .rt-th {border-right: 1px solid rgba(0, 0, 0, 0.12);}
.listing_table .ReactTable .rt-thead.-header{box-shadow: none;}




/*****profile dropdown******/
.box_wide .Select-placeholder, .box_wide .Select-value-label{font-size: 14px !important;}
.box_wide .Select-input,
.box_wide .Select-control,
.box_wide .Select-value-label,
.box_wide .Select-value{height:20px;line-height: 18px;}
.box_wide .Select-placeholder{height:20px ;line-height: 15px ;}
.box_wide .Select-arrow {border-width: 7px 6px 2.5px !important;top: 8px !important;right: 7px !important;}
.box_wide .Select.is-open > .Select-control .Select-arrow{border-width:0px 6px 7px !important;top: 8px !important;right: 7px !important;  }
.box_wide .Select-control,
.box_wide .Select-menu-outer{border-radius: 4px !important;}

.Select-arrow, .Select.is-open > .Select-control .Select-arrow,
.box_wide .Select-arrow, .box_wide .Select.is-open > .Select-control .Select-arrow{border-width: 0px  !important;}
.Select-arrow::before,.box_wide .Select-arrow::before{content: "\66";font-family: "icons_me";border-width: 0px;top: -3px;position: absolute;
    margin-left: -15px;color: #fff;font-size: 14px;}
.Select.is-open > .Select-control .Select-arrow::before,
.box_wide .Select.is-open > .Select-control .Select-arrow::before{content: "\68";font-family: "icons_me";border-width: 0px;top: -3px;position: absolute;
    margin-left: -15px;color: #fff;font-size: 14px;}
.box_wide .Select-arrow::before,
.box_wide .Select.is-open > .Select-control .Select-arrow::before {top: -7px;margin-left: -12px;font-size: 10px;}

.ReactTable .-pagination .-pageJump input {width: 70px;text-align: center;display: flex;height: 35px;align-items: center;padding: 0;vertical-align: middle;line-height: 0; color: #fff;}
.ReactTable .-pagination select{height: 35px;border:1px solid transparent;}
.ReactTable .-pagination .-pageSizeOptions {margin: 3px 10px; overflow: hidden;border: 1px solid #ddd;}
div.ReactTable .-pagination .-center{flex: 15;}
.filter_select .Select-arrow::before,
.filter_select .Select.is-open > .Select-control .Select-arrow::before {color: #1e1e1e;}

input.radio_input{height:10px;}
input.radio_input[type=radio   ]:not(old){width:27px;margin: 0;padding: 0;font-size: 1em;opacity: 0;}
input.radio_input[type=radio   ]:not(old) + label{display : inline-block;margin-left: -2em;line-height: 1.5em;}
input.radio_input[type=radio   ]:not(old) + label > span{display: inline-block;width  : 17px;height : 17px;margin : 5px 3px 0.25em 0.25em;
    border : 1px solid #1e1e1e;border-radius:var(--border-radius100);background: #fff;vertical-align: bottom;cursor: pointer;}
input.radio_input[type=radio   ]:not(old):checked + label > span{background: #fff;}
input.radio_input[type=radio]:not(old):checked + label > span > span{display:block;width:11px;height:11px;margin:0.125em;border:0.0625em solid #fff;
    border-radius: 0.125em;border-radius:var(--border-radius100);background   : #000;margin-top:2px;
}


div.Toastify__toast--success,
div.Toastify__toast--error{font-weight: 400;border-radius: 5px;}
div.Toastify__toast--error{color:#721c24;}
div.Toastify__toast--success{color:#155724;}
div.Toastify__close-button{color:#777;opacity:1;}
div.Toastify__toast{text-align: center;padding: 0px 8px;}
/* div.Toastify__toast--success {background: #d4edda;} */
div.Toastify__toast--error {background: #f8d7da;}
div.Toastify__toast-container{width: 430px; z-index: 999999;}

.block-ui.block_ui_custom {position: initial !important;}
.block-ui.block_ui_custom .block-ui-container{position: initial !important;}
.block-ui.block_ui_custom .block-ui-message-container{margin-top:10px !important;}
.block-ui.block_ui_custom .loading-indicator{opacity:0 !important;}

.forgetten_pin a {color: #1e1e1e;font-weight: 500;font-size: 15px;text-decoration: underline;}
.Pin_success {color: #329c36;font-weight: 500;font-size: 17px;}


.react-datepicker__year-dropdown{overflow-y:scroll !important;height:150px !important;}
.react-datepicker__year-read-view {border: 1px solid #fff !important;color: #fff !important;}
.react-datepicker__year-read-view--down-arrow{top: 10px !important;margin-right: 5px;}

.custom_select + .tooltip {white-space: nowrap;width: auto !important;}
.multiple_checkbox_tooltip  .tooltip{white-space: nowrap;width: auto !important;}


.margin_right_side .rt-resizable-header-content {overflow: visible !IMPORTANT;text-overflow: initial !important;margin-right: -30px !important;text-align: right !important;}

.avalibilty_div{margin: 0px auto !important;padding: 0px;background:#e6e6e6; padding-top: 30px;}
.avalibilty_div .calendar_me tr td{height:20px;}
.avalibilty_div table.calendar_me tr th {height: 25px;}
.avalibilty_div .calendar_me tr td {border-top: dashed 1px #cdcccc !important;border-right: 1px solid #cdcccc !important;}


.required .react-datepicker-wrapper,
.required .react-datepicker__input-container{width: 100% !important;}
input.p-hidden, input.p-hidden.error { margin-top: -40px;}

.upload_btn i.but {position: relative;}
.set_alignment{min-height: 300px;  max-height: auto;}
.clearable-show .Select-clear {display: block !important;margin-right: 10px;}

ul.file_down li.active span:after {content: "\70";position: absolute;margin: 14px -48px;background: #fff;font-family: "icons_me";
    padding: 2px;border: 1px solid #4CAF50;display: inline-block;height: 24px;width: 25px;line-height: 20px;text-align: center;
    color: #4CAF50;font-size: 19px;border-radius: 20px;}
.bg_dark_Pink .archive_Icon:before,
.bg_dark_yello .archive_Icon:before{font-size: 30px;color: #f6f6f6;
}


ul.file_down li .path_file {font-size: 11px;line-height: 15px;width: auto;word-break: break-word;text-align: center;display: inline-block;}

.visibilty-hidden{visibility: hidden;}



/******** schedules listings *******/
.schedule_listings .rt-tr-group{margin-bottom: 10px; overflow: hidden;}
.schedule_listings .ReactTable .rt-tbody  .rt-tr-group:nth-child(odd) .rt-tr,
.schedule_listings .ReactTable .rt-tbody  .rt-tr-group:nth-child(odd) .other_conter{background: #fff !important;}
.schedule_listings .ReactTable .rt-tbody  .rt-tr-group:nth-child(even) .rt-tr,
.schedule_listings .ReactTable .rt-tbody  .rt-tr-group:nth-child(even) .other_conter{background: rgba(0,0,0,0.07) !important;}
.schedule_listings .ReactTable .rt-thead.-header{ margin-bottom: 15px !important;  margin-top: 15px !important;}
.schedule_listings .ReactTable .rt-tbody  .rt-tr-group:nth-child(odd) .rt-td,
.schedule_listings .ReactTable .rt-tbody  .rt-tr-group:nth-child(even) .rt-td{ background: none !important;}
.schedule_listings .ReactTable.-striped .rt-tr.-odd,
.schedule_listings .ReactTable.-striped .rt-tr.-even{ background: none !important; font-weight: 400 !important;}
.schedule_listings .rt-td.rt-expandable div i:before { line-height: 28px;}
.schedule_listings .ReactTable .rt-th, 
.schedule_listings .ReactTable .rt-td{padding: 0px 5px 0px 5px; line-height: 40px;}
.schedule_listings .ReactTable label { margin-bottom: -5px;}
.schedule_listings .ReactTable .rt-thead .rt-resizable-header-content{line-height: 40px;}
.schedule_listings .rt-resizable-header-content { text-align: left;}
.schedule_listings .ReactTable{ border: 0px solid #fff;}
.schedule_listings .ReactTable .rt-thead.-header .rt-tr {border-top: 1px solid #1e1e1e;border-bottom: 1px solid #1e1e1e;}
.schedule_listings .ReactTable .rt-tbody .rt-tr{font-weight: 400;}
.schedule_listings .ReactTable .rt-tbody .rt-td {border-right: 1px solid rgba(0,0,0,0.09);}
.start_in_color{color: #cc3366;}
.schedule_listings .other_conter{font-weight: 400;padding: 15px 10px; border-top: 1px solid rgba(0,0,0,0.09);}
.schedule_listings .other_conter li{list-style: none;}
.schedule_listings .rt-expandable i:before {display: inline-block;vertical-align: middle;}
.filter_select .Select-value-label { color: #1e1e1e !important;}
.schedule_listings .rt-tr.-padRow.-odd, .schedule_listings .rt-tr.-padRow.-even{visibility: hidden !important;}
.filter_select .Select-value-label{font-size: 18px !important;}
.react-datepicker__close-icon::after{background-color: #1e1e1e !important;}
.react-datepicker__year-read-view--down-arrow{top: 4px !important;}
.Select-placeholder,.Select--single > .Select-control .Select-value{max-width: 85% !important;padding-right: 20px !important;}
.schedule_listings .ReactTable .rt-thead .rt-td, 
.schedule_listings .ReactTable .rt-thead .rt-th{padding: 0px 5px;}
.schedule_listings.aprvl_rcTable11  .ReactTable .rt-thead .rt-td, 
.schedule_listings.aprvl_rcTable11  .ReactTable .rt-thead .rt-th{padding: 0px 5px;}
.schedule_listings.aprvl_rcTable11  .ReactTable .rt-thead .rt-th:first-child{padding-left: 15px;}
.schedule_listings.aprvl_rcTable11 .ReactTable .rt-thead.-header .rt-tr .rt-th{background: var(--bg-color);}
.schedule_listings.aprvl_rcTable11 .ReactTable .rt-thead.-header{border-radius: var(--b-radius);overflow: hidden;}

.listing_table i.icon.icon-views:before,
.schedule_listings i.icon.icon-views:before { font-size: 23px; display: inline-block; line-height: 21px; vertical-align: middle; color: #1ca177;}
.icon_h-1:before {display: inline-block;vertical-align: middle;font-size: 26px;}

/*Auto complete*/
.auto-s input + div {border-radius: var(--border-radius15) !important;height: auto !important;position: initial !important;}
.auto-s .search_result{padding: 15px !important;font-weight: 400 !important;}
.auto-s{min-height:0px !important;left:0px;width: 100% !important;max-height: 100% !important;  }
.auto-s input{width: 100% !important;}
.auto-s div:first-child{width: 100% !important;}
.auto-s button{ margin-top: 0px !important;}
/**/

.p-relative{position: relative;}
.p-relative div div {position: absolute !important;height: auto !important;width: 100% !important;top: 42px !important;
    left: 0 !important;min-height: 100%;float: left;border-radius: var(--border-radius15) !important;overflow: unset !important;z-index: 9999;}
.p-relative div{border-radius:var(--border-radius15) !important;}
.p-relative div div li{display: block !important;width: 100%;list-style: none;}
.p-relative div div li:first-child{border-radius:var(--border-radius15) var(--border-radius15) 0px 0px !important;}
.p-relative div div li:last-child{border-radius: 0px 0px var(--border-radius15) var(--border-radius15) !important;}

.update_button_g {
    color: #fff; 
    padding: 2px;background: #1e1e1e;display: inline-flex;;font-size: 45px;border-radius:var(--border-radius100); height: 50px; width:50px; align-items: center; justify-content: center;}
.color_d span {color: #1e1e1e;}
.call_icon:before {display: inline-block;vertical-align: top;font-size: 21px;}
ul.landing_graph.enter_but li a:hover {color: #fff;}
.landing_graph  .radi_2 h2.cl_black{color:#000 !important; width: 100%;}
.landing_graph .radi_2 {display: flex;flex-wrap: wrap;}

.input_search.change_b {background-clip: initial;background-origin: initial;}
.input_search button {    margin-top: 5px;margin: 0px;padding: 0px !important;border-radius: 0px !important;background: transparent;
    box-shadow: 0px 0px 0 !important;border-width: 0;position: absolute;right: 0px;z-index: 2;top: 50%;transform: translate(0, -50%);outline: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul.on_form_to_search li span {display: inline-block !important;font-size: 12px;}
ul.on_form_to_search li span input {border: 0px solid #000 !important;padding: 0px;padding-left: 1px;background: none;font-size: 12px;text-align: left;width: 75px;height: 30px;line-height: 30px;display: flex;
    justify-content: center;vertical-align: middle;align-items: center;}

.input_search.change_b span.icon.icon-search {font-size: 27px;color: #1e1e1e;}
ul.on_form_to_search li {text-align: center;width: 32%;float: left;border: 1px solid #1e1e1e;display: inline-block;background: #fff;}
.input_search input {height: 50px;line-height: 50px; padding: 10px 50px;outline: none;}
ul.on_form_to_search li:nth-child(2) {margin: 0px 1%;}
.input_search.change_b button {margin-top: 2px;}

input::-webkit-input-placeholder {font-weight: 300;}
input::-moz-placeholder {font-weight: 300;}
input:-ms-input-placeholder {font-weight: 300;} 
input:-moz-placeholder {font-weight: 300;}



/**/


/*Calendar*/
.member_shift {margin-top:15px;background: #fff;padding-bottom: 30px;}
.member_shift #example-component,
.member_shift .rbc-calendar{position: relative;}
.member_shift .rbc-btn-group span{cursor:pointer;}
.member_shift .rbc-btn-group span.icon.icon-arrow-left{position: absolute;left:0;}
.member_shift .rbc-btn-group span.icon.icon-arrow-right{position: absolute;right:0;}

.rejected_shift {opacity: 0.4 !important;;}
.accepted_shift{opacity: 1 !important;}

.default_validation .Select-control {overflow: visible;}
.default_validation .Select-control .Select-multi-value-wrapper .Select-input input {width: 100% !important;height: 35px;line-height:37px;border: 0px solid #fff !important;font-size: 15px;margin: 0px !important;padding-top: 0px !important;color: #ffff;}
.shift_start_heading span.g_heading_color {color: #4CAF50;}

ul.status_new {list-style: none;display: inline-block;}
ul.status_new li{display: inline-block;vertical-align: middle;}
ul.status_new li {display: inline-block;vertical-align: middle;margin-right: 16px;font-size: 16px;font-weight: 300;}
ul.status_new span {width: 15px;height: 15px;display: inline-block;vertical-align: middle;border-radius: 2px;margin-right: 5px;}

.Confirmed{background:#89e0a9 }
.Unconfirmed{background: #e0da8c }
.Cancelled{background: #ff7a7b}
.unfilled{background: #a3b5c7}

.flex_ul_div{display: -webkit-box;display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;font-weight: 300;padding:5px 10px;font-size: 16px;}
.flex_ul_div:nth-child(even){background: #eee;}
.flex_ul_div div:first-child{-webkit-box-flex: 0;-ms-flex: 0 0 20%;flex: 0 0 20%;max-width: 20%;}
.flex_ul_div div:nth-child(2){-webkit-box-flex: 0;-ms-flex: 0 0 15%;flex: 0 0 15%;max-width: 15%;}
.flex_ul_div div:nth-child(3){-webkit-box-flex: 0;-ms-flex: 0 0 65%;flex: 0 0 65%;max-width: 65%;}
.flex_ul_div.heading_list_net {background: #1e1e1e;padding: 0px;color: #fff;}
.flex_ul_div.heading_list_net div{padding: 10px;}

.roster_border_td {border-right: 0px !important;border-left: 1px solid #ddd !important;min-width: 30px !important;width: 30px !important;
    vertical-align: bottom;padding-left: 10px;
}

.but_submit{cursor:pointer;}
.width_130 path.CircularProgressbar-path {stroke: #009688;}
.width_130 path.CircularProgressbar-trail {stroke: red;}
.hand_effect .rt-tbody .rt-tr-group {cursor: pointer;}
.rt-resizable-header-content span small{font-size: 10px;}

.panel-title a i {transform: rotate(180deg);top: 9px;margin-right: 10px;font-size: 15px;}
.add_input button i:before {background: #fff;}
.but_submit:hover{color: #fff;}
.nav-tabs{border-bottom: 0px;}

/** Modal **/
.modal-dialog .modal:before {display: inline-block;vertical-align: middle}
.modal {text-align: center;padding: 0}
.modal-dialog {text-align: left}
.Modal_A .close,
.Modal_B .nice-select.wide .list {text-align: center}
.fade-scale {transform: scale(0);opacity: 0;-webkit-transition: all .25s linear;-o-transition: all .25s linear;transition: all .25s linear}
.fade-scale.in {opacity: 1;transform: scale(1)}
.Modal_A .modal-dialog {width: 500px}
.Modal_A .close {float: none;margin: 0 auto;opacity: 1;display: table}
.Modal_A .lock_icon {display: table;margin: -50px auto 0}
.Modal_A .modal-body {padding: 15px 30px}
.Modal_A .text {font-size: 20px;line-height: 40px;height: 40px}
.Modal_A .six_digit input {width: 240px;height: 40px;line-height: 40px;display: table;margin: 0 auto;text-align: center;padding: 4px 6px;outline: 0;font-size: 14px}
.Modal_A .six_digit {margin: 25px auto 10px}
.Modal_B .modal-dialog {width: 680px}
.modal-dialog.modal_size_in {width: 900px}
.Modal_B .modal-body {display: table;width: 100%}
.Modal_B .modal-body .dis_cell {display: table-cell}
.Modal_B .modal-body .dis_cell:nth-child(2n) {width: 40px;padding-left: 15px}
.Modal_B .modal-body {padding: 20px 25px}
.Par_modal .modal-dialog,
.Schedule_Modal_2 .modal-dialog {width: 750px}
.modal-content {background: #fff}
.width_700 .modal-dialog {width: 700px}
.big_modal .modal-dialog {width: 1100px}
.mess_V_1 .nav_apps {padding: 0;}

/** D */
a .Ext_1{ font-size: 90px;}
a .Int_1{ font-size: 90px;}

.int_mail_1-D .message-text {font-size: 13px;display: table;margin-bottom: 5px; display: inline-flex; word-break: break-all;}
.date_and_content{display: flex;vertical-align: bottom;align-items: baseline;justify-content: end; word-break: break-word;}
.date_and_content .message-text{width: 100%;}
.no_Msg {font-weight: 400;text-align: center;margin-top: 210px;font-size: 25px;}

.timer_div .react-datepicker,
.timer_div .react-datepicker-popper,
.timer_div .react-datepicker__time-container,
.timer_div .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box{width: 100% !important;}
.timer_div .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list{padding-right: 0px !important;}

span.Short_text {width: 30px;height: 30px;background: #fff;border-radius: var(--border-radius100);display: inline-flex;text-align: center;justify-content: center;
    vertical-align: middle;align-items: center;border: 1px solid #1e1e1e;font-size: 18px;font-weight: 600;margin-right: 5px;}
span.Nam_d_1 {background: #fff;display: inline-flex;padding: 1px 11px;margin-right: 5px;}
.update_team {font-size: 32px;display: inline-flex;justify-content: center;margin-left: 0;vertical-align: middle;color: #09a275;cursor: pointer;}

.scroll-3 .panel-title i.more-less {transform: rotate(0deg);top: 8px;left: 0;font-size: 20px;}
.scroll-3 .panel-title .collapsed i.more-less {transform: rotate(270deg);top: 9px;left: 0;}
.scroll-3 .resident_name{padding-left: 25px;}

.colorPicker div{display: inline-block;width: 16px;height: 16px;border-radius:var(--border-radius100);margin: 0px auto;}
.colorPicker {border: 1px solid #1e1e1e;display: flex;height: 40px;padding: 9px;text-align: center;background: #fff;}
.team_members_div {display: flex;margin-bottom: 5px;}
.t_m_d_1 {background: #fff;padding: 7px;border-radius: var(--border-radius100);margin-right: 7px;height: 40px;width: 40px;vertical-align: middle;align-items: center;justify-content: center;}
.t_m_d_2 {background: #fff;display: flex;padding: 5px 25px;margin-right: 5px;font-size: 15px;font-weight: 500;vertical-align: middle;justify-content: center;text-align: center;align-items: center;margin-bottom: 2px;}
.t_m_d_3 i.icon.icon-email-pending {font-size: 31px;display: inline-flex;vertical-align: middle;justify-content: center;color: #cc3366;}

.modal-backdrop{z-index: 9999 !important;}
.modal{z-index: 99999  !important;}
.react-confirm-alert-overlay{z-index: 999999  !important;}
.tooltip{z-index: 8;}

.w_100_date .react-datepicker-wrapper,
.w_100_date .react-datepicker__input-container{ width: 100%;}
.icon-attach_btn, .icon-un_attach_btn{display: flex;align-items: center;line-height: 0;height: 100%;width: 100%;justify-content: flex-end;padding-right: 10px;}
.icon-attach_btn i:before, .icon-un_attach_btn i:before {font-size: 26px;display: flex;align-items: center;line-height: 0;height: 100%;width: 100%;}
.icon-attach_btn i:before {color: rgb(17, 179, 98);}
.icon-un_attach_btn,.icon-un_attach_btn i:before {color: #cc3366;}
.fms_accor .panel-title ul li.li_fms_1{width: 77%;} 
.fms_accor .panel-title ul li.li_fms_2 {min-width: 170px;width: 17%;}
.moni_btn {background: #ccc;display: flex;height: 40px;text-align: center;justify-content: center;align-items: center;
    font-weight: 400;font-size: 18px; color: #1e1e1e;}
.moni_btn.active{background: #e6e6e6;color: #777;}
.moni_btn:before {font-family: "icons_me";content: "\69";position: absolute;left: 25px;font-size: 15px;}

.pm_green_regular {background: #08b750 !important;border:1px solid #08b750 !important;}
.f_color_size{display: flex;}
.align_e_1{display: inline-flex;align-items: center; margin: 2px 0px;}
.align_e_2{display: inline-flex;align-items: center; margin: 2px 0px; justify-content: flex-end;border-bottom: 1px solid transparent;}
.h_small i {display: inline-flex;align-items: center;}

.modify_select .Select.is-searchable.Select--single .Select-control {background: #fff !important;}
.modify_select .Select-arrow::before{content: "\33"!important;font-family: "icons_me" !important;border-width: 0px;top: -7px;position: absolute;margin-left: -21px;color: #1e1e1e;font-size: 22px;}
.modify_select .Select.is-open > .Select-control .Select-arrow::before{content: "\33"!important;font-family: "icons_me" !important;border-width: 0px;top: -5px;position: absolute;margin-left: -21px;color: #1e1e1e;font-size: 22px;}
.modify_select .Select-placeholder{color: #cacaca !important; }

.not_found_div {padding: 7px !important;border: 1px solid #ddd;text-align: center;font-size: 17px;font-weight: 300;color: #777;}
.align_top_to_1 .align_e_2, .align_top_to_1 .align_e_1 {align-items: flex-start;}
.vw_bx12 span{font-size: 12px; cursor: pointer;}
.vw_bx12 h5{margin-bottom: 0px;}

.myLegend h4{font-weight: bold;margin-bottom: 10px;}
.clr1{color:#777; }
.clr2{color:#ccc; }

.Unfilled {background: rgb(163, 181, 199);}
span.booking_L_T1 i { display: inline-block; line-height: 23px !important; vertical-align: middle; cursor: pointer;}
.but_Change { width: 100%; line-height: 15px; padding: 13px 15px; border: 0px; text-align: center; display: table;
     background: #ccc; font-weight: 400; color: #1e1e1e; font-size: 17px;}

/*** asana ***/
.react-confirm-alert-overlay{background: rgba(0, 0, 0, 0.7) !important;}
.react-confirm-alert{background: #fff; width: 450px;}

.confi_but_div {display: flex;justify-content: space-between;margin-top: 30px;}
.confi_header_div {display: flex;justify-content: space-between;}
.react-confirm-alert .custom-ui {padding: 30px;}
.confi_header_div {display: flex;justify-content: space-between;height: 40px;border-bottom: 1px solid;border-top: 1px solid;align-items: center;margin-bottom: 15px;}
span.icon.icon-cross-icons:before {display: flex;font-size:22px;cursor: pointer;opacity: 1;font-weight: 600 !important;}
.Confirm_btn_Conf {display: inline-flex; justify-content: center; font-size: 16px;width: 140px; margin-right: 0px;background: #39b54a;border: 0;height: 35px;align-items: center;line-height: 0;color: #fff;}
.confi_header_div h3 {color: #1e1e1e;font-weight: 600;font-size: 23px;}
.Cancel_btn_Conf {display: inline-flex; justify-content: center;font-size: 16px;width: 140px; margin-right: 0px;background: #ed1c24;border: 0;height: 35px;align-items: center;line-height: 0;color: #fff;}
.custom-ui p {font-size: 16px;font-weight: 400;line-height: 19px;}
a.Confirm_btn_Conf:hover{color: #fff;}

.U_btn_new a {border: 1px solid #1e1e1e;display: flex;background: #fff;color: #1e1e1e;font-size: 16px;justify-content: center;height: 40px;align-items: center;font-weight: 400;}
.custom_scolling{overflow-y: auto;height: 100%;}

.s-w-d_div:nth-child(odd) {background:#c1c1c166;}

.preferences_modal span.d-flex.s-w-d_div {display: -webkit-box !important;display: -webkit-flex !important;display: -ms-flexbox !important;display: flex !important;}
.s-w-d_div h4 {width: 50%;margin: 0px;vertical-align: middle;align-items: center;display: flex;padding-left: 15px;border-right: 1px solid #ddd;}
.s-w-d_div .cartoon_div {width: 50%;margin: 0px;vertical-align: middle;align-items: center;display: flex;}
.success-cartoon, .worning-cartoon, .danger-cartoon {display: inline-flex !important;width: 40px;height: 40px;position: relative;margin: 8px 10%;}
.success-cartoon input.radio_input[type=radio ]:not(old) + label > span{background: url(/assets/images/admin/success-cartoon-1.svg);}
.worning-cartoon input.radio_input[type=radio ]:not(old) + label > span{background: url(/assets/images/admin/worning-cartoon-1.svg);}
.danger-cartoon input.radio_input[type=radio ]:not(old) + label > span{background: url(/assets/images/admin/danger-cartoon-1.svg);}
.success-cartoon input.radio_input[type=radio ]:not(old) + label > span,
.success-cartoon input.radio_input[type=radio]:not(old):checked + label > span > span,
.worning-cartoon input.radio_input[type=radio ]:not(old) + label > span,
.worning-cartoon input.radio_input[type=radio]:not(old):checked + label > span > span,
.danger-cartoon input.radio_input[type=radio ]:not(old) + label > span,
.danger-cartoon input.radio_input[type=radio]:not(old):checked + label > span > span{
    width: 40px;height: 40px;border: 0;border-radius: 0;background-size: 39px;background-repeat: no-repeat;opacity: 1 !important;margin: 0px !important;}

.Modal_A .ch_Pin_M .lock_icon {margin-top: 0;}
.R1_TEST_1{font-size: 20px;text-align: center;font-weight: 400;margin-bottom: 7px;}
.Modal_A .ch_Pin_M  a.close_i {position: absolute;top: 10px;right: 10px;}
.ReactTable .rt-noData{z-index: 0;}
.color-initial {color: initial;}


.CU_input {position: relative;cursor: pointer;display: inline-flex;margin-bottom: 0px;}
.CU_input input[type=checkbox] {position: absolute;opacity: 0;clip: rect(0 0 0 0);height: 25px;width: 25px;padding: 0;border: 0;left: 0;margin-top: 0px;}
.CU_input .CU_input__img::before{color:#d22e2f; content: "\74";font-family: "icons_me" !important;position: absolute;left: 50%;top: 50%;font-style: initial;font-size: 25px;transform: translate(-50%, -50%);}
.CU_input .CU_input__img {
    display: inline;position: relative;left: 0;width: 25px;height: 25px;background-image: none; color: var(--crm-txt-color);border-color: var(--crm-b-color);border-radius: 3px;cursor: pointer;top: 0px;}
.CU_input input[type=checkbox]:checked + .CU_input__img,
.CU_input input[disabled]:checked + .CU_input__img{background-position: 0 0;}
.CU_input input[type=checkbox]:checked + .CU_input__img::before,
.CU_input input[disabled]:checked + .CU_input__img::before{  font-family: "recruitment-icon";content: "\68";display: flex;font-size: 12px;padding: 0px 1px 0px;    width: 20px;height: 20px;position: absolute;line-height: 0;align-items: center;}
.CU_input input[disabled] + .CU_input__img{opacity: 0.5;cursor: initial;}
.CU_input span {display: inline-flex;height:20px;align-items: center;padding-left: 4px;font-weight: 500;}
.CU_input input[type=checkbox]:checked + .CU_input__img::before, .CU_input input[disabled]:checked + .CU_input__img::before{
    content: "\70";font-family: "icons_me" !important;position: absolute;left: 50%;top: 50%;font-style: initial;font-size: 20px;transform: translate(-50%, -50%);
    border: 1px solid;width: 25px;height: 25px;border-radius:var(--border-radius100); color: #009966;
}
.cbtn_i {display: flex;align-items: center;justify-content: center;text-align: right;float: right;}
.cbtn_i i {display: flex;  font-size: 35px; padding: 0px;}
.Sae_row tr td {background: #7773;}

.CH_row {display: flex;width: 100%;background: #fff; height: 40px;align-items: center;justify-content: space-between;}
.CH_row .CH_d1 {display: inline-flex;height: 100%;align-items: center;padding: 5px 15px;}
.CH_row .CH_d1:first-child{border-right: 1px solid;min-width: 120px;border-color: rgba(0,0,0,0.17);}
.CH_row .CH_date{padding-right: 10px;}
.CH_i2 {font-size: 22px;line-height: 22px;width: 30px;text-align: center;}
.CH_i1 {font-size: 28px;line-height: 22px;color: #05adee;width: 30px;text-align: center;}
.CH_div .CH_row {margin: 10px 0px;font-weight: 400;}
.CH_div .CH_row:nth-child(odd){background: rgba(0, 0, 0, 0.06);}

.aprvl_rcTable11 .rt-tbody .rt-td{padding-left: 10px !important;}
.apr_col i{font-size: 27px; margin-right: 10px; opacity: 0.5; cursor: pointer;}
.apr_col i.active,.apr_col i:hover{opacity: 1;}
.apr_col i.deny_request{color: red;  }
.apr_col i.approve_request{color: green; }
.apr_col i.active{cursor: default;}


.but.cnfrm_btn{width: 200px !important; }
.inl_ulAp{margin-bottom: 10px; }
.inl_ulAp li{display: inline-block !important; margin-right: 15px; margin-bottom: 10px;}

.schedule_listings.aprvl_rcTable11 .ReactTable .rt-thead.-header .rt-tr{color: #fff !important;}
.pin_ic1{color: orange; font-size: 15px;font-size: 22px;
    margin-right: 10px;}
.dsBlck {display: flex;align-items: center;line-height: 0;}
.dsBlck.active i{color:#1ca177}

/* flex property */
.w-25 {width: 25%;}.w-50 {width: 50%;}.w-55 {width: 55%;}.w-65 {width: 65%;}.w-75 {width: 75%;}
.w-80 {width: 80%;}.w-85 {width: 85%;}.w-95 {width: 95%;}.w-100 {width: 100%;}
.h-4{height:400px;}
.h-45{ height:450px;}
.h-25 {height: 25%;}.h-50 {height: 50%;}.h-55 {height: 55%;}.h-65 {height: 65%;}.h-75 {height: 75%;}
.h-80 {height: 80%;}.h-85 {height: 85%;}.h-95 {height: 95%;}.h-100 {height: 100%;}
.mw-100 {max-width: 100%;}
.mh-100 {max-height: 100%;}
.mx-auto{margin: 0px auto;}

/* 
.d-flex{display: flex;}
.flex-wrap {-ms-flex-wrap: wrap;flex-wrap: wrap;}
.d-inline-flex{display: -webkit-inline-box;display: -ms-inline-flexbox;display: inline-flex;}
.align-self-center {-ms-flex-item-align: center;align-self: center;}
.align-items-end{-webkit-box-align: end;-ms-flex-align: end;align-items: flex-end;}
.justify-content-end {-webkit-box-pack: end;-ms-flex-pack: end;justify-content: flex-end;}
.justify-content-between{-ms-flex-pack: justify;justify-content: space-between;}
.justify-content-around {-ms-flex-pack: distribute;justify-content: space-around;}
.d-inline-flex {display: -webkit-inline-box;display: -ms-inline-flexbox;display: inline-flex;} */

.adrsName{background-color: #efefef;border-radius: 30px; padding: 10px 15px;   padding-right: 60px; position: relative;}
.AdInline{margin-top: 20px;}
.AdInline .adrsName{float: left; margin-right: 15px;     min-width: 265px;}
.AdInline .adrsBlSP{margin-right: 15px;}
.AdBlock .adrsName{width: 100%; margin-bottom: 15px;}
.adrsName::before{content: ''; position: absolute; width: 1px; background: #bcbcbc; height: 100%; top: 0; right: 50px;}
.adrsName span{display: block;color: #555555;font-size: 13px;font-weight: 700;}
.adrsName i{position: absolute;width: 40px;height: 100%;font-size: 20px;right: 0;top: 0;display: flex;align-items: center;color: #d22e2f;}
.wd80M{width: 80%;}
.adIc12{float: left;}
.adrsBlSP{display: flex;  align-items: center; margin-bottom: 15px;}
.bcolor{border-color: #1e1e1e;}

.DD_list ul{margin-left: 25px;}
.DD_list ul li {font-size: 15px;font-weight: 500;margin-bottom: 4px;}
.DD_list ul li:before {content: '';width: 5px;height: 5px;background: #333333;display: inline-block;align-items: center;border-radius: 20px;vertical-align: middle;margin-right: 5px;}

.PL_site .ReactTable .rt-thead .rt-th:first-child, .PL_site .ReactTable .rt-tbody .rt-td:first-child{padding-left: 15px;}
.PL_site .ReactTable .rt-thead .rt-th:first-child, .PL_site .ReactTable .rt-tbody .rt-td:last-child {padding-right: 15px;}

#unfilled_on_app .schedule_listings .ReactTable .rt-tbody .rt-td:first-child{border-right: transparent;}
.icon_h-1{cursor: pointer;}

span.select-wrap.-pageSizeOptions{min-width: 120px;}
span.select-wrap.-pageSizeOptions select::-ms-expand {	display: none; }
span.select-wrap.-pageSizeOptions select {position: relative;z-index: 1; background: transparent; -webkit-appearance: none; appearance: none; width: 100%; cursor: pointer;}
span.select-wrap.-pageSizeOptions{position: relative; color: #fff;}
span.select-wrap.-pageSizeOptions::after {content: "\66";position: absolute;right: 0;font-family: "icons_me"; z-index: 0;
font-size: 13px;width: 22px;height: 35px;text-align: center;display: flex;top: 0;justify-content: start;align-items: center;}
span.select-wrap.-pageSizeOptions.react_arrow_flip::after{
    content: "\68" ;
}
span.select-wrap.-pageSizeOptions select option{background: var(--bg-color);}
span.select-wrap.-pageSizeOptions{background: var(--bg-color)}

.A_R_btn{display: flex;align-items: center;height: 40px;background:var(--bg-color); cursor: pointer;color: #fff;width: 100%;border: 0;padding: 0px;}
.A_R_btn span {display: flex;width: 100%; font-size:14px; font-weight: 400; justify-content: left;align-items: center;height: 100%;padding-left: 15px;}
.A_R_btn i {display: flex;align-items: center;font-size: 26px;height: 100%;width: 45px;justify-content: center;padding-top: 0px;padding-right: 6px;}

.Select-control .Select-placeholder,
.Select--single > .Select-control .Select-value{right: 7px !important;top: 50% !important;transform: translate(7px, -50%);overflow: hidden;-o-text-overflow: ellipsis;text-overflow: ellipsis;white-space: nowrap;height: 32px;line-height: 32px;position:absolute; text-align: center;}
.Select--single > .Select-control .Select-value .Select-value-label{position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);overflow: hidden;-o-text-overflow: ellipsis;text-overflow: ellipsis;white-space: nowrap;width: 100%;
    /* padding-left: 7px; */
    padding-right: 7px;
}
.is-searchable .Select-input input{border-radius: 0px;padding-left: 7px !important;}
.ReactTable .-pagination .-pageInfo {display: flex;align-content: center;height: 40px;line-height: 40px;}

.ReactTable .-pagination .-pageJump {display: inline-block;margin-right: 10px;margin-left: 5px;}
.ReactTable .-pagination .-totalPages {padding-left: 10px;}
div.-pageJump input {border-radius: var(--b-radius) !important;}
.ReactTable .-pagination .-pageJump input{height: 35px;}
div.ReactTable .-pagination .-btn{ color: #fff;}

.-pageJump input[type=number]::-webkit-inner-spin-button, 
.-pageJump input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none !important;-moz-appearance: none !important;appearance: none !important;}
.-pageJump input[type=number] {-moz-appearance:textfield !important;}

.CSD_modal .align_e_1 {font-size: 17px;font-weight: 400;}

.inactive_btn {padding: 0;background: none;font-size: 27px;line-height: 0;color: #ce1e1e;}
.active_btn {padding: 0;background: none;font-size: 27px;line-height: 0;color: #009966;}
.booking_L_T1 {display: flex;align-items: center;width: 100%;justify-content: space-between;height: 100%;}
.booking_L_T2 {display: flex;align-items: center;width: 100%;justify-content: space-between;height: 27px; line-height: 0px;}
.inactive_btn:hover, .inactive_btn:focus{color: #ce1e1e;}

.DD_list ul li:hover{cursor: pointer;}
a{color: inherit}
.Quali_table tr:nth-child(even) td{background: #fff;}
.Quali_table tr:nth-child(odd) td {background: #fff}
.Quali_table  tfoot td{background: none !important;}
/* .Quali_table tr.bg_dark_Pink td{background: #cc3366 !important; color: #fff;} */
/* .Quali_table tr.bg_dark_yello td{background: #e89c24 !important; color: #fff;} */
.but_Change.active{background: #e6e6e6;}


.Unot_A_table .ReactTable .rt-tbody .rt-td:first-child{padding: 0px;}
.Unot_A {display: inline-flex;width: 100%;background: #ed1c24;min-height: 40px;align-items: center;color: #fff;border-radius: var(--b-radius) 0px 0px  var(--b-radius);}
.Unot_A_table .ReactTable .rt-tbody .rt-td:first-child span{padding-left: 15px;}
.Tb_class_d1 span {display: flex;justify-content: space-between;width: 100%; align-items: center;}
.ReactTable .rt-td.Tb_class_d1 {white-space: initial}
.Tb_icon_L1 {font-size: 23px;display: inline-flex;align-items: center; cursor: pointer;     color: #cc0000;}
.Tb_icon_P1 {display: inline-flex;font-size: 22px;align-items: center;}
.schedule_listings.PL_site1 .ReactTable .rt-tbody .rt-td:first-child{padding-left: 15px;}
.header_none_react_table .rt-thead.-header {display: none;}
.align_e_2 {justify-content: flex-end; text-align: right;}
.ConH_Btn span {font-size: 16px;}
.ConH_Btn i::before {font-size: 26px;display: flex;height: 32px;align-items: center;padding-right: 3px;}
.ConH_modal .text {height: 45px;display: flex;width: 100%;justify-content: space-between;align-items: center;font-weight: 400;font-size: 22px;}
.ConH_modal .booking_L_T1 i:before {display: flex;font-size: 23px;align-items: center;}
.ConH_modal .listing_table .ReactTable.-striped .rt-tr.-even {box-shadow: 0px 0px 5px 1px #d2d2d282;}
.ConH_modal .listing_table .ReactTable.-striped .rt-tr.-odd {box-shadow: 0px 0px 5px 1px #d2d2d282;}
.ConH_modal .ReactTable .rt-tbody{padding:1px; }
.ConH_Sear input {height: 45px;padding: 0px 15px 0px;font-size: 17px;line-height: 44px;}
.ConH_Sear button span{font-size: 26px;}
.Imail_btn_left_v1 .upload_btn input {opacity: 0;}
.attach_txt{display: flex;}
.attach_txt span {font-size: 14px;font-weight: 300;}
.attach_txt i {margin-left: 5px;cursor: pointer;color: red;font-size: 17px;}
.but_around_second li a {display: table;margin: 0px auto;}

.VEC_btn{border-color: #1e1e1e; color: #1e1e1e;}

.archive_Icon{ cursor: pointer;}
.active_user::first-letter {text-transform: capitalize;}
div.ReactTable .rt-noData{z-index: 0;}
.add_input button i.icon_cancel_1 {font-size: 23px; padding-top: 4px;}

.Imail_Name_div {display: flex;justify-content: space-between;align-items: center;}
.Imail_Name_div_1 {display: inline-flex;align-items: center;}
.Imail_close_icon{display: inline-flex;align-items: center;}
.Imail_Img_div_1 img {width: 100px;}
.Imail_Img_div_1 {overflow:hidden; width: 40px;height: 40px;background: #fff;border-radius:var(--border-radius100);border: 1px solid;border-color: #ce1e1e;display: flex;justify-content: center;align-items: center;}
.Imail_close_icon {display: inline-flex;align-items: center;height: 100%;max-width: 40px;width: 40px;justify-content: center;font-size: 22px;color: #fff;line-height: 0;cursor: pointer;}
.Imail_Name_div_1 {display: inline-flex;align-items: center;width: 100%;background: #fff;border-radius:  var(--b-radius);}
.Imail_Name_txt {width: 160px;text-align: center;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;font-size: 16px;margin: 0px;}
.Imail_Des_div {background: #fff;border-radius: var(--border-radius15);padding: 10px;margin-top: 5px;}
.Imail_Des_Title_div {display: flex;justify-content: space-between;align-items: center;border-bottom: 1px solid;border-color: #ccc;}
.Imail_Des_Time {font-size: 11px;font-weight: 400;}

.Imail_Des_txt {font-size: 13px;font-weight: 400;}
.Imail_Des_Title1 label {font-size: 16px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;margin: 0px;}
.Imail_Des_Title1{width: 140px; }
.Imail_Des_txt {font-size: 13px;display: block;display: -webkit-box;max-width: 100%;margin: 0 auto;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;margin-top: 5px;}
.Imail_Reply_btn a {font-size: 12px;color: #fff;background: #FF2D55;display: inline-flex;align-items: center;width: 56px;justify-content: center;height: 23px;font-weight: 400;border-radius: 10px;}
.Imail_Reply_btn {display: flex;justify-content: flex-end;margin-top: 4px;}
.Imail_MSG_div {padding: 20px 10px;border-bottom: 1px solid;border-color: #857e7e78;}
.left_menu_content .Imail_MSG_div:first-child{border-top: 1px solid;border-color: #857e7e78;}
 

.left_menu_content::-webkit-scrollbar {width: 5px;}
.left_menu_content::-webkit-scrollbar-track { background-color:none; border-left: 0px solid ; border-radius: 10px;}
.left_menu_content::-webkit-scrollbar-thumb { background-color:#ccc; border-radius: 10px;}
.left_menu_content::-webkit-scrollbar-thumb:hover {background-color: #777;}

.Imail_Des_Title1 label::first-letter, .Imail_Name_txt::first-letter {text-transform: capitalize;}
.Modal_A.Modal_B.O_Modal_size .modal-dialog{width: 1024px}
.Modal_A.Modal_B.M_Modal_size .modal-dialog {width: 750px;}
.but.VEC_btn{color: #fff; background: #1e1e1e;}

.Tb_class_d1 span{white-space: nowrap;}
.Tb_class_d1 span div{overflow: hidden;text-overflow: ellipsis;}
.Edit_i1 {font-size: 21px;color: #1ca177;cursor: pointer;}
.Arch_i1 {font-size: 23px;color: #cc3366;cursor: pointer;}

.H_B_1 {display: inline-flex;width: 100%;min-height: 40px;justify-content: center;align-items: center;font-weight: 400;font-size: 17px;background: #ccc;border-radius: var(--b-radius);}
.Pass_Ma1 {text-align: center;margin-top: 70px;}

.pagination-bottom {margin: 0px auto;}

.modify_select_big div.Select-control {height: 50px;}
.modify_select_big .Select-control .Select-placeholder, 
.modify_select_big .Select--single > .Select-control .Select-value{height:48px;line-height: 48px;}
.modify_select_big .Select-input{height: 48px;}
.modify_select_big .default_validation.search_icons_right.modify_select .Select-input input{height: 48px; font-size: 18px;}
.modify_select_big .modify_select  .Select-arrow::before {top: -5px;margin-left: -32px;font-size: 29px;}
.modify_select_big .Select.default_validation.search_icons_right.modify_select.is-searchable.Select--single .Select-arrow::before {top: -5px;margin-left: -32px;font-size: 29px;}
.modify_select_big .Select-placeholder{ font-size: 18px;}
.hand_cursor{cursor: pointer;}


.MSG_Tooltip .tooltip-inner{background: #000 !important;background-color: #000 !important;}
.MSG_Tooltip.tooltip.bottom .tooltip-arrow {border-bottom-color: #000 !important;}
  
span.mail_d_not {position: absolute;right: -10px;background: #ff2d55;min-width: 35px;min-height: 35px;color: #fff;text-align: center;display: flex;
    justify-content: center;align-items: center;font-size: 18px;font-weight: 400;border-radius: var(--border-radius100);top: -10px;}
.toggled_new .overlay_bg,
.toggled .overlay_bg  {position: absolute;width: 100%;height: 100%;z-index: 999;margin-top: 53px;}

.block-ui-overlay{height: 100vh;}
.AL_flex {display: flex;align-items: flex-end;}
html, body{min-height:calc(100vh - 65px);}

.Select_MSG_Show {background: #fff;padding: 10px;border-radius: 10px;font-size: 15px;font-weight: 400;margin-top: 14px;border: 1px solid var(--bg-color);position: relative;padding-right: 0px;}
.Select_MSG_Show_scroll {min-height: auto;overflow-y: auto;max-height: 72px;}
.Select_MSG_Show_scroll div {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;position: relative;}
.Select_MSG_Show::after {border-bottom: 17px solid var(--bg-color);border-left: 2px solid var(--bg-color);content: '';position: absolute;left: 10px;top: -17px;}
.Select_MSG_Show_scroll div i {position: absolute;right: 8px;font-size: 11px;top: 3px;cursor: pointer;}
.block-ui{position: static !important;}
.back_arrow{cursor: pointer;}
.compose_scroll {display: flex;width: 100%;flex-wrap: wrap;height: 510px;overflow: auto;}
.upload_btn .attach_im {margin: 0;}
.accordion_me .panel-group .panel + .panel {padding: 0px;}
.preferences_modal .scroll_active_modal {padding: 0px;}
.resident_name.py-0 {padding-top: 0;padding-bottom: 0;}
.mess_V_1 .nav_apps div {margin-left: 0;margin-bottom: 0;}
._Common_back_a a {display: inline-flex;}
.ho{cursor: pointer;}

._Common_He_a {display: flex; display:-webkit-box; display:-moz-box; display:-ms-flexbox; display:-webkit-flex; align-items: center;padding: 25px 0px;}
._Common_back_a {display: flex; display:-webkit-box; display:-moz-box; display:-ms-flexbox; display:-webkit-flex; flex-wrap: wrap;padding: 10px 0px;}
._Common_Search_a {display: flex; display:-webkit-box; display:-moz-box; display:-ms-flexbox; display:-webkit-flex; align-items: center;padding: 20px 0px;}
._Common_He_a h1,
h3.color {
    display: flex;
    line-height: normal;
    align-items: center;
}

.dropdownMenu ul.Sub_in_sub{display:block}
.Sub_in_sub ul li a{padding:0;font-weight:400;padding-left:25px;font-size:13px;padding-bottom:3px}
.sideNavies__ li a{font-size:13px;font-weight:400;padding:0}
.sideNavies__ .Sub_in_sub li a{padding-bottom:5px;padding-top:5px}
div.sideHead1__{min-height:65px}
aside.main_sidebar__{height:107%}
footer{z-index:-1}
.removeDropdown .icon-arrow-right{display:none}
.dropdownMenu.removeDropdown ul{display:block}
.sideNavies__ li .drpHdng a{padding:0}
.landing_crm__ .radi_2{width:50%}
.landing_crm__ li:nth-child(2n){margin:0;margin-left:7px}
.landing_crm__ li:first-child{margin-right:7px}
.btn_g__{display:inline-flex;padding:6px 3px;width:100%;justify-content:center;align-items:center;font-size:16px;min-height:40px;background:#ccc;border-radius:var(--b-radius);font-weight:400}
.nav-tabs.Nav_ui__>li.active>a,.nav-tabs.Nav_ui__>li.active>a:focus,.nav-tabs.Nav_ui__>li.active>a:hover{background:var(--bg-color);color:#fff}


.nav-tabs.create-new-par__ li a{padding:5px 20px;border-radius:25px 25px 0 0;width:130px;display:inline-flex;font-size:16px;border:1px solid;border-color:var(--b-color);background:#fff;min-height:53px;text-align:center;justify-content:center;align-items:center}
.nav-tabs.nav-tabs.create-new-par__>li.active>a,.nav-tabs.nav-tabs.create-new-par__>li.active>a:focus,.nav-tabs.nav-tabs.create-new-par__>li.active>a:hover{background:var(--bg-color);color:#fff}
.create-new-par__{padding:30px 0 0}
label.t_input-01__{padding-left:0}
ul.file_down li ._pf_{display:flex;align-items:center;justify-content:space-between}
._pf_ span{padding-right:5px}
ul.file_down li.w-20{width:20%}
.Sched_shift-02__{display:flex;flex-direction:column;width:100%}
.Sched_shift-02-1__,.Sched_shift-02-2__{display:flex;flex-direction:row;margin:5px 0}
.Sched_shift-02-1__ div,.Sched_shift-02-2__ div{min-width:100px;text-align:center;font-size:15px;font-weight:400}
.Sched_shift-02-2__ div span{padding:9px 15px 5px 14px;background:#e6e6e6;display:inline-block}
.Sched_shift-02-2__ div:first-child{text-align:left}
.Sched_shift-02-2__ div:first-child span{min-width:70px;text-align:center}
.time_d_1 input[value='0']+.Select-control{background:#f7941d!important}
.time_d_1 input[value='1']+.Select-control{background:#14a751!important}
.add_input_b1__{height:30px;display:block}
.Tb_class_d1 span div{-webkit-line-clamp:2;display:-webkit-box;-webkit-box-orient:vertical;white-space:normal;overflow:hidden; line-height: normal;}
.ellipsis_line__{-webkit-line-clamp:2;display:-webkit-box;-webkit-box-orient:vertical;white-space:normal;overflow:hidden;  line-height: normal;}
.listing_table .ReactTable.-striped .rt-tr.-even,.listing_table .ReactTable.-striped .rt-tr.-odd{min-height:52px}
.user_profile .box_wide,.user_profile .pull-left p{margin-bottom:0}
.Action_align_c__{display:block;text-align:center}
._align_c__{text-align:center}
._align_l__{text-align:left}
div.ReactTable .rt-td,div.ReactTable .rt-th{padding:7px 15px}
.th_txt_center__ .rt-resizable-header-content{text-align:center}
.box_wide .Select--single>.Select-control .Select-value .Select-value-label{padding-left:0; font-weight: 600 !important;}
.header_search .Select-placeholder{text-align:left}
.Ar_Symbol_1__{display:flex;justify-content:center;align-items:center}
.Ar_Symbol_1__ i.icon-email-pending{font-size:30px;margin-top:2px}


.quali_td1___,.quali_td2___,.quali_td3___{flex:1;min-height:40px;align-items:center;display:inline-flex;padding:0 15px;border-left:1px solid}
.quali_tr___.bg_dark_Pink:nth-child(even) .quali_td1___,.quali_tr___.bg_dark_Pink:nth-child(even) .quali_td2___,.quali_tr___.bg_dark_Pink:nth-child(even) .quali_td3___,.quali_tr___.bg_dark_Pink:nth-child(odd) .quali_td1___,.quali_tr___.bg_dark_Pink:nth-child(odd) .quali_td2___,.quali_tr___.bg_dark_Pink:nth-child(odd) .quali_td3___{border-color:#a71646}
.quali_tr___.bg_dark_yello:nth-child(even) .quali_td1___,.quali_tr___.bg_dark_yello:nth-child(even) .quali_td2___,.quali_tr___.bg_dark_yello:nth-child(even) .quali_td3___,.quali_tr___.bg_dark_yello:nth-child(odd) .quali_td1___,.quali_tr___.bg_dark_yello:nth-child(odd) .quali_td2___,.quali_tr___.bg_dark_yello:nth-child(odd) .quali_td3___{border-color:#bf7500}
.quali_tr___ .quali_td4___ i.icon-email-pending{color:#dc4b5c}
.quali_tr___.bg_dark_Pink .quali_td4___ i.icon-email-pending,.quali_tr___.bg_dark_yello .quali_td4___ i.icon-email-pending{color:#fff}
.quali_td4___{min-height:40px;align-items:center;display:inline-flex;padding:0 15px}
.quali_tr___{display:flex;width:100%;min-height:40px;align-items:center;border-radius:var(--b-radius);margin:10px 0;box-shadow:0 0 4px -1px #6b6b6b9e}
.quali_tr___:nth-child(odd){background:#e6e6e6;color:#1e1e1e}
.quali_tr___:nth-child(even){background:#fff;color:#1e1e1e}
.quali_tr___:nth-child(even) .quali_td1___,.quali_tr___:nth-child(even) .quali_td2___,.quali_tr___:nth-child(even) .quali_td3___,.quali_tr___:nth-child(odd) .quali_td1___,.quali_tr___:nth-child(odd) .quali_td2___,.quali_tr___:nth-child(odd) .quali_td3___{border-color:#c5c5d5}
.quali_tr___.bg_dark_Pink{background:#db4255;color:#fff}
.quali_tr___.bg_dark_yello{background:#e2a100;color:#fff}
.quali_td4___ i.icon-email-pending{display:flex;font-size:26px;cursor:pointer}
.quali_tr___ b{padding-left:3px}
.quali_td4___ span{display:flex;align-items:center}
.quali_td4___ a,.quali_td4___ a i{display:inline-flex;align-items:center}
.quali_td4___ i.icon-update{font-size:26px;color:#096}
.px_text__ .ReactTable .rt-td{padding:0 15px}
.schedule_listings.th_padding-x .ReactTable .rt-thead .rt-th{padding:0 15px}
.modify_select .Select-placeholder {text-align: left;}
.GroupMSG_team_v1 i {
    margin-left: 5px;
}

.view_by_ {
    display: flex;
    justify-content: center;
    align-items: center;
}
.view_by_ ul li {
    display: inline-flex;
    margin: 0px 4px;
    font-size: 13px;
    color: var(--b-color);
    padding: 2px;
    cursor: pointer;
}
.view_by_ span {
    font-size: 13px;
    font-weight: 600;
    color: var(--b-color);
}
.view_by_ ul li.active{
    color: #000;
    /* background: #000; */
}
.no_record1{
    min-height: 35px;
    display: inline-flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.Plan_div_ {
    display: flex;
    align-items: center;
    background: #fff;
}
.Plan_heading_{
    flex: 3;
    justify-content: flex-end;
    display: inline-flex;
    padding:8px 10px;
}
.Plan_heading_details_{
    flex: 9;
    justify-content: flex-start;
    display: inline-flex;
    padding:8px 10px;
}
.Plan_div_site_ {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.Plan_div_site_ i {
    display: flex;
    font-size: 33px;
    color:var(--txt-color);
    cursor: pointer;
}
.Plan_heading_ {
    color: var(--txt-color);
}
.Plan_icon_div_ {
    padding: 10px;
}
.Plan_icon_div_ .font_ic_1 {
    display: inline-flex;
    font-size: 28px;
    margin-right: 10px;
    color: #cc3366;
}
.Plan_icon_div_ .font_ic_2 {
    display: inline-flex;
    font-size: 28px;
    color: #cc9900;
}
.panel-group.Nds_plan .panel-heading+.panel-collapse>.panel-body,
.panel-group.Nds_plan .panel-heading+.panel-collapse>.list-group{
    border-top:1px solid var(--b-color); 
}
.Nds_plan .panel-title i {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translate(0px, -50%);
}
.Nds_plan .panel-body,
.Nds_plan .panel-heading{
    padding: 0px;
}
.Nds_plan .panel{
    border-color:var(--b-color); 
    overflow: hidden;
}

.Par_care_ac a[aria-expanded="true"] .collapsed_me {
    white-space: pre-wrap;
    text-overflow: initial;
}
.User_infomation_fileds_ {
    display: flex;
    flex-wrap: wrap;
}
.User_infomation_fileds_ .User_info_td_ {
    width: 20%;
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.User_info_td_ label {
    font-size: 14px;
    font-weight: 800 !important;
}
.User_info_td_ span {
    font-size: 14px;
    font-weight: 300;
}
div.pac-container {
    z-index: 99999 !important;
}



/***** mac icons isue */
/* .mac_line_e_ .ReactTable .rt-th, 
.mac_line_e_ .ReactTable .rt-td{
line-height: normal !important;
} */
.mac_line_e_.rt-noData {
    margin-top: 25px;
}
.mac_line_h_ .rt-tbody .rt-tr .rt-td {
    min-height: 40px;
}
.font_issue {
    display: inline-flex;
    height: 100%;
    align-items: center;
}
.font_issue .ellipsis-one {
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: normal;
    overflow: hidden;
}




.input_plus__{position: relative;}
.input_plus__ button {
    position: absolute;
    right: 1px;
    height: 38px;
    width: 38px;
    display: inline-flex;
    background: #fff;
    border: 0;
    top: 50%;
    justify-content: center;
    color: var(--txt-color);
    padding: 0px;
    transform: translate(-1px, -50%);
    border-radius: var(--b-radius);
}
.input_plus__ .Add-1 {
    font-size: 30px;
    padding-top: 2px;
}
.input_plus__ .Add-2 {
    font-size: 23px;
    padding-top: 2px;
}
.button_plus__ {
    width: 40px;
    height: 40px;
    background: var(--b-color);
    border: 0;
    border-radius: var(--b-radius);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.button_plus__ .Add-2-1 {
    font-size: 30px;
    padding-top: 2px;
}
.button_plus__ .Add-2-2 {
    font-size: 23px;
    padding-top: 2px;
}

.Graph_flex{
    display: flex;
}
.action_ix__ {
    display: flex;
    align-items: center;
    height: 100%;
}
.action_ix__ a {
    display: inline-flex;
}


.list_shift_AZ__ {
    display: flex;
    flex-direction: column;
}
.list_shift_AZ__ .tr_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
    border-radius: var(--b-radius);
    margin: 0px 0px 15px;
    min-height: 40px;
    box-shadow: 0px 0px 6px #c5c5c5;
}
.list_shift_AZ__ .tr_list:nth-child(odd){
    background: #fff;
}
.list_shift_AZ__ .tr_list:nth-child(even){
    background: #e6e6e6;
}
.list_shift_AZ__ .tr_list .td_list .default_but_remove {
    display: inline-flex;
}
.list_shift_AZ__ .tr_list  .td_list {
    display: inline-flex;
}
.list_shift_AZ__ .tr_list .td_list .icon-done-arrow {
    font-size: 26px;
    color: #009966;
}

.gendar_txt_ {
    min-width: 100px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-color);
    min-height: 40px;
    border-radius: var(--b-radius);
    color: #fff;
}