
/*|=========USE Font Helvetica==========|*/
.search_bar .input_search input,
.nice-select .current,
table.case_id.dataTable td span,
ul.file_down li .path_file,
.call_hist td span,
.col-md-3.f,
.user_profile ul li,
.accordion_member ul li:first-child,
.calendar_me tr th,
table.Quali_table tbody tr td:first-child,
.font_w_2 tr td span,
.font_w_3 tr td span,
.Resi_details span font,
.resident_name,
table.search_m tbody tr td:first-child,
.search_m tbody td:nth-child(2),
.search_m tbody td:nth-child(4),
.search_m tbody td:nth-child(5),
.search_m tbody td:last-child,
.Org_T .Resi_details span,
.cont_heading,
.Par_care_ac table td:nth-child(3),
table.shift_table tr td span,
table.font_Par tbody tr td.H_font,
.H_font,
table.search_m.font_Par tbody tr td,
table.Quali_table.Site_Par tbody tr.odd td:first-child,
table.Quali_table.Site_Par tbody tr.odd td:first-child,
table.Quali_table.Site_Par tbody tr.even td:first-child,
table.Quali_table.Site_Par tbody tr.even td:first-child,
.landing_graph h2,
.landing_graph .radi_2 .P_15_b,
.name,
.odometer,
.W_M_Y_box span,
h4,
.user_profile p.select_all span,
.counter_1,
.label_equla_but,
.Helvetica,
.Unfilled_div h1,
.Plan_accordion .panel-title div span,
.Plan_accordion .panel-body .col-md-4,
.Newest {
    /* font-family: Helvetica LT Std-1; */
}

/*|=========    Myriad Pro    ==========|*/
.font_w_1 h4.panel-title ul li:first-child,
h3,
a.but_1,
.filter_select .nice-select .current,
table.case_id.dataTable tbody td,
.user_info li,
.font_w_1 h4.panel-title ul li:nth-child(2),
.font_w_1 h4.panel-title ul li:last-child,
.font_w_1 .panel-body,
.call_hist td,
.User_call,
.col-md-9.f,
.user_profile ul li span,
.accordion_member ul li:last-child,
table.Quali_table tbody tr td,
.font_w_2 tr td,
.dtr-data h4,
.Resi_details span,
table.search_m thead tr th,
.search_m tbody td:nth-child(3),
.Org_T .Resi_details font,
.Par_care_ac table td:first-child,
.Par_care_ac table td:nth-child(2),
table.shift_table tr td,
.member_s tr td,
table.font_Par tbody tr td.M_font,
.M_font,
h1,
.font_small .nice-select.wide,
.key_color ul li,
.enter_but li a,
.Plan_accordion .panel-title div,
aside ul.side_menu li a,
.user_info li span {
    /* font-family: 'Helvetica LT Std-1'; */
}



/*|=========  Font-size 17px  ==========|*/
.filter_select .nice-select .current,
.font_w_1 h4.panel-title ul li:first-child,
.font_w_1 h4.panel-title ul li:nth-child(2),
.font_w_1 h4.panel-title ul li:last-child,
.font_w_1 .panel-body,
label,
.call_hist td span,
.call_hist td,
.User_call,
.col-md-9.f,
.col-md-3.f,
.user_profile ul li,
.accordion_member ul li:first-child,
.accordion_member ul li:last-child,
table.Quali_table tbody tr td,
table.Quali_table tbody tr td:first-child,
.dtr-data h4,
.Resi_details span,
.Resi_details span font,
.resident_name,
table.search_m thead tr th,
table.search_m tbody tr td,
table.search_m tbody tr td:first-child,
.cont_heading,
.cont_heading font,
.Par_care_ac table td:nth-child(2),
.Par_care_ac table td:nth-child(3),
.member_s tr td,
table.member_s tr td{
    font-size: 17px;
    line-height: 17px;
}


/*|=========  Font-weight 400 ==========|*/
a.but_1,
.font_big .nice-select .current,
.Modal_A .text,
.user_info li,
.font_w_1 h4.panel-title ul li:first-child,
.font_w_1 h4.panel-title ul li:nth-child(2),
.font_w_1 h4.panel-title ul li:last-child,
.font_w_1 .panel-body,
ul.file_down li .path_file,
.call_hist td span,
.call_hist td,
.User_call,
/* .col-md-9.f,
.col-md-3.f, */
.accordion_member ul li:first-child,
.accordion_member ul li:last-child,
.calendar_me tr th,
table.Quali_table tbody tr td,
table.Quali_table tbody tr td:first-child,
.font_w_2 tr td,
.font_w_2 tr td span,
.font_w_3 tr td span,
.dtr-data h4,
.Resi_details span,
.Resi_details span font,
.resident_name,
table.search_m thead tr th,
table.search_m tbody tr td:first-child,
.search_m tbody td:nth-child(2),
.search_m tbody td:nth-child(3),
.search_m tbody td:nth-child(4),
.search_m tbody td:nth-child(5),
.search_m tbody td:last-child,
.Org_T .Resi_details font,
.Org_T .Resi_details span,
.cont_heading,
.cont_heading font,
table.case_id.dataTable td span,
.Par_care_ac table td:nth-child(2),
.Par_care_ac table td:nth-child(3),
table.search_m.font_Par tbody tr td,
table.Quali_table.Site_Par tbody tr.odd td:first-child,
table.Quali_table.Site_Par tbody tr.odd td:first-child,
table.Quali_table.Site_Par tbody tr.even td:first-child,
table.Quali_table.Site_Par tbody tr.even td:first-child,
label,
.W_M_Y_box span,
.user_profile p.select_all span,
.Avai_Member_div h1,
.Plan_accordion .panel-title div span,
.Plan_accordion .panel-body .col-md-4,
.panel-collapse label,
.nav-tabs li a,
table.case_id.dataTable td span,
table.shift_table tr td span,
table.shift_table tr td,
.member_s tr td,
.booking_details_parent .text_child,
.font_w_4,
.available_member_table_parent td,
.but_one,
.message .message-text,
.gradient_color .but_login,
.shifts_deetails tr:nth-child(even),
.shifts_deetails tr:nth-child(odd),
.calendar_table .days .day table tr th,
.message-avatar span,
.big_circule_icon:before,
.big_mobile_icon:before,
.big_add_icon:before,
.css-1aya2g8,
.css-2o5izw,
.check_button,
.cal_button,
.no_record,
.listing_table .ReactTable .rt-thead .rt-tr,
.listing_table span.-pageInfo,
.listing_table .ReactTable .rt-noData,
.access-error,
.listing_table .ReactTable .rt-tbody .rt-td, .listing_table .ReactTable .rt-thead .rt-th,
.pin_error,
.ReactTable .-pagination .-pageInfo,
.schedule_listings .ReactTable .rt-noData
{
    font-weight: 400 !important;
}

/*|=========  Font-weight 300 ==========|*/
.search_bar .input_search input,
.nice-select .current,
.filter_select .nice-select .current,
textarea,
.Par_care_ac table td:first-child,
.enter_but li a,
.name,
.user_profile ul li span,
.input_and_textarea textarea,
.timing,
.gradient_color .input_3,
.css-1492t68,
.key_color_calendar ul li,
.make_up,
.font_w_3,
.col-md-3.f{
    font-weight: 300 !important;
}


/*|==== other ==========================|*/
.search_bar .input_search input {
    font-size: 20px;
}
.font_big .nice-select .current {
    font-size: 16px;
}
.nice-select .current {
    color: #fff;
    font-size: 13px;
}
.user_profile .nice-select .current {
    color: #fff;
    font-size: 12px;
    line-height: 0;
}
.Newest {
    font-weight: 500;
    font-size: 50px;
}
.user_info li {
    font-size: 20px;
}
ul.file_down li .path_file {
    font-size: 11px;
    line-height: 15px;
    margin-bottom: 20px;
}
.date_and_time,
.calendar_me tr th {
    font-size: 15px !important;
}
.small {
    font-size: 10px;
}
.user_profile ul li {
    line-height: initial;
    font-weight: 600;
}
.dtr-data h4 {
    color: inherit;
}
table.shift_table tr td {
    font-size: 13px;
}
.combine_div p.sm_size {
    font-size: 10px;
}
.combine_div p.Resi_details span {
    font-size: 10px;
}
.combine_div p.Resi_details span font {
    font-size:10px;
}
input.checkbox1.font[type="checkbox"]+label,
.font_w_3 tr td span {
    font-size: 13px;
}

.Plan_accordion div,
.Plan_accordion .panel-title div,
.Plan_accordion .panel-title div span,
.Plan_accordion .panel-body .col-md-4 aside ul.side_menu li a.major_button,
.view_by,
.key_color ul li,
.Schedules_Multiple_checkbox span label,
.font_w_3 tr td {
    font-size: 14px !important;
}
.Par_care_ac table td:first-child,
.total_div a,
.AUD small,
.right_align_C label,
.major_button {
    font-size: 11px;
}
ul.our_goals span.tag {
    font-size: 10px;
}
.label_equla_but,
.accordion_me .panel-heading,
.include_box.Num_C small,
table.Quali_table tr td {
    font-size: 18px;
}
ul.pagination_your li {
    font-size: 16px;
}
aside ul.side_menu li a {
    font-size: 20px;
    font-weight: 400 !important;
}
.odometer {
    font-size: 50px;
}
.counter_1 {
    font-weight: 800 !important;
    height: auto;
}
.key_color ul li {
    font-weight: 200;
    font-size: 13px;
}
.Unfilled_div h1,
.landing_graph h2,
.landing_graph .radi_2 .P_15_b {
    font-weight: 600;
}
.odometer {
    line-height: 49px;
    font-weight: 800;
}
.but {
    font-style: unset;
}
input {
    font-weight: normal;
}
/* a.but {
    font-weight: normal;
    font-size: 17px;
} */
.font_big .nice-select.wide {
    font-size: 16px !important;
}
.but_one,
.nav-tabs li a {
    font-size: 18px;
}

.Unfilled_div .sm_size,
.Avai_Member_div .sm_size {
    font-size: 8px;
    line-height: initial;
}
.Unfilled_div .Resi_details span font,
.Avai_Member_div .Resi_details span font {
    font-size: 8px;
    line-height: initial;
}
.Unfilled_div .icons_right a img,
.Avai_Member_div .icons_right a img {
    height: 1.3vw;
}
textarea{
    font-size: 15px;
}
.col-md-9.f{
    font-weight: 600;
}