/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 7, 2018, 10:11:35 AM
    Author     : side menu
*/


/*
*  side menue css
*/

/* 2. Header Top *********************/
@font-face {
    font-family: 'Helvetica LT Std-1';
    src: url('font/second_font/Helvetica/woff/HelveticaNeueLTStd-Bd.woff') format('woff'), 
    url('font/second_font/Helvetica/ttf/HelveticaNeueLTStd-Bd.ttf') format('truetype'), 
    url('font/second_font/Helvetica/otf/HelveticaNeueLTStd-Bd.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica LT Std-1';
    src: url('font/second_font/Helvetica/woff/HelveticaNeueLTStd-Roman.woff') format('woff'),
    url('font/second_font/Helvetica/ttf/HelveticaNeueLTStd-Roman.ttf') format('truetype'),
    url('font/second_font/Helvetica/otf/HelveticaNeueLTStd-Roman.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica LT Std-1';
    src: url('font/second_font/Helvetica/woff/HelveticaNeueLTStd-Lt.woff') format('woff'), 
    url('font/second_font/Helvetica/ttf/HelveticaNeueLTStd-Lt.ttf') format('truetype'), 
    url('font/second_font/Helvetica/otf/HelveticaNeueLTStd-Lt.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'gotham-rounded';
    src: url('font/GothamRnd-Bold.eot');
    src: url('font/GothamRnd-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('font/GothamRnd-Bold.woff2') format('woff2'), /* Super Modern Browsers */
    url('font/GothamRnd-Bold.woff') format('woff'), /* Pretty Modern Browsers */
    url('font/GothamRnd-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('font/GothamRnd-Bold.svg#svgFontName') format('svg');
    font-weight: bold;
    font-style: normal;
}


/* -- 2.0 - Typography -- */
body {font-family:'Helvetica LT Std-1' !important;font-size: 17px;/*line-height: 28px;*/ font-weight:initial;font-style: normal;}
img {max-width: 100%;}
a {}
a, a>* {outline: none;cursor: pointer;text-decoration: none;}
a:hover, a:active, a:focus{text-decoration: none !important;outline: none;}
*:focus {outline: none;}

h2, h3, h4, h5, h6 {font-weight: 400;padding: 0px;margin: 0px;}
h1 {font-size: 40px;line-height: 40px;margin: 0px;}
h2 {font-size: 30px;line-height: 30px;}
h3 {font-size: 18px;line-height: 18px;}
h4 {font-size: 18px;line-height: 18px;}
h5 {font-size: 15px;line-height: 15px;}
h6 {font-size: 13px;line-height: 13px;}
p {line-height: 24px;font-size: 14px;font-weight: 400;}

/* -- 3.0 - padding_margin -- */
.P_30_AZ{padding: 30px;}
.P_25_AZ{padding: 25px;}
.P_20_AZ{padding: 20px;}
.P_15_AZ{padding: 15px;}
.P_10_AZ{padding: 10px;}
.P_7_AZ{padding: 7px;}
.P_30_TB{padding-top: 30px;padding-bottom: 30px;}
.P_25_TB{padding-top: 25px;padding-bottom: 25px;}
.P_20_TB{padding-top: 20px;padding-bottom: 20px;}
.P_15_TB{padding-top: 15px;padding-bottom: 15px;}
.P_10_TB{padding-top: 10px;padding-bottom: 10px;}
.P_7_TB{padding-top: 7px;padding-bottom: 7px;}
.P_30_LR{padding-left: 30px;padding-right: 30px;}
.P_25_LR{padding-left: 25px;padding-right: 25px;}
.P_20_LR{padding-left: 20px;padding-right: 20px;}
.P_15_LR{padding-left: 15px;padding-right: 15px;}
.P_10_LR{padding-left: 10px;padding-right: 10px;}
.P_7_LR{padding-left: 7px;padding-right: 7px;}
.P_30_R{padding-right: 30px;}
.P_45_T{padding-top:45px;}
.P_30_T{padding-top:30px;}
.P_25_T{padding-top:25px;}
.P_20_T{padding-top:20px;}
.P_15_T{padding-top:15px;}
.P_10_T{padding-top:10px;}
.P_7_T{ padding-top: 7px;}
.P_30_b{padding-bottom:30px;}
.P_25_b{padding-bottom:25px;}
.P_20_b{padding-bottom:20px;}
.P_15_b{padding-bottom:15px;}
.P_10_b{padding-bottom:10px;}
.P_7_b{ padding-bottom: 7px;}
.M_30_b{padding-bottom:30px;}
.M_25_b{padding-bottom:25px;}
.M_20_b{padding-bottom:20px;}
.M_15_b{padding-bottom:15px;}
.M_10_b{padding-bottom:10px;}
.M_7_b{ padding-bottom: 7px;}

.d-none {display: none;}
.d-inline {display: inline;}
.d-inline-block {display: inline-block;}
.d-block {display: block;}
.d-table {display: table;}
.d-table-row {display: table-row;}
.d-table-cell {display: table-cell;}

/*********-****/
.w-0{width: 0%;}
.w-10{width: 10%;}
.w-20{width: 20%;}
.w-30{width: 30%;}
.w-40{width: 40%;}
.w-50{width: 50%;}
.w-60{width: 60%;}
.w-70{width: 70%;}
.w-80{width: 80%;}
.w-90{width: 90%;}


header{width: 100%;z-index: 2;padding: 8px 0px;}
header {background: #545454;color: #fff;box-shadow: 0px 0px 20px 5px #00000057;}
a.left-i {color: #fff;font-size: 24px;display: inline-block;vertical-align: middle;}
a.right-i {color: #fff;font-size: 22px;display: inline-block;vertical-align: middle;}
.header_search input{background: none;color: #fff;border: 1px solid #fff;font-family: sans-serif;font-weight: normal;padding-left: 35px;}
.header_search{outline: none;  }
.but_search {margin: 0px;padding: 0px !important;border-radius: 0px !important;background: transparent;box-shadow: 0px 0px 0 !important;
    border-width: 0;position: absolute;left: 10px;font-size: 20px;z-index: 1;top: 50%;transform: translate(0%, -40%);outline: none;}
.right_icons a, .right_icons button{padding-left: 10px;}

.bb-0{border-bottom: 0px solid #fff !important;}
.folder_tab span.add_access{opacity: 1;}
.folder_tab .but_around_second span.add_access{height: 120px;width: 120px;display: flex;justify-content: center;vertical-align: middle;align-items: center;
    display: flex;font-family: sans-serif;}
.folder_tab .but_around_second li{padding-top: 40px;}
.folder_tab .nav-tabs>li a{font-size: 20px !important;}
footer.text-center div{width: 100%;}

#sidebar-wrapper::-webkit-scrollbar {display: none;}
#wrapper.toggled_new #sidebar-wrapper_new {right: 0;-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;}
#wrapper.toggled_new #sidebar-wrapper_new_new {width: 245px;}
#sidebar-wrapper_new, #sidebar-wrapper_new_new{z-index: 1000;left: auto; right: -245px;width: 245px;height: 100%;overflow-y: auto;overflow-x: hidden;background: #545454;
    -webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;box-shadow: 0px 0px 10px #00000057} 
#sidebar-wrapper {z-index: 1000;left: -245px;width: 245px;height: 100%;overflow-y: auto;overflow-x: hidden;background: #545454;
    -webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;box-shadow: 0px 0px 10px #00000057;}
#wrapper {padding-left: 0;padding-right: 0;-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;}
#wrapper.toggled {padding-left: 0px;}
#wrapper.toggled #sidebar-wrapper {left: 0;}
#sidebar-wrapper::-webkit-scrollbar {display: none;}
#wrapper.toggled_new #sidebar-wrapper {right: 245px;}
.hamburger {top: 20px;  z-index: 1;width: 32px;height: 32px;background: transparent;border: none;}
.hamburger_new {top: 20px;  z-index: 1;width: 32px;height: 32px;background: transparent;border: none;}
#wrapper.toggled_new{padding-right:0px;}
  
/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/
.overlay {position: fixed;display: none;width: 100%;height: 100%;top: 0;left: 0;right: 0;bottom: 0;background-color: rgba(250,250,250,.8);z-index: 1;}
.footer_side_bar{position: fixed;bottom: 0;width: 245px;}
.active_user {color: #fff;padding: 14px;position: absolute;background: #545454;width:100%; font-size: 16px;z-index: 1; border-bottom: 1px solid;border-color: #857e7e78;     min-height: 52px;}
.active_user_new {color: #fff;bottom:0;padding: 14px;position: absolute;background: #545454;font-size: 14px;width:100%;z-index: 1;}
.active_user_new i:before {transform: rotate(180deg);font-size: 14px;border: 1px solid #fff;width: 28px;display: inline-block;height: 27px;line-height: 27px;
    vertical-align: middle;text-align: center;border-radius: 20px;margin-right: 7px;}
.footer_right{color: #fff;bottom:0;padding:0px 7px;position: fixed;background: #545454;font-size: 16px;width:auto;z-index: 3;}
.footer_right i:before {transform: rotate(0deg);font-size: 25px;border: aliceblue;width: 28px;display: inline-block;height: 30px;
    line-height: 27px;vertical-align: middle;text-align: center;border-radius: 20px;margin-left: 7px;}
li.dropdown.open .caret {transform: rotate(180deg);}


.left_menu_content .collapsible {background-color: #545454;color: white;cursor: pointer;padding: 15px;width: 100%;border: none;
    text-align: left;outline: none;font-size: 15px;font-weight: 400;}
.left_menu_content .collapsible:after {font-family: "icons_me";content: "\69";color: white;font-weight: bold;float: left;margin-right: 5px;
    font-size: 12px !important;display: inline-block !important;vertical-align: middle !important;}
.left_menu_content .active_side_toggle:after {font-family: "icons_me";content: "\66";}
.left_menu_content .side_dropdown {max-height: 0;overflow: hidden;transition: max-height 0.2s ease-out;background-color: #545454;}
.left_menu_content {position: absolute;width: 100%;height: 85%;background: #545454;padding-top: 0px;overflow: auto;padding-bottom: 70px;margin-top: 20%;}

.nav_apps span.add_access {width: 50px;height: 50px;display: block;margin: 0px auto;vertical-align: middle;font-size: 32px;line-height: 50PX;
    border-radius: var(--border-radius100);font-weight: 600;color: #fff;opacity: 1;font-family: sans-serif;}
.nav_apps {padding: 15px;}
.nav_apps div {display: inline-block;margin-left: 15px;margin-bottom: 15px;}
.nav_apps div a{text-align: center;}

.scroll_left {unicode-bidi: bidi-override;min-height: 100%;direction: rtl;overflow-y: auto;max-height: 100%;}

.footer_right .bt-1,
.active_user_new{border-top:1px solid #857e7e78;}

ul.your_setting_list li {font-size: 14px;font-weight: 400;padding-left: 25px;padding-right: 15px;margin-bottom: 0;list-style-type: none;
    border-bottom: solid 1px #4c4c4c;box-shadow: 0px 3px 5px #525151;display: flex;align-items: center;}
ul.your_setting_list li a {color: #d4d4d4 !important;font-size: 14px;display: block;padding: 10px 15px;width: 100%;}
ul.your_setting_list li a:hover {color: #ffffff !important;}
ul.your_setting_list li:before {font-family: "icons_me";content: "\71";margin-left: -20px;color: #fff;font-size: 8px;}
ul.your_setting_list li a{padding-left: 10px;}

.show_div_1{display:flex;width: 100%;}
.show_div_1 .img_p img {width: 100%;}
.show_div_1 .img_p img {position: absolute;width: 75%;left: 50%;top: 50%;transform: translate(-50%, -50%);}
.show_div_1 .img_p {width: 40px;height: 40px;border-radius: var(--border-radius100);padding: 0;display: inline-block;background: #fff;
    align-items: center;vertical-align: middle;border: 1px solid #fff;position: relative;}
.img_p_name {display: flex;align-items: center;background: #fff;font-size: 13px;padding-left: 15px;padding-right: 15px;border-radius:var(--b-radius);margin-left: 5px;}
.show_div_2{display: flex;align-items: center;background: #fff;font-size: 13px;}
.show_div_2 {display: flex;align-items: center;background: #fff;font-size: 15px;padding: 8px 15px;border-radius: var(--b-radius);font-weight: 300;margin-top: 5px;}
.show_div_3 {display: flex;align-items: center;background: #fff;font-size: 13px;padding: 8px 15px;border-radius: var(--b-radius);font-weight: 300;margin-top: 5px;}
.show_div_4{display: flex;width: 100%;color: #fff;justify-content: space-between; }
.show_div_4 span{font-size: 13px;font-weight: 300;}
.show_div_4 i{font-size: 22px;margin-top: 5px;}

.right-i span{position: relative;}
.right-i span i {background: #FF2D55;min-width: 20px;min-height: 20px;position: absolute;font-size: 12px;font-style: inherit;text-align: center;display: flex;
    top: -7px;align-items: center;justify-content: center;border-radius:var(--border-radius100);right: -6px;line-height: 20px;}

.toggled_new .right_icons a,
.toggled_new .right_icons a:focus,
.toggled_new .right_icons a:hover,
.toggled_new .right_icons button,
.toggled_new .right_icons button:focus,
.toggled_new .right_icons button:hover{
    color: #777;
}
.right_icons a.right-i,
.right_icons  a.right-i:focus,
.right_icons  a.right-i:hover,
.right_icons button.right-i,
.right_icons button.right-i:focus,
.right_icons button.right-i:hover{
    color: #fff;
}
.right_icons button{background: none;border: 0;}

.toggled .left-i .menu_bar_icon::before{content: "\e03b";font-family: "icons_me";}

.footer_right a {font-size: 14px; line-height: 16px;}
.footer_right .br-1{border-color:#857e7e78; }

.default_but_remove{background: none;padding: 0px;border: 0px;}

.right_icons a {font-size: 22px;display: inline-block;height: 30px;align-items: center;line-height: 30px;}
.right_icons button {font-size: 22px;display: inline-block;height: 30px;align-items: center;line-height: 15px;}

.header_search{border-radius:var(--b-radius);}
.show_notification{position: relative;}
.show_notification span {position: absolute;right: -8px;top: -7px;font-size: 11px;font-weight: 600;color: #fff;background:#FF2D55;height: 18px;width: 18px;border-radius:var(--border-radius100);text-align: center;
line-height: 20px;font-family: sans-serif;font-style: initial;display: flex;align-items: center;justify-content: center;}
.show_notification {position: relative;font-size: 25px;display: inline-flex;align-items: center;vertical-align: middle;margin-left: 9px;margin-right: 0;}

.menu_bar_icon{display: flex;}

.header_search .but_search{right:15px;left:initial;}
.header_search .Select-arrow-zone{display: none !important; }
.header_search .Select-control {background: transparent !important;border-color: #fff !important;}

.header_filter .Select-control{height: 35px; border-radius:var(--b-radius)}
.header_filter .Select-menu-outer .Select-option {display: flex;}
.header_filter .Select-menu-outer .h_ser_div {display: inline-flex;width: 60px;}
.header_filter span.add_access {width: 35px;height: 35px;display: inline-flex;margin: 0px auto;vertical-align: middle;font-size: 25px; font-family: sans-serif;
border-radius: var(--border-radius100);font-weight: 600;color: #fff;opacity: 1;text-align: center;justify-content: center;align-items: center;line-height: 36px !important;
text-transform: capitalize;}

.Not_msg_div {background: #fff;border-radius:var(--border-radius15);padding: 10px; margin-top: 5px;}
.Not_msg_div .Not_m_d1{font-size:15px; font-weight: 400;}
.Not_m_d3 {font-size: 13px;font-weight: 400;}
.Not_m_d2 {font-size: 10px;font-weight: 400;margin: 0px 0px 9px;}
.Not_msg_div div span{font-weight: 600;}
.Not_msg_div div span {font-weight: 600;color: #f8741c;}

span.circle_but {
    font-size: 70px;width: 100px;height: 100px;color: #fff;font-family: Helvetica;display: flow-root;text-align: center;border-radius:var(--border-radius100);
    line-height: 100px;margin: 0px auto;display: inline-block;font-weight: 600;
    background: #0037c0;
    background: -moz-linear-gradient(45deg, #0037c0 0%, #174dcb 37%, #207cca 74%, #207cca 74%, #386cd7 100%);
    background: -webkit-linear-gradient(45deg, #0037c0 0%,#174dcb 37%,#207cca 74%,#207cca 74%,#386cd7 100%);
    background: linear-gradient(45deg, #0037c0 0%,#174dcb 37%,#207cca 74%,#207cca 74%,#386cd7 100%);
    display: flex;justify-content: center;vertical-align: middle;align-items: center;
}
.add_access.p-colr, .circle_but.p-colr{
    background: -moz-linear-gradient(45deg, #6A20A9 0%, #753AF0 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #6A20A9), color-stop(100%, #753AF0)); /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, #6A20A9 0%, #753AF0 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, #6A20A9 0%, #753AF0 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, #6A20A9 0%, #753AF0 100%); /* ie10+ */
    background: linear-gradient(45deg, #6A20A9 0%, #753AF0 100%); /* w3c */
}
.add_access.m-colr, .circle_but.m-colr{
    background: -moz-linear-gradient(45deg, #ED6000 0%, #FF812D 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #ED6000), color-stop(100%, #FF812D)); /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, #ED6000 0%, #FF812D 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, #ED6000 0%, #FF812D 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, #ED6000 0%, #FF812D 100%); /* ie10+ */
    background: linear-gradient(45deg, #ED6000 0%, #FF812D 100%); /* w3c */
}
.add_access.i-colr, .circle_but.i-colr{
    background: rgba(237,162,32,1);
    background: -moz-linear-gradient(-45deg, rgba(237,162,32,1) 0%, rgba(237,162,32,1) 34%, rgba(236,161,32,1) 61%, rgba(214,140,21,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(237,162,32,1)), color-stop(34%, rgba(237,162,32,1)), color-stop(61%, rgba(236,161,32,1)), color-stop(100%, rgba(214,140,21,1)));
    background: -webkit-linear-gradient(-45deg, rgba(237,162,32,1) 0%, rgba(237,162,32,1) 34%, rgba(236,161,32,1) 61%, rgba(214,140,21,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(237,162,32,1) 0%, rgba(237,162,32,1) 34%, rgba(236,161,32,1) 61%, rgba(214,140,21,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(237,162,32,1) 0%, rgba(237,162,32,1) 34%, rgba(236,161,32,1) 61%, rgba(214,140,21,1) 100%);
    background: linear-gradient(135deg, rgba(237,162,32,1) 0%, rgba(237,162,32,1) 34%, rgba(236,161,32,1) 61%, rgba(214,140,21,1) 100%);
}
.add_access.i-colr, .circle_but.i-colr{
    background: -moz-linear-gradient(45deg, #0A9E9A 0%, #50D6CF 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #0A9E9A), color-stop(100%, #50D6CF)); /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, #0A9E9A 0%, #50D6CF 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, #0A9E9A 0%, #50D6CF 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, #0A9E9A 0%, #50D6CF 100%); /* ie10+ */
    background: linear-gradient(45deg, #0A9E9A 0%, #50D6CF 100%); /* w3c */
}
.add_access.o-colr, .circle_but.o-colr{
background: #09a075; 
background: -moz-linear-gradient(45deg, #09a075 0%, #09a177 39%, #04ae8a 65%, #01bc9d 100%); 
background: -webkit-linear-gradient(45deg, #09a075 0%,#09a177 39%,#04ae8a 65%,#01bc9d 100%);
background: linear-gradient(45deg, #09a075 0%,#09a177 39%,#04ae8a 65%,#01bc9d 100%);
}
.add_access.h-colr,
.add_access.a-colr,.h-colr, .circle_but.a-colr{
    background: #0037c0;
    background: -moz-linear-gradient(45deg, #0037c0 0%, #174dcb 37%, #207cca 74%, #207cca 74%, #386cd7 100%);
    background: -webkit-linear-gradient(45deg, #0037c0 0%,#174dcb 37%,#207cca 74%,#207cca 74%,#386cd7 100%);
    background: linear-gradient(45deg, #0037c0 0%,#174dcb 37%,#207cca 74%,#207cca 74%,#386cd7 100%);
}
.add_access.s-colr, .circle_but.s-colr{
    background: -moz-linear-gradient(45deg, #DC71B6 0%, #FF82CC 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #DC71B6), color-stop(100%, #FF82CC)); /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, #DC71B6 0%, #FF82CC 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, #DC71B6 0%, #FF82CC 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, #DC71B6 0%, #FF82CC 100%); /* ie10+ */
    background: linear-gradient(45deg, #DC71B6 0%, #FF82CC 100%); /* w3c */
}
.add_access.f-colr, .circle_but.f-colr{
background: #d12e2f; 
background: -moz-linear-gradient(45deg, #d12e2f 0%, #d42e2e 38%, #e23030 65%, #e32f30 65%, #fa3232 100%);
background: -webkit-linear-gradient(45deg, #d12e2f 0%,#d42e2e 38%,#e23030 65%,#e32f30 65%,#fa3232 100%); 
background: linear-gradient(45deg, #d12e2f 0%,#d42e2e 38%,#e23030 65%,#e32f30 65%,#fa3232 100%);
}
.add_access.c-colr, .circle_but.c-colr{
    background: -moz-linear-gradient(45deg, #A002C1 0%, #B968C7 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #A002C1), color-stop(100%, #B968C7)); /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, #A002C1 0%, #B968C7 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, #A002C1 0%, #B968C7 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, #A002C1 0%, #B968C7 100%); /* ie10+ */
    background: linear-gradient(45deg, #A002C1 0%, #B968C7 100%); /* w3c */
    }
.add_access.r-colr, .circle_but.r-colr{
        background: #0075ea; /* Old browsers */
background: -moz-linear-gradient(45deg, #0075ea 0%, #05adee 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, #0075ea 0%,#05adee 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, #0075ea 0%,#05adee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }


/* flex */

.flex{ display: flex;}
.flex_wrap{display: flex;flex-wrap: wrap; }
.flex_space-between{align-content: space-between;}
.align-self-start{-ms-flex-item-align: start !important;align-self: flex-start!important;}
.align-self-center {-ms-flex-item-align: center!important;align-self: center!important;}
.align-self-end {-ms-flex-item-align: end!important;align-self: flex-end!important;}
.col {-ms-flex-preferred-size: 0;flex-basis: 0;-webkit-box-flex: 1;-ms-flex-positive: 1;flex-grow: 1;max-width: 100%;}
.col-auto {-webkit-box-flex: 0;-ms-flex: 0 0 auto;flex: 0 0 auto;width: auto;max-width: none;}
.col-1 {-webkit-box-flex: 0;-ms-flex: 0 0 8.333333%;flex: 0 0 8.333333%;max-width: 8.333333%;}
.col-2 {-webkit-box-flex: 0;-ms-flex: 0 0 16.666667%;flex: 0 0 16.666667%;max-width: 16.666667%;}
.col-3 {-webkit-box-flex: 0;-ms-flex: 0 0 25%;flex: 0 0 25%;max-width: 25%;}
.col-4 {-webkit-box-flex: 0;-ms-flex: 0 0 33.333333%;flex: 0 0 33.333333%;max-width: 33.333333%;}
.col-5 {-webkit-box-flex: 0;-ms-flex: 0 0 41.666667%;flex: 0 0 41.666667%;max-width: 41.666667%;}
.col-6 {-webkit-box-flex: 0;-ms-flex: 0 0 50%;flex: 0 0 50%;max-width: 50%;}
.col-7 {-webkit-box-flex: 0;-ms-flex: 0 0 58.333333%;flex: 0 0 58.333333%;max-width: 58.333333%;}
.col-8 {-webkit-box-flex: 0;-ms-flex: 0 0 66.666667%;flex: 0 0 66.666667%;max-width: 66.666667%;}
.col-9 {-webkit-box-flex: 0;-ms-flex: 0 0 75%;flex: 0 0 75%;max-width: 75%;}
.col-10 {-webkit-box-flex: 0;-ms-flex: 0 0 83.333333%;flex: 0 0 83.333333%;max-width: 83.333333%;}
.col-11 {-webkit-box-flex: 0;-ms-flex: 0 0 91.666667%;flex: 0 0 91.666667%;max-width: 91.666667%;}
.col-12 {-webkit-box-flex: 0;-ms-flex: 0 0 100%;flex: 0 0 100%;max-width: 100%;}
.input_search.change_b input {font-size: 18px;}

/* admin */
.gradient_color .input_3 {font-family: Helvetica LT Std-1;font-size: 16px;line-height: 1.5;border: 0px solid transparent;display: block;
    width: 100%;text-align: center;height: 45px;padding: 0; 
    }
    input:-internal-autofill-previewed, 
    input:-internal-autofill-selected, 
    textarea:-internal-autofill-previewed, 
    textarea:-internal-autofill-selected, 
    select:-internal-autofill-previewed, 
    select:-internal-autofill-selected
    {background-color: #fff !important; -webkit-box-shadow: 0 0 0 1000px #fff inset; }
    
    .gradient_color .but_login {border-radius:var(--b-radius); border: 0;font-family: Helvetica LT Std-1;font-size: 20px;line-height: 1.5;color: #fff;width: 100%;min-height: 50px;
    background: #57b846;display: block;justify-content: center;align-items: center;padding: 0 25px;-webkit-transition: all 0.4s;-o-transition: all 0.4s;
    -moz-transition: all 0.4s;background: linear-gradient(-135deg, #d77f0b, #09a275);}
    .gradient_color .login_but {width: 100%;display: -webkit-box;display: -webkit-flex;display: -moz-box;display: -ms-flexbox;display: flex;flex-wrap: wrap;
    justify-content: center;}
    .gradient_color .logo {font-weight: 600;margin-top: 15px;}
    .gradient_color .login_1 {width: 100%;display: -webkit-box;display: -webkit-flex;display: -moz-box;display: -ms-flexbox;display: flex;flex-wrap: wrap;
    justify-content: center;align-items: center;margin: 50px 0px;}
    .gradient_color .Smiley h1 {font-family:gotham-rounded !important;font-weight: 600;color: #1e1e1e;}
    .gradient_color .Smiley h1 {font-size: 36px;}
    .gradient_color .User {text-align: center;margin: 30px auto 20px;}
    .gradient_color .User span {width: 200px;height: 200px;border: double 2px transparent;
    background-image: linear-gradient(white, white), radial-gradient(circle at top left, #38266e, #38266e);
    display: table;background-origin: border-box;
    background-clip: content-box, border-box;margin: 0px auto;display: flex;border-radius: var(--border-radius100);overflow: hidden;position: relative;}
    .gradient_color .User span img {vertical-align: middle;text-align: center;margin: 0px auto;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);width: 120px;}
    .gradient_color .input_2 {position: relative;width: 100%;z-index: 1;margin-bottom: 15px;
        background: #38266e;
        border-radius: var(--b-radius) var(--b-radius) var(--b-radius) var(--b-radius);
        -moz-border-radius: var(--b-radius) var(--b-radius) var(--b-radius) var(--b-radius);
        -webkit-border-radius: var(--b-radius) var(--b-radius) var(--b-radius) var(--b-radius);
        padding: 1px;
        display: inline-table;
    }
    .gradient_color .b_check_2 label {margin-bottom: 0px;color: #1e1e1e;font-family: Helvetica;}
    .gradient_color .b_check_2 input.checkbox2[type="checkbox"] + label span {border: 0px solid #1ca278;background: linear-gradient(-135deg, #d77f0b, #09a275);float: left;}
    .gradient_color .b_check_2 label {margin-bottom: 0px;color: #1e1e1e;font-family: Helvetica;}
    .gradient_color .for_text a{color: #1e1e1e;font-family: Helvetica;}
    .gradient_color footer h6, .gradient_color footer h5 {color: #1e1e1e;}
    .gradient_color input.checkbox2[type="checkbox"]:checked + label span:after {background: linear-gradient(-135deg, #d77f0b, #09a275);width: 19px;height: 19px;border-radius: 5px;}
    .gradient_color .login100-form{width: 100%}

    footer.text-center div {position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}
    footer {position: absolute;bottom: 0;width: 100%;height: 60px;}

    footer h5 {font-size: 10px;font-weight: 600;}
    footer h6 {font-size: 10px;font-weight: 600;}
    footer h6 span {position: relative;}
    footer h6 span:after {position: absolute;bottom: -1px;right: 0;font-size: 6px;}

    .access-error{color: #cc0000;}
    .error_login {text-align: center;font-size: 15px;color: #cc0000;font-weight: 300;}
    .success_login{ text-align: center;font-size: 15px;color: #57b846;font-weight: 300;}

    .e_new span {display: flex;height: 40px;background: #c00;color: #fff;align-items: center;justify-content: center;margin-top: 25px; border-radius:var(--b-radius);}
    .e_new span i {font-size: 23px;color: #fff;display: flex;align-items: center;line-height: 0px; }
    .e_new span div {width: 85%;}
    .s_new span {display: flex;height: 40px;background: #249e67;color: #fff;align-items: center;justify-content: center;margin-top: 25px; border-radius:var(--b-radius);}
    .s_new span i {font-size: 23px;color: #fff;display: flex;align-items: center;line-height: 0px;  }
    .s_new span div {width: 85%;}  
    form {display: inline;}
    .gradient_color .but_login{background:#38266e;}
    html {margin:0;padding:0;min-height: 100%;position: relative;padding-bottom: 65px;}
    /*|=========  Gotham rounded  ==========|*/
footer h6 {
    font-family: gotham rounded;
}
.button_small a {padding: 7px 24px;text-align: center;background: #fff;border: 1px solid #1e1e1e;font-weight: 600; border-radius: var(--b-radius);}


.tooltip-inner{background-color: #cc0000 !important;}
.tooltip.top .tooltip-arrow{border-top-color: #cc0000 !important;}
.tooltip.right .tooltip-arrow{border-right-color: #cc0000 !important;}
.tooltip.bottom .tooltip-arrow{border-bottom-color: #cc0000 !important;}
.login100-form .tooltip-inner {width: 150px;}
.select-parant-validation{position: relative;}
.select-parant-validation .tooltip{  position: absolute;top: -3px;left: 50%;transform: translate(-50%);visibility: hidden;} 

.custom_select+.tooltip.top{visibility: hidden;position: absolute;top: -31px;left: 50%;transform: translate(-50%);width: 135px;}
.custom_select+.tooltip.bottom {visibility: hidden;position: absolute;bottom: -31px;left: 50%;transform: translate(-50%);width: 135px;}
.multiple_checkbox_tooltip .tooltip {left: 50% !important;transform: translate(-50%) !important;top: -3px !important;visibility: hidden;}

.select-validation-error{visibility: visible !important;}
.mx-height{ max-height: 100% !important;}
.active_user a{color: inherit;}
.your_setting_list {list-style: none;padding: 0;}
ul.your_setting_list li a{color: #fff;}

.active_user { display: flex;width: 100%;justify-content: space-between;}
.Close_SB {font-size: 24px;opacity: 0.5;}
.right_icons {display: flex;justify-content: flex-end;align-items: center;}
.right_icons a, .right_icons button {display: inline-flex;align-items: center;line-height: 25px;height: 100%;margin-top: 7px;}
.Close_SB{cursor: pointer;}

.logo img {width: 200px;}
.Smiley i {display: none;}


/* loding */
.spinner-loding {
    margin: 0px auto 0;
    width: 100%;
    text-align: center;
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
}

.spinner-loding > div {
    width: 25px;
    height: 25px;
    border-radius:var(--border-radius100);
    display: inline-flex;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 600;
    color: #fff;
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(9,162,117,1)), color-stop(100%, rgba(215,127,11,1)));
    background: -webkit-linear-gradient(45deg, rgba(9,162,117,1) 0%, rgba(215,127,11,1) 100%);
    background: -o-linear-gradient(45deg, rgba(9,162,117,1) 0%, rgba(215,127,11,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(9,162,117,1) 0%, rgba(215,127,11,1) 100%);
    background: linear-gradient(45deg, rgba(9,162,117,1) 0%, rgba(215,127,11,1) 100%);

    background: -webkit-linear-gradient(45deg,#672ea7 0%, #6f4dee 100%);
    background: -o-linear-gradient(45deg,#672ea7 0%, #6f4dee 100%);
    background: -ms-linear-gradient(45deg,#672ea7 0%, #6f4dee 100%);
    background: linear-gradient(45deg,#672ea7 0%, #6f4dee 100%);
}
.spinner-loding .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner-loding .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}


.main_sidebar__::-webkit-scrollbar {
    width: 4px;
  }
  
  .main_sidebar__::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  
  .main_sidebar__::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  .main_sidebar__::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}