
/* 1 body *****************************/
body {background: #f6f6f6;color: #1e1e1e;line-height: initial;}
*:focus{outline: none !important;}
a{color: initial;}


/* 3.Heading font ================*/
h1, h2, h3, h4, h5,h6 {color: #1e1e1e;font-weight: 600;}
p {color: #1e1e1e;}

/* Fotter ===================================*/
footer h5 {color: #1e1e1e;padding-bottom: 15px;}
footer h6{color:#1e1e1e;}

/*input*/
.search_bar button {margin: 0px;padding: 0px !important;border-radius: 0px !important;background: transparent;
                    box-shadow: 0px 0px 0 !important;border-width: 0;position: absolute;margin-left:15px;z-index: 2;top: 50%;transform: translate(0, -40%);outline: none;}
.search_bar .input_search .icon-search:before{font-size: 30px;line-height: 100%;display: flex;}
.search_bar .input_search{width: 100%;}
.search_bar .input_search input {height: 50px;padding:0px 50px;outline: none;padding-left:25px; 
    line-height: normal;
    display: flex !important;
    align-items: center;}
.search_bar_small button {margin: 0px;padding: 0px !important;border-radius: 0px !important;background: transparent;box-shadow: 0px 0px 0 !important;
                          border-width: 0;position: absolute;left: 10px;z-index: 2;top: 50%;transform: translate(0, -50%);outline: none;}
.search_bar_small.input_search{width:100%;position:relative;}
.search_bar_small.input_search input {height: 40px;line-height: 40px;padding:0px 50px;outline: none;}
.event_loca button {margin: 0px;padding: 0px !important;border-radius: 0px !important;background: transparent;box-shadow: 0px 0px 0 !important;border-width: 0;position: absolute;
                    right: 7px;z-index: 2;top: 50%;transform: translate(0, -40%);outline: none;}
.event_loca{width:100%;position:relative;}
.event_loca input {height: 40px;line-height: 40px;padding:0px 50px 0px 15px;outline: none;}
/*input*/


/*menu*/

/*user_infomrmations*/
.user_info { margin: 0px auto; padding: 0px; list-style: none; text-align: center;}
.user_info li { display: inline-block; margin: 0px 10px; line-height: 20px;}
/*user_information--*/

/*--acordiation--*/
.more-less {float: right;}
.accordion_me .panel-group .panel + .panel{padding:10px;}
.accordion_me .panel-heading {padding:0;line-height: 18px !important;border: 0;}
.accordion_me ul{ padding: 0px;margin: 0px;display: table;}
.accordion_me ul li:last-child {float: right;padding-right: 15px;padding-left: 10px;width: 135px;}
.accordion_me ul li:nth-child(2) {width: 80%;}
.accordion_me ul li{display:table-cell;padding:12px 14px; vertical-align: top;}
.accordion_me .panel-title i {padding-top: 10px;padding-right: 10px;display: table-cell;}
/*--acordiation--*/

label.btn.btn-default.btn-sm.center-block.btn-file {padding: 0px;border-radius: 0;border: 0;background: transparent;}
ul.file_down{list-style: none;display: flex; flex-wrap:wrap;width: 100%;}
.file_down span.fms_file {display: flex;flex-wrap: wrap;width: 100%;}
ul.file_down li{float: left;width: 12.5%;text-align: center;padding: 1%; padding-top: 0px; display: grid;}
ul.file_down li img{display: table;text-align: center;margin: 0px auto;width: 35px;}
ul.file_down li .path_file{/* margin-top: 10px; */  margin-top: 0px; }
p.select_all span {float: left;padding-right: 6px;}
textarea.width{height: 150px}
table.case_id.dataTable td span{display: block;margin-bottom: 7px;}
table.case_id.dataTable{border-collapse: separate;border-spacing: 0px 14px;}
.call_hist{border-collapse: separate;border-spacing: 0px 14px;}

.User_call{border-collapse: separate;border-spacing: 0px 0px;float: left;width: 80%;margin-right: 2%;}
.on_f_to_ul li {float: none;display: table-cell;}
.on_f_to_ul li input{text-align: center;padding:0px 10px;}
ul.on_f_to_ul li {padding-left: 10px;}
table.call_hist.logs_of_case_table{border-collapse: separate;border-spacing: 0px 14px;}

.required{position: relative;display: block;}
.required:before {    background-size: 6px; position: absolute;content: '';background: url(../images/admin/star_icons.svg);right:-2px;line-height: 10px;top: -4px; top:-7px;text-align: right;width: 7px;height: 7px;background-repeat: no-repeat;}
.required_select{position: relative;}
.required_select:before{position: absolute;content: '';background: url(../images/admin/star_icons.svg);right: 0;line-height: 10px;top: -10px;text-align: right;width: 7px;height: 7px;background-repeat: no-repeat;}

/*=======================*/
/*=========Member=======*/
.landing_graph{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;list-style:none;  justify-content: space-between;}
/* .landing_graph li{width:30%;padding:20px 30px} */
.landing_graph li{width:50%;padding:20px 30px}
.landing_graph_item_2 {justify-content: center;}
/* .landing_graph li:nth-child(2n){margin:0 5%;} */
.landing_graph li:nth-child(2n){margin:0 2%;}
.W_M_Y_box span{padding: 0px 8px;}
.W_M_Y_box{text-align: center;}
.odometer {height:62px;line-height: normal !important;overflow: hidden;}
.search_m{border-collapse: separate;border-spacing: 0 1em !important;}
.accordion_member ul li:last-child{float: none;}
.accordion_member ul{display:flex;width: 100%;} 
.accordion_member ul li{display: inline-flex;} 
.accordion_member ul li:first-child{width: 55%;}
.accordion_member ul li:last-child{ width:40%;}
.accordion_member .panel-body{padding: 0px;}
.calendar_me{width: 100%;}
.calendar_me tr td {height: 18px;padding: 4px 5px;}
.calendar_me tr td:first-child,
.calendar_me tr th:first-child{border-left: 0px solid transparent;}
.calendar_me tr td:last-child,
.calendar_me tr th:last-child{border-right: 0px solid transparent;}
.Quali_table{width: 100%;border-collapse: separate !important;border-spacing: 0 1em !important;}
table.Quali_table tr td {line-height: 18px;}
.quali_width li{width: 16.6% ;}
.key_color ul{list-style: none;}
table.Quali_table.Site_Par span {color: #1e1e1e;}

/*-------------------------table--------------------*/
.table_def{width: 100%;border-collapse: separate !important;border-spacing: 0 1em !important;}
table.table_def tr td {padding: 7px 15px;line-height: 18px;}
table.table_def tbody tr, table.table_def thead tr {box-shadow: 0px 0px 4px 0px #cacaca;}
table.table_def tbody tr.odd td, table.table_def tbody tr.odd td {background: #e6e6e6 !important;}
table.table_def td span.break_1{display: block;width: 100%;margin-bottom: 0px;}
table.table_def tbody tr td, table.table_def thead tr th{border-right: 1px solid #cccccc;}
table.table_def tbody .child td,
table.table_def tbody .child{border: 0px !important;}
/*-------------------------table--------------------*/
.user_profile ul{list-style: none;padding: 0px;margin: 0px;}
table.member_s tr td {padding: 10px 15px !important;line-height: 17px;}
table.member_s tr td:first-child{padding-left: 30px !important;}
table.member_s > tbody > tr.child ul{display: block !important;}
.time_on_div{width: 50%;float: left}
.time_on_div_2{width: 50%;float: right; text-align: right;}
.time_on_div {color: initial;margin-top: 10px;}
td.child h4 {margin-top: 10px;}
.Total_text{padding-left: 15px;}
.total_div a{color: inherit;}
.total_div a{padding-left: 10px;}
.counter_1{font-size:5.8vw !important;line-height:  5.1vw !important;height: auto;}
.counter_1 span.odometer-digit{line-height:  5.5vw !important;height: 6.5vw  !important;}

ul.pagination_your li {list-style: none;display: inline-block;text-align: center;vertical-align: middle;padding: 5px;line-height: 16px;}
footer h6, footer h5{line-height: 0px;}
.view_by {line-height: 14px;margin-bottom: 30px;}
.Total_text.r{padding-left: 0px;}
.key_color ul li {margin-bottom: 5px;}
.green_dark small {width: 20px;height: 20px;display: inline-block;vertical-align: middle;border-radius: 2px;margin-right: 5px;}
.red_dark small {width: 20px;height: 20px;display: inline-block;vertical-align: middle;border-radius: 2px;margin-right: 5px;}
.yello_dark small {width: 20px;height: 20px;display: inline-block;vertical-align: middle;border-radius: 2px;margin-right: 5px;}
.green_regular small {width: 20px;height: 20px;display: inline-block;vertical-align: middle;border-radius: 2px;margin-right: 5px;}
.green_very_light small {width: 20px;height: 20px;display: inline-block;vertical-align: middle;border-radius: 2px;margin-right: 5px;}
.include_box input.checkbox1[type="checkbox"] + label span {display: inline-block;width: 25px;height: 25px;margin: -2px 7px 0 0px;vertical-align: middle;cursor: pointer;border-radius: 4px;background: #1e1e1e;}
.include_box input.checkbox1[type="checkbox"]:checked + label span {background-image:url(../images/admin/check_trans.svg);background-size: 25px;background-repeat:no-repeat; }
.include_box small {display: inline-block;width: 60%;line-height: 11px;margin-top: 0;vertical-align: middle;font-size: 11px;}
span img.pending_mess{margin-left: 10px;margin-right: 15px;width: 20px; }

/*=======================*/
/*=========Org=======*/
.multiple_checkbox{border-radius: var(--b-radius);}
.multiple_checkbox span label {font-size: 14px !important;margin-bottom: 0px !important;}
.multiple_checkbox input.checkbox1[type="checkbox"] + label span {border-radius: 2px;height: 17px;width: 18px;}
.multiple_checkbox input.checkbox1[type="checkbox"]:checked + label span {background-size: 20px 19px;background-position: center;}
table.Org_T  span.dtr-data .col-md-10 {padding: 0;}
table.Org_T.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before,
table.Org_T.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child:before,
table.Org_T.dataTable.dtr-inline.collapsed > tbody > tr.parent > td:first-child:before, 
table.Org_T.dataTable.dtr-inline.collapsed > tbody > tr.parent > th:first-child:before{
    right:15px !important;
    left: inherit;
}
.nav-tabs {padding-right: 0;padding-left: 0;}
table.Org_T.dataTable tfoot td{border: 0px;}
table.Org_T.dataTable tfoot tr td {padding-right: 0 !important;}

/*=======================*/
/*=========Schedules=======*/

.enter_but li {padding: 0;text-align: center;}
.enter_but li a{display: block;font-size:30px;padding: 10px;}
.include_box.T_check small{width: auto;}
.label_equla_but {line-height: 40px;height: 40px;display: block;text-align: center;}
.include_box.Num_C small{width:auto;}
span.include_box.Num_C {padding-right: 30px;}
span.include_box.Num_C:last-child {padding-right:0px;}
.combine_div{display: flex;flex-wrap: wrap;}
.Unfilled_div{padding: 0px;}
.Mathed_div{padding: 0px;}
.Avai_Member_div{padding: 0px;}

.Avai_Member_div h1,.Mathed_div label, .Unfilled_div h1{display: block;line-height: 85px;text-align: center;height: 85px;}
table.shift_table {width: 100%;}
table.shift_table td{padding: 4px;background: none !important;}
.up_down_arrow {width: 23px;}
.date_div{width: 90px;}
.duration_div {width: 80px;}
.start_div{width: 65px;}
.Unfilled_div .accordion_me .panel-title i,
.Avai_Member_div .accordion_me .panel-title i{padding-top: 7px ;padding-right: 7px ;}
.combine_div .accordion_me .panel-title i {padding-top: 7px;padding-right: 8px;}
.padding_right{padding-right: 15px;}
.padding_left{padding-left: 15px;}
.combine_div p.sm_size {line-height: 1.2vw;}
.combine_div .icons_right a img{
    width:1.5vw;
}
.combine_div .icons_right a:first-child img {width: 1vw;}
.content {overflow: auto;position: relative;padding: 0px;margin: 0px;max-width: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.Schedules_Multiple_checkbox{position: relative;height: 150px;}
.multiple_checkbox {height: 120px;}
.Schedules_Multiple_checkbox span label {margin-bottom: 0px !important;}
.Schedules_Multiple_checkbox input.checkbox1[type="checkbox"] + label span {border-radius: 2px;height: 17px;width: 18px;}
.Schedules_Multiple_checkbox input.checkbox1[type="checkbox"]:checked + label span {background-size: 20px 19px;background-position: center;}
.Schedules_Multiple_checkbox .w_50{width: 49%;display: inline-block;vertical-align: top;}
.textarea_height textarea{height: 150px;width: 100%;}

table.Schedules_calendar_table {width: 100%;}
table.Schedules_calendar_table tr td {padding: 10px;}
td.day table th:nth-child(2) {text-align: right;}
.calendar_table .days .day table tr:last-child td{border-bottom: 0px;}
.other-month table tbody{opacity: 0.5;}
.calendar_table .days .day table tr th {font-size: 16px;}
.left_side,
.right_side,
.center_box {display: table-cell;}
.left_side, .right_side {width: 45px;text-align: center;vertical-align: top;}
.Month ul.list{display: inherit;}
.Month ul.list li{display: inherit;padding: inherit;width: inherit;text-align: inherit;}
h1.month_name {color: #1d1d1b;}
.Schedule_Modal_2 input {line-height: 0px !important;height: 30px;font-size: 13px !important;}
.Schedule_Modal_2 .required_select:before{top: 5px;}
.Schedule_Modal_2 .nice-select {height: 30px;line-height: 30px;}
.Schedule_Modal_2 .nice-select.wide.required_select::before {top: -25px;}
.Schedule_Modal_2 .nice-select:after {border-right: 6px solid transparent !important;border-left: 6px solid transparent !important;border-bottom: 0px solid transparent;content: '';display: block;pointer-events: none;position: absolute;right: 12px;}
.Schedule_Modal_2 textarea{width: 100%;}
textarea{overflow-x: hidden;}
.b_check input.checkbox1[type="checkbox"] + label span {background: none;}
.Site_Par tfoot tr td {padding: 0px !important;}
input.checkbox2[type="checkbox"] + label span {display: inline-block;width: 19px;height: 19px;margin: -2px 7px 0 10px;vertical-align: middle;cursor: pointer;border-radius: 4px;float: right;vertical-align: middle;}
.multiple_checkbox .w_100{width: 100%;display: inline-block;}
.Plan_accordion .panel-title div {padding-top: 3px;padding-bottom: 3px;}
.Plan_accordion .panel-body {padding-top:4px;padding-bottom:4px;}
.Plan_accordion .panel-body{padding: 0px;}
.table_a{display: table;width: 100%;padding-right: 30px !important;}
.Plan_accordion .bor_B {border-bottom: 1px solid #777 !important;}
.Plan_accordion .panel-default {border-color: #777;}
.Plan_accordion .panel-default>.panel-heading+.panel-collapse>.panel-body{
    border-top-color:#777;
}
.Plan_accordion .panel-title div span,
.Plan_accordion .panel-body .col-md-4 {color:var(--txt-color);}
.Plan_accordion .panel-title .col-md-8{font-weight: 600;}

ul.our_goals li,
ul.our_goals li:nth-child(2),
ul.our_goals li:last-child{display: inline-block;width: 7.5% !important;height: 50px;float: none;}
ul.our_goals li.jan, ul.our_goals li.feb, ul.our_goals li.mar, ul.our_goals li.apr, ul.our_goals li.may, ul.our_goals li.jun, ul.our_goals li.july, ul.our_goals li.aug, ul.our_goals li.set, ul.our_goals li.oct, ul.our_goals li.nov, ul.our_goals li.dec{position: relative;}
ul.our_goals span.tag {position: absolute;bottom: -31px;margin-left: -4.0%;height: 24px;line-height: 19px;width: 400px;left:50%;color: #1e1e1e;}
ul.our_goals li{position:relative;}
ul.our_goals span.tag:after {  position: absolute;content: '';left: 3.5px;height: 30px;top: -28px;z-index: 9;background: #1e1e1e;width: 1px;}
ul.our_goals span.tag:before {position: absolute;content: '';width: 8px;height: 8px;top: -29px;border-radius: 10px;background: #1e1e1e;z-index: 1;}

.Par_care_ac table td {padding:10px 10px;}
.Par_care_ac table td:first-child{width:85px;padding-right: 0px;}
.Par_care_ac table td:nth-child(2){width: 160px;text-align: right;padding-left: 0px;}
.Par_care_ac table td:nth-child(3){padding-right: 30px;}
.Par_care_ac .panel-body table tr:first-child td{padding-top: 3px;}

textarea.col-md-12 {width: 100% !important;}
span.icon.icon-arrow-right, .icon-arrow-red-left{position: relative;height: 18px;line-height: 18px !important;}
/* .icon-arrow-right:before {transition: all 0.15s ease-in-out;background-size: 15px;height: 18px;width: 18px;position: absolute;top:5px;right:-5px;} */
.paginate_button.previous.disabled span,
.paginate_button.next.disabled span  {opacity: 0.2;}
.icon-arrow-red-left:before {transition: all 0.15s ease-in-out;content: "" !important;background-size: 15px;height: 18px;width: 18px;position: absolute;top:-5px;left: 0px;}
.input_and_textarea textarea {border: 0px !important;}
.input_and_textarea{overflow: hidden;padding:0px 15px;}
.input_and_textarea input{border-radius: 0px !important;padding-left: 0px !important; }
.input_and_textarea textarea{width: 100%;padding: 0px;border-radius: 0px !important;height: 90px;}
.Quali_table tfoot tr td{padding: 0px;}
.Plan_accordion .panel-title div span {line-height: 0;}
.user_profile p.select_all span {float: none;padding-right: 6px;vertical-align: top;}
.search_m tbody td{padding: 10px 18px !important;}
.nav-tabs li a{text-align: center;line-height: 20px;}
.nice-select.wide{text-align: center !important;}
.font_small .nice-select.wide {text-align: center !important;}
.font_big .nice-select.wide {text-align: center !important;}
.date_and_time, .calendar_me tr th{text-align: center;}
.width_130{width: 130px;}
.counter_1 span.odometer-digit {line-height: 5.5vw !important;height:auto !important;}
.counter_1 span.odometer-digit  .odometer-value{padding-top: 0.5vw;}


/********** header tooltips ********/
.share_div{display: none;background: #545454;z-index: 1;border-radius: 0px;margin-top: 50px;height:94.9%;width: 250px;position: absolute;
           bottom: 0;top: 0;right: 0;padding: 10px 10px;}
.message-bubble {background: #34444c;color: #fff;}
.message-avatar {display: table-cell;vertical-align: top;width: 45px;min-width: 45px;}
.name-user{display: table-cell;vertical-align: top;padding-right: 7px;}
.timing{display: table-cell;vertical-align: bottom;font-size: 12px;width: 75px;min-width: 75px;padding-left: 5px;}
.message-text {display: block;background: #fff;padding: 8px 15px;line-height: initial;border: 1px solid #545454;font-size: 15px;}
.message-avatar span img {width: 25px;display: inline-block;}
.message-avatar span {background: #fff;height: 40px;width: 40px;display: inherit;vertical-align: middle;margin: 0px auto;text-align: center; border: 1px solid #545454; border-radius:  var(--b-radius);}
.message .message-text {font-size: 15px;}
.user-received{ display: table;}
/*******************************/

/* nice select =====================================*/
.nice-select{-webkit-tap-highlight-color:transparent;background-color:#1e1e1e;border:0 solid #fff}
.nice-select:hover{border-color:#dbdbdb}
.nice-select.open,.nice-select:active,.nice-select:focus{border-color:#999}
.nice-select:after{border-bottom:2px solid #999;border-right:2px solid #999}
.nice-select.disabled{border-color:#ededed;color:#999;pointer-events:none}
.nice-select.disabled:after{border-color:#ccc}.nice-select .list{background-color:#fff}
.nice-select .list:hover .option:not(:hover){background-color:transparent!important}
.nice-select .option.focus,.nice-select .option.selected.focus,.nice-select .option:hover{background-color:#f6f6f6}
.nice-select .option.disabled{background-color:transparent;color:#999;cursor:default}
.nice-select .current{color:#fff}

/* Default border and button and icons colors active and hover ==================*/
i.history_button {font-size: 30px;color: #1e1e1e;}
.invoice_button:before {font-size: 30px;color: #cc9900;line-height: 0;}
.plan_address i:before{font-size: 30px;vertical-align: middle;}
a.Plus_button {font-size: 14px;width: 100%;font-weight: 200 !important;padding: 9px 5px;display: table;text-align: center;vertical-align: middle;}
.Plus_button span {display: table-cell;vertical-align: middle;width: 100%; font-weight: 400;}
.Plus_button span.icon-add-icons:before {font-size: 25px;line-height: 0;padding-top: 10px;display: table-cell;}
a.Plus_button {background: #1e1e1e;}
ul.file_down .icon-file-icons:before {font-size: 55px;color: #777;}
.add_i_icon .icon-add-icons:before {background: #1e1e1e;color: #fff;font-size: 32px;border-radius: var(--b-radius);padding: 4px 4px 4px 4px;}
/* .glyphicon-plus:before{content: "\66";font-family: "icons_me";} */

a:focus {color: #777;}
a:hover {color: #777;}
a:focus,a:hover {outline: none;text-decoration: none;}
.nice-select{background: #1e1e1e;}
.back_icons{ color: #1e1e1e;}
.bor_T,.bt-1{border-top: 1px solid #1e1e1e;}
.bor_B,.bb-1{border-bottom: 1px solid #1e1e1e;}
.by-1{border-top: 1px solid #1e1e1e;border-bottom: 1px solid #1e1e1e;}
.search_bar .input_search input{border: 1px solid #1e1e1e;}
a.but_1 {background: #e6e6e6;color: #1e1e1e;}

a {color: #fff;}
aside ul.side_menu {background: #cdcccc;}
i.update_button:before{font-size: 30px;color: #009966;}
.user_info li {color: #777;}
.user_info li span{color: #1e1e1e;}

input{border:1px solid #1e1e1e;background: #fff;}
.event_loca input{border:1px solid #1e1e1e;background: #fff;}
textarea{border:1px solid #1e1e1e;background: #fff;padding:10px 15px;}
input.but{background: #1e1e1e;}
button.but{background: #1e1e1e;}
a.but{background: #1e1e1e;color: #fff;display: table;}
.but_one{background: #e6e6e6; color: #fff;display: table;}
.but{background: #1e1e1e;color: #fff;display: table;}
a.but_1{background: #1e1e1e;color: #fff;}
.input_and_textarea{border:1px solid #1e1e1e;}
.input_and_textarea{background: #fff;}
/* .color{color: #777;} */
.nav-tabs li a{background: #cccccc;color: #1e1e1e; }
.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus {background: #e6e6e6;color: #777;cursor: pointer;}
table.case_id.dataTable td span{color: #777;}
.call_hist td span {color: #777;}
.Total_text {color: #777;border-bottom: 1px solid #777;}

.accordion_me .panel-default > .panel-heading {color: #1e1e1e; /*background-color: #f5f5f5;*/border-color: #ddd;}
.accordion_me .panel-heading { background-color: #e6e6e6;border-color:#fff;}
.accordion_me ul li:first-child{border-left: 0px solid #ddd;}
.accordion_me .icon-arrow-1-down:before{content: "\3b";font-family: "icons_me"; }
.accordion_me .icon-arrow-1-up:before{content: "\3e";font-family: "icons_me"; }
/* .accordion_me ul li:last-child span {color: #777;} */
.accordion_me ul li:last-child {border-left: 1px solid #ddd;}

input.input_c[type=checkbox] {display:none;}
input.input_c[type=checkbox] + label {background: #1e1e1e;height: 18.665px;width: 18.665px;display: inline-block;padding: 0 0 0 0px;border-radius: 4px;vertical-align: middle;}
input.input_c[type=checkbox]:checked + label {background-image:url(../images/admin/check_trans.svg);height:18.665px;width: 18.665px;display:inline-block;padding: 0 0 0 0px;}

.event_loca.search_i_right .icon-search {font-size: 22px;}
a.attach_button i{color: #009966;font-size: 30px;}
a.un-attach_button i{color: #cc3366;font-size: 30px;}
.size_add span.icon.icon-add-icons {font-size: 30px;color: #1e1e1e;margin-right: -3px;}
.call_hist td {border-right: 1px solid #cccccc;background: #e6e6e6 !important;}
.User_call td {border-right: 1px solid #cccccc;background: #e6e6e6 !important;}
.icon-caller-icons.volume_button:before {font-size:30px;color: #1e1e1e;}
.icon-phone-icons.phone_icon:before{font-size: 30px;color: #1e1e1e;}

.lock_icon .icon-circule:before {background: #fff;border-radius: 50%;font-size: 55px;padding: 10px 15px 15px 15px;display: inline-block;}
.lock_icon .icon-mobile:before {background: #e6e6e5;border-radius: 50%;font-size: 50px;color: #1e1e1e;padding: 7px 7px 9px 7px;display: inline-block;}
.Modal_A .text {color: #1e1e1e;border-top: 1px solid #1e1e1e;border-bottom: 1px solid #1e1e1e;}
.close_i i.icon.icon-cross-icons {font-size: 24px;color: #1e1e1e;}

/***** Modal***************/
.modal {text-align: center;padding: 0!important;}
.modal:before {content: '';display: inline-block;height: 100%;vertical-align: middle;margin-right: -4px;}
.modal-dialog {display: inline-block;text-align: left;vertical-align: middle;}
.fade-scale {transform: scale(0);opacity: 0;-webkit-transition: all .25s linear;-o-transition: all .25s linear;transition: all .25s linear;}
.fade-scale.in {opacity: 1;transform: scale(1);}
.Modal_A .modal-dialog{width: 500px;}
.Modal_A .close{float: none;text-align: center;margin: 0px auto;opacity: 1;display: table;}
.Modal_A .lock_icon {display: table;margin: 0px auto;margin-top: -50px;}
.Modal_A .modal-body{padding: 15px 30px;}
.Modal_A .text {font-size: 20px;line-height: 40px;height: 40px;}
.Modal_A .six_digit input {width: 240px;display: table;margin: 0px auto;text-align: center;padding: 4px 6px;outline: none;font-size: 14px;}
.Modal_A .six_digit{margin: 25px auto 10px;}
.Modal_B  .modal-dialog{width: 680px;}
.Modal_big .modal-dialog{width: 80%;}
.Modal_B  .modal-body{display: table;width: 100%;}
.Modal_B .modal-body .dis_cell{display: table-cell;}
.Modal_B .modal-body .dis_cell:nth-child(2n){width: 40px;padding-left: 15px;}
.Modal_B .modal-body{padding: 20px 25px; }
.Modal_B .nice-select.wide .list{text-align: center;}
.Schedule_Modal_2 .modal-dialog {width: 750px !important;}
.Par_modal .modal-dialog {width: 750px !important;}

/********Graph***************/
.landing_graph li {background: #e6e6e6;}
.landing_graph h2 {color: #1e1e1e;}
.W_M_Y_box span.active {color: #1e1e1e;}
.W_M_Y_box span {color: #999999;}


/********Member profile ****************/
.f_color_size .col-md-3 {color: #777;}
.multiple_checkbox input.checkbox1[type="checkbox"] + label span {background: #fff left top no-repeat;border: 1px solid #1e1e1e;}
.multiple_checkbox{border:1px solid #1e1e1e;}
.multiple_checkbox input.checkbox1[type="checkbox"]:checked + label span {background-size: 16px !important;position: relative;}
.multiple_checkbox input.checkbox1[type="checkbox"]:checked + label span:after{position: absolute;content:"\70";font-family: "icons_me";color: #fff;}
.b_check input.checkbox1[type="checkbox"] + label span {border: 1px solid #1e1e1e;}

.Schedules_Multiple_checkbox input.checkbox1[type="checkbox"] + label span {background: none;border: 1px solid #1e1e1e;}
.Schedules_Multiple_checkbox input.checkbox1[type="checkbox"]:checked + label span {background: #1e1e1e;background-size: 16px !important;position: relative;}
.Schedules_Multiple_checkbox input.checkbox1[type="checkbox"]:checked + label span:after{position: absolute;content:"\70";font-family: "icons_me";color: #fff;}
.Schedules_Multiple_checkbox {border: 1px solid #1e1e1e;background: #fff;}

input.checkbox1[type="checkbox"],
input.checkbox2[type="checkbox"]{display: none;}

input.checkbox1[type="checkbox"] + label span,
input.checkbox2[type="checkbox"] + label span{background: #fff left top no-repeat;border: 1px solid #1e1e1e;}
input.checkbox1[type="checkbox"]:checked + label span,
input.checkbox2[type="checkbox"]:checked + label span{background: #1e1e1e;background-size: 16px !important;position: relative;}
input.checkbox1[type="checkbox"]:checked + label span:after,
input.checkbox2[type="checkbox"]:checked + label span:after{position: absolute;content:"\47";font-family: "icons_me";color: #fff;font-size: 14px;left: 1px;}
input.checkbox1[type="checkbox"] + label span,
input.checkbox_m_play[type="checkbox"] + label span {display:inline-block;width:19px;height:19px;margin:-2px 7px 0 10px;vertical-align:middle;cursor:pointer;border-radius: 4px;}
input.checkbox1[type="checkbox"] {display:none;}
input.checkbox1[type="checkbox"] + label {font-size: 11px;}

input.checkbox_m_play[type="checkbox"] {display: none;}
input.checkbox_m_play[type="checkbox"] + label span {background: #fff left top no-repeat;border: 1px solid #1e1e1e;}
input.checkbox_m_play[type="checkbox"]:checked + label span{background: #1e1e1e;background-size: 16px !important;position: relative;}
input.checkbox_m_play[type="checkbox"]:checked + label span:after{position: absolute;content:"\70";font-family: "icons_me";color: #fff;font-size: 16px;left: 0;top: 0;}

.h_small i.history_button {font-size: 20px;vertical-align: middle;padding-left: 4px;}
.dotted_line {border-bottom: 1px dashed #777;}
.archive_button {font-size:30px;color: #cc3366;}
.user_img {border: 3px solid #000;}
.Par_care_ac table td:nth-child(2) {border-right: 1px solid #ccc;color: #1e1e1e;}
.collapsed_me {white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.panel-title{overflow: hidden !important;}

.accordion_me.Par_care_ac .panel-default:nth-of-type(odd) {background: #fff;}
.accordion_me.Par_care_ac .panel-default:nth-of-type(even) {background: #e6e6e6;}
.accordion_me.Par_care_ac .panel-heading:nth-of-type(odd) {background: none !important;}
.accordion_me.Par_care_ac .panel-default>.panel-heading+.panel-collapse>.panel-body{border:0px solid #000 !important;}
.big_circule_icon:before {font-size: 43px;background: #1e1e1e;height: 47px;width: 47px;display: inline-block;text-align: center;vertical-align: middle;line-height: 47px !important}
.big_mobile_icon:before {font-size: 41px;background: #1e1e1e;height: 47px;width: 47px;display: inline-block;text-align: center;vertical-align: middle;line-height: 47px !important}
.big_add_icon:before {background: #1e1e1e;font-size: 33px;height: 47px;width: 47px;display: inline-block;text-align: center;vertical-align: middle;line-height: 47px !important}
.br_1_gray{border-right:1px solid #ccc;}
.bl_1_gray{border-left:1px solid #ccc;}
.px-3px{padding-left: 3px;padding-right: 3px}
.time_on_div span {color: #db4255 !important}
table.table_def td span {color: #777}
ul.our_goals li.Refused_to_Participate{background: #e51a29;}
ul.our_goals li.Hand_over_hand_physical_Assistance{background: #db4255;}
ul.our_goals li.Partial_Physical_Assistance{background: #e07a00;}
ul.our_goals li.Model{background: #e2a100;}
ul.our_goals li.Full_Assistance_Direct_Verbal{background: #8fd150;}
ul.our_goals li.Indirect_Verbal{background: #09b750;}
ul.our_goals li.Natural_CueIndependen{background: #f1cd83;}
ul.our_goals li.Gesture{background: #009245}
ul.our_goals li.set{background: #87dbaa;}
ul.our_goals li.oct{background: #f18993;}
ul.our_goals li.nov{background: #87dbaa;}
ul.our_goals li.dec{background: #82c8a4;}
.table_a .pull-right {color: #777}
aside ul.side_menu li a.major_button {color: #777}
.Plan_accordion .panel.panel-default:nth-child(2n+1) .panel-heading {background: none !important}
.enter_but li {background: #1e1e1e}

.green_dark small {background: #009244;}
.red_dark small {background: #e41a28;}
.yello_dark small {background: #e19f00;}
.green_regular small {background: #08b750;}
.green_very_light small {background: #8fd050;}

.calendar_me tr th {border: 1px solid #cdcccc;}
.upda_Icon:before{font-size: 30px;color: #1fa87f;}
.upda__Icon:before {font-size: 25px;color: #1fa87f;display: inline-block;vertical-align: middle;line-height: 0px !IMPORTANT;}
.decr_Icon:before{font-size:30px;color: #dc4b5c;}
.folder_Icon:before{font-size: 30px; color: #1fa87f;}
.archive_Icon:before{font-size: 30px;color: #dc4b5c;}
input.checkbox_flex[type="checkbox"] {display: none;}
input.checkbox_flex[type="checkbox"] + label {font-size: 11px;}
input.checkbox_flex[type="checkbox"] + label span {display: inline-block;width: 19px;height: 19px;margin: -2px 7px 0 10px;vertical-align: middle;cursor: pointer;border-radius: 4px;background: #1e1e1e;}
input.checkbox_flex[type="checkbox"]:checked + label span {background: #1e1e1e;position: relative;}
input.checkbox_flex[type="checkbox"]:checked + label span:after{
    position: absolute;
    content:"\70";
    font-family: "icons_me";
    color: #fff;
    left: 0;
    font-size: 18px;
    top: 2px;
}
table.Quali_table tbody tr.odd td {background: #e6e6e6;}
.table_def thead tr{box-shadow: none !important;background: none !important;}
.table_def thead tr th{border-top: 1px solid #1e1e1e;border-bottom: 1px solid #1e1e1e;border-right: 1px solid #1e1e1e !important;}
.table_def thead tr th:last-child{border-right: 0px solid #000 !important;}


/****** calander *****/
.calendar_table .days .day table {border-left: 1px solid #bbbbbb;border-bottom: 1px solid #bbbbbb;}
.calendar_table tr:first-child td.day {border-top: 1px solid #bbbbbb;}
.calendar_table tr td:last-child {border-right: 1px solid #bbbbbb;}
.calendar_table .days .day table tr td {border-bottom: dashed 1px #bbbbbb;}
.calendar_table {width: 100%;}
.calendar_table .days .day table {width: 100%;}
.calendar_table .days .day table tr td {line-height: 20px;height: 20px;}
.calendar_table .days .day table tr th {line-height: 30px;height: 30px;padding:0px 10px;}
.present_date td {background: #8ee2ac;border-left: 1px solid #6ba781;border-top: dashed 1px #42604d;border-bottom: dashed 1px #42604d;}
.calendar-wrap {display: table;width: 100%;padding: 30px 0px;background: #fff;}

input.checkbox_big[type="checkbox"]{display: none;}
input.checkbox_big[type="checkbox"]:checked + label span {background: #1e1e1e;position: relative;}
input.checkbox_big[type="checkbox"]+ label span {border: 1px solid #1e1e1e;background: #1e1e1e;display: inline-block;width: 24px;height: 24px;margin-right: 2px;vertical-align: middle;cursor: pointer;border-radius: 4px;}
input.checkbox_big[type="checkbox"]:checked + label span:after {position: absolute;content: "\70";font-family: "icons_me";color: #fff;font-size: 21px;left: 50%;top: 50%;transform: translate(-50%, -50%);}
/********************/

/**********admin*******************/


.text_app {font-size: 20px;text-align: center;padding: 10px 15px;background: #eee;}

.but_around li {display: inline-block;width: calc(100% / 10);vertical-align: top;}
.but_around {list-style: none;padding: 0px 60px;}
span.add_access {font-family:sans-serif; width: 70px;height: 70px;display: block;margin: 0px auto;vertical-align: middle;font-size: 50px;line-height: 70px;border-radius: var(--border-radius100);font-weight: 600;color: #fff;opacity: 0.2;}
.access{opacity: 1 !important; }
.but_around_threee {display: flex;justify-content: center;}
.but_around_threee li {display: inline-flex;width: auto;margin: 0px 15px;}

.header_search{position: relative;}
.row-access a {display: table;margin: 0px auto;}
.row-access a:hover{opacity: 0.5}
label.checkbox_icons input {display: none;}
label.checkbox_icons span {height: 20px;width: 20px;display: inline-block;position: relative;border-radius: 4px;background: #1e1e1e;vertical-align: bottom;}
.checkbox_icons input[type=checkbox]:checked + span:before {content: "\70";font-family: "icons_me" !important;position: absolute;top: 1px;left: 2px;color: #fff;}
.back_arrow {color: #1e1e1e;}
.back_arrow:before{font-size: 25px;}
.add_input{position: relative;}
.add_input button {position: absolute;top: 0px;right: 3px;background: no-repeat;border: none;height: 40px;}
.add_input button i{ font-size: 31px;}
.add_input button i.icon.icon-add-icons {display: flex;align-items: center;line-height:40px; vertical-align: middle; padding: 3px 0px;}
.but_around_second {list-style: none;padding: 0px 60px;}
.but_around_second li {display: inline-block;width: 20%;margin: 3rem 0 3rem;}
.but_around_second span.add_access {width: 100px;height: 100px;display: block;margin: 0px auto;vertical-align: middle;font-size: 75px;
                                    line-height: 100px;border-radius:var(--border-radius100);font-weight: 600;color: #fff;display: flex;justify-content: center;vertical-align: middle;align-items: center;}
.header_description tr th {padding: 5px 10px;border-right: 1px solid #ddd;background: #1e1e1e;color: #fff;font-weight: normal;}
.header_description tr td {padding: 10px;border-right: 1px solid #ddd;}
a.no_icos {font-size: 24px;color: red;display: inline-block;vertical-align: middle;}
a.yes_icons {font-size: 16px;border: 1px solid #4CAF50;width: 24px;height: 24px;display: inline-block;text-align: center;padding: 0px 5px 0px 3px;color: #4CAF50;}

.header_description tr th,
.header_description tr td{width: 25%;}
.header_description {width: 100%;}
.panel-group.Approvals_accordi .panel+.panel:nth-child(2n+0) {background: red !important;}
.Approvals_accordi .panel-default{background: none !important;}

.row.your [class*='col-'] {background-color: #e6e6e6;min-height: 100px;margin-bottom: 30px;border-radius:var(--b-radius);margin: 0px;height: 250px;}
.create_new span.icon.icon-update {font-size: 90px;margin-top: 25px;}
.create_new span {border: 0px solid #fff !important;border-radius: var(--border-radius100);text-align: center;background-clip: inherit !important;font-size: 120px;line-height: 60px;
                  text-align: center;color: #1c65cc;display: table;margin: 1rem auto 2rem;}
.row.your h4 {padding: 30px 15px 0px;height: 96px;font-size: 24px;line-height: 26px;font-family:gotham-rounded !important;color: #1e1e1e;}
.mt-7 {margin-top: 7rem;
}
input.input_3::placeholder,
input.input_3::-webkit-input-placeholder,
input.input_3::-moz-placeholder,
input.input_3::-ms-input-placeholder,
input::placeholder,
input::-webkit-input-placeholder,
input::-moz-placeholder,
input::-ms-input-placeholder,
input::-moz-placeholder {
    color: #cacaca !important;
    font-weight: 300;
}
.include_box input.checkbox1[type="checkbox"]:checked + label span{position: relative;}
a.Plus_button{color: #fff;}
.icon_cancel_1 {font-size: 24px;padding: 0px;line-height: 40px;display: flex;align-items: center;}
.roles_icon span {border: 4px solid #1d64cd;color: #1d64cd;font-size: 53px;padding: 10px 15px 0;border-radius: 55px;text-align: center;display: table;
                  margin: 0px auto;width: 95px;height: 95px;}
a.but:hover, .Plus_button:hover{color: #fff;} 
a.but:focus, .Plus_button:focus{color: #fff;}
.event_loca button i:before {font-size: 30px;line-height: 26px;}


.css-rsyb7x{line-height: 0px;padding-top: 0px;padding-bottom: 0px;margin: 0px;}
.css-1rtrksz{padding: 0px 8px;}
.css-1aya2g8{border: 1px solid #1e1e1e;background: #1e1e1e;}
.css-1aya2g8,
.css-2o5izw{box-shadow: none;overflow: hidden;}
.css-d8oujb{background: none;}
.css-1492t68{color: #ccc;}
.css-2o5izw:hover, .css-2o5izw:focus{border: 1px solid #1e1e1e;}
.css-va7pk8, .css-rsyb7x{color: #fff;}
.css-1rtrksz, .css-1wy0on6{background: #1e1e1e;}

.event_loca i.icon.icon-search:before {font-size: 22px;}
.email_call_icon i {text-align: center;font-size: 25px;vertical-align: middle;padding-left: 10px;}
.email_call_icon i.icon-notes{color: #2ba8f7;}
.email_call_icon i.icon-caller-icons{color: #1e1e1e;}

.br-1{border-right: 1px solid #cccccc;  }
.d-none{display: none !important;}
.d-inline{display: inline !important;}
.d-inline-block{display: inline-block !important;}
/*********admin close **********/

.error_bg p {font-size: 24px;color: #1e1e1e;line-height: 25px;}
.error_bg div a:hover{opacity: 0.5;}
/**/


.mb_4_vw{margin-bottom: 4vw;}
.table_search_new{position: relative;}
.table_search_new input{padding-right: 35px;}
.table_search_new button {position: absolute;right: 10px;top: 10px;background: none;border: 0;padding: 0px;}
.table_search_new button span{font-size: 21px;}

i.update_button:before{font-size:27px;color: #009966;}
i.plus_but:before{font-size:27px;color: #1e1e1e;}

.br-0{border-right: 0px solid #000 !important;}
.tr_between{border-collapse: separate;border-spacing:0px 10px;}
.shifts_deetails tr:nth-child(even){box-shadow:0px 0px 1px 2px #3833331a;}
.shifts_deetails tr:nth-child(odd){box-shadow:0px 0px 1px 2px #3833331a;}
.shifts_deetails tr:nth-child(even) td{background: #e6e6e6;}
.shifts_deetails tr:nth-child(odd) td{ background: #fff;}
.shift_start_heading span{ color: #cc3366;}
.booking_details_parent{font-size: 17px;}
.call_icon{font-size: 21px;display: inline-block;vertical-align: middle;}
.calendar_but{color: #1e1e1e;}
.internal_shift_parent:nth-child(even){background: #e6e6e6;box-shadow:0px 0px 9px 2px #0000002e;}
.internal_shift_parent:nth-child(odd){background: #fff;box-shadow:0px 0px 9px 2px #0000002e;}
.calernder_button{font-size: 26px;color: #1e1e1e;}
.check_button {border: 1px solid #1e1e1e;display: inline-block;vertical-align: middle;width: 25px;text-align: center;height: 25px;font-size: 15px;
               line-height: 28px;color: #1e1e1e;}

.available_member_table_parent{border-collapse: separate;border-spacing:0 10px;}
.available_member_table_parent tr td{background: #fff;}
.uncheck_button {font-size: 26px;display: inline-grid;vertical-align: middle;color: #1e1e1e;}
.circule_button {font-size: 46px;background: #1e1e1e;display: inline-block;line-height: 59px;color: #fff;width: 50px;height: 50px;text-align: center;
                 vertical-align: middle;}
.mobile_button {font-size: 45px;width: 50px;height: 50px;line-height: 60px;display: inline-block;vertical-align: middle;background: #1e1e1e;color: #fff;text-align: center;}
.but_one {background: #e6e6e6;color: #1e1e1e;display: table;width: 100%;text-align: center;padding: 9px 10px;}
.cal_button{font-size: 30px;background: #1e1e1e;display: inline-block;line-height: 59px;color: #fff;width: 50px;height: 50px;text-align: center;vertical-align: middle;}
table.shift_table tr td {border-right: 1px solid #ddd;}
.house_accordi .panel.panel-default:nth-child(odd) .panel-heading {background:none !important;}
.house_accordi .panel.panel-default:nth-child(even) {background: #e6e6e6 !important;}
.Mathed_div {border-left: dashed 1px #1e1e1e;border-right: dashed 1px #1e1e1e;}

table.shift_table tr td span {color: #777;}
.Avai_Member_div h1, .Mathed_div label, .Unfilled_div h1 {border-top: solid 1px #1e1e1e;border-bottom: solid 1px #1e1e1e;}
.Unfilled_div .panel.panel-default:nth-child(odd) .panel-heading{background: none !important;}
.Unfilled_div .panel.panel-default:nth-child(even) .panel-heading{background: none !important;}
.start_text{color: #cc3366 !important;}
.counter_td {width: 102px;}
.Name_div {width: 118px;}
.Avai_Member_div .accordion_me ul li{display: list-item !important;font-size: 10px;padding: 4px !important;line-height: normal;}
.place_text {font-size: 10px;line-height: 5px;}
.place_text:before{content: '';width: 5px;border-radius: 100%;height: 5px;background: #1e1e1e;display: inline-block;margin-right: 5px;}
.heading_prefer{font-size: 12px;margin: 0px;}
.approve_line {display: block;width: 100%;height: 1px;}
.match_with div {display: table-cell;vertical-align: middle;}
.line_me {height: 0;border-top: 1px solid #000;display: table;width: 95%;margin: auto;}
.match_with span.icon.icon-cross-icons {font-size: 25px;display: inline-block;vertical-align: middle !important;line-height: 29px;color: #ef0202;}
.match_with span.icon.icon-input-type-check {font-size: 13px;display: inline-block;vertical-align: middle !important;line-height: 25px;color: #328836;
                                             border: 1px solid #328836;width: 25px;text-align: center;opacity: 0.4;height: 25px;}
.fill_shifts_icons:before {font-size: 67px;line-height: 62px;display: inline-block;}
.icon.icon-add-icons.create_add_but::before {display: inline-block;vertical-align: middle;text-align: left !important;float: left;font-size: 31px;}


.key_color_calendar ul li {font-size: 13px;display: inline-block;text-align: center;}
.key_color_calendar ul{display: inline-block;}
.key_color_calendar {text-align: center;}
.key_color_calendar ul li span {display: inline-block;vertical-align: middle;}
.key_heading {font-size: 20px;}
.inside_funding small, .outside_funding small, .inside_funding_count small, .defaout_funding small,
.black_funcing small{width: 20px;height: 20px;display: inline-block;vertical-align: middle;border-radius: 2px;margin-right: 5px;}
.inside_funding small{background: #99cc99;}
.outside_funding small{background: #ff6666;}
.inside_funding_count small{background: #ff0000;}
.defaout_funding small{background: #999999;}
.black_funcing small{background: #000000;}
.outside_funding_number td{background: #ff0000;}
.defaout_funding td{ background: #999999;}
.black_funcing_number td{background: #000000;}
.d_table-cell{display:table-cell;}
span.inside_funding_date, span.outside_funding_date {border-radius: 100%;display: inline-block;width: 25px;height: 25px;text-align: center;
                                                     vertical-align: middle;line-height: 25px;}
span.inside_funding_date {background: #99cc99;}
span.outside_funding_date{background: #ff6666;}
.hidden_date {visibility: hidden;}
.border_dotted_right{border-right: 1px dashed #1e1e1e;}
.make_up div {font-size: 14px;justify-content: center;align-self: center;}
.make_header{font-size: 15px;}

.collaspe_roster .flex .pdd-b{padding-bottom: 15px;}
.collaspe_roster .flex:nth-of-type(even) .make_up{background-color: #ececec;}
.collaspe_roster .flex:nth-of-type(odd) .make_up {background-color: #ffffff;box-shadow: 0px 0px 18px 1px #ddd;}
.repeat_number{width: 100px;display: block;margin: 0px auto;}
.Search_common i:before {font-size: 22px;line-height: 35px;color: #1e1e1e;}
.popup_calander{background: #e6e6e6;}
.height_auto{height: auto !important;}
.Resi_details span{color: #777;}
.Resi_details span font{color: #1e1e1e;}
.lock_icon .icon-lock-icons:before {background: #fff;border-radius: 50%;font-size: 60px;color: #1e1e1e;}

.avalibilty_div{margin: 0px auto !important;padding: 0px;background:#e6e6e6;border-radius:  var(--b-radius);padding-top: 30px;}
.avalibilty_div .calendar_me tr td,
.calendar_repeat .calendar_me tr td{height:13px;line-height: 0px;}
.avalibilty_div table.calendar_me tr th,
.calendar_repeat table.calendar_me tr th{height: 25px;width:14%;}
.avalibilty_div .calendar_me tr td,
.calendar_repeat .calendar_me tr td{border-top: dashed 1px #cdcccc !important;border-right: 1px solid #cdcccc !important;border-bottom: dashed 1px #cdcccc !important;}
.avalibilty_div .calendar_me tr td:last-child, .calendar_repeat .calendar_me tr td:last-child{border-right: 0px solid #cdcccc !important;}

.accordion_member .panel.panel-default:nth-child(even) .calendar_me tr td,
.accordion_member .panel.panel-default:nth-child(even) .calendar_me tr th,
.accordion_member .panel.panel-default:nth-child(even){background: #fff;}
.accordion_member .panel.panel-default:nth-child(odd) .calendar_me tr td,
.accordion_member .panel.panel-default:nth-child(odd) .calendar_me tr th,
.accordion_member .panel.panel-default:nth-child(odd){background: #e6e6e6;}
.accordion_member .panel.panel-default:nth-child(even) .panel-heading,
.accordion_member .panel.panel-default:nth-child(odd) .panel-heading{ background: none;}

.calendar_me tr td {border-right: 1px solid #cdcccc;border-left: 1px solid #cdcccc;border-top: 1px solid #cdcccc;border-bottom: 1px solid #cdcccc;}
.calendar_me tr td {background: #e6e6e6;}
.unavaliable {background: #e51a29 !important;}
.DarkOliveGreen {background: #8fd251 !important;}
.DarkGolden {background: #e19f00 !important;}
.calen_accor .panel.panel-default {background: #e6e6e6;}
.avaliable{background: #009244 !important;color: #fff;}
.scroll_active_modal {display: block;height: 100%;overflow-y: auto;padding: 15px 10px;width: 100%;}
.overflow-hidden{overflow: hidden;}
.min-h-120{min-height: 120px;}
.Select-placeholder{color:#fff !important;}
.our_goals li:hover span{display: block !important;}

/*  internal Email */
.user-received {display: table;}
.name-user {display: table-cell;vertical-align: top;padding-right: 7px;}
ul.int_mail_1-D.ul_1 {list-style: none;}
.int_mail_1-D {padding: 0px !important;}
.int_mail_1-D {background: #cacaca;}
.int_mail_1-D.ul-1 li {padding: 15px 15px 15px 15px;border-bottom: 1px solid #0a3ef6;}
.int_mail_2-D .user-received {width: 100%}
.int_mail_2-D {padding: 15px;border-bottom: 1px solid #0a3ef6;}
.header_chat h3 {border-bottom: 1px solid #0a3ef6;}
.int_mail_1-D .message .message-text {font-size: 13px;font-weight: 300;}
.int_mail_1-D .message-text {font-size: 13px;}
.int_mail_2-D .message-text {font-weight: 300;font-size: 13px;}
.scroll-1 {background: #cacaca;}
.scroll-2 {background: #e4e4e4;}
.w-100 {width: 100%;}
.message-avatar span.icon.icon-share {text-align: center;font-size: 15px;transform: rotate(40deg);padding: 0 0 0 0px;
                                      background: #233ef6;color: #fff;border: 1px solid #233ef6;line-height: 10px;}
.scroll-2 .message-avatar span img {width: 18px;vertical-align: text-bottom;}
.scroll-2 .message-avatar span {width: 30px;height: 30px;}
.scroll-2 .message-avatar {width: 35px;min-width: 35px;}
.scroll-2 .type_text {display: table;width: 100%;}
.scroll-2 .type_text .message-avatar {vertical-align: bottom;padding-bottom: 10px;}
.scroll-2 .type_text textarea {font-size: 13px;line-height: 15px;padding: 10px;max-width: 100%;height: 100px;resize: vertical;}

.small_search_new {position: relative;}
.small_search_new button {position: absolute;top: 7px;left: 15px;}
.small_search_new input {padding-left: 40px;border: 1px solid;}
.small_search_new {position: relative;}
.small_search_new button{position: absolute;top: 7px;left:15px;}
.small_search_new input{padding-left: 40px;border:1px solid #0a3ef6;}

.reply_your .message-text {background: #233ef624;}

.scroll-3 {background: #cacaca;}
.scroll-3 .panel,
.scroll-3 .panel-group,
.scroll-3 .panel-default>.panel-heading,
.scroll-3 #accordion.panel-group .panel {background: none;background-color: none;border-radius: 0px !important;border-bottom: 0px solid;box-shadow: none;}
.scroll-3 .panel-default>.panel-heading+.panel-collapse>.panel-body {border-top: 0px solid #fff;}
.scroll-3 .panel {border-top: 1px solid;}
.scroll-3 .panel-title i.more-less {position: absolute;left: -15px;top: 50%;transform: translate(0%, -50%);}
.scroll-3 .panel-title {position: relative;}
.scroll-3 .panel-heading {padding-left: 30px;}
.scroll-3 .panel-body {padding: 0px 30px 15px;}
.scroll-3 .panel-body ul {list-style: none;padding: 0px;}
.scroll-1, .scroll-2, .scroll-3 {overflow: auto;position: relative;padding: 0px;margin: 0px;max-width: 100%;height: 450px;-webkit-box-sizing: border-box;
                                 -moz-box-sizing: border-box;box-sizing: border-box;}

.message-avatar span {background: #fff;height: 40px;width: 40px;display: inherit;vertical-align: middle;margin: 0px auto;text-align: center;border: 1px solid #545454;}
.message-text {display: block;background: #fff;padding: 8px 15px;line-height: initial;border: 1px solid #545454;font-size: 15px;}
.message-avatar span img {width: 25px;display: inline-block;}

.reply_your .message-text{background: #233ef624; }
.int_textarea{min-height: 150px;}
.scroll-2 .bb-1{border-color: #cacaca;}
.int_email_button span{background: #1e1e1e;color: #fff;display: inline-block;width: 40px;border-radius: 50%;height: 40px;vertical-align: middle;text-align: center;line-height: 42px;font-size: 20px;cursor:pointer;}
button.but_share_s {background: none;border: 0;}
.int_email_button span:last-child{float:right;}
/* close internal email */

input.checkbox_flex[type="checkbox"] + label small{font-size: 14px;}
.date_and_content .message-text, .message .message-text, .int_mail_1-D .message-text,.message-avatar span.icon.icon-share{border: 0px solid #fff;}
.ext_search .Select-value-label {color: #1e1e1e !important;}
.bg_grey .modal-content{background: #e6e6e6 !important;}
.but_share_s button span{background: #1e1e1e;color: #fff;display: inline-block;width: 40px;border-radius: 50%;height: 40px;vertical-align: middle;text-align: center;
                         line-height: 42px;font-size: 20px;cursor:pointer;}
.but_share_s button {background: none !important;border: 0 !important;}
.scroll-2 .but_share_s .message-avatar span.icon.icon-share ,
.scroll-2 span.icon.icon-share {width: 40px;height: 40px;display: flex;vertical-align: middle;justify-content: center;align-items: center;transform: rotate(3deg);font-size: 20px;cursor: pointer;}
.scroll-2 .message-avatar span {width: 40px;height: 40px;display: flex;justify-content: center;vertical-align: middle;padding: 7px;}
.scroll-2 .message-avatar span img {width: 100%;vertical-align: text-bottom; }
.name-user .message-text:hover{cursor: pointer;}

.on_form_to_search .react-datepicker__close-icon::after{left:100%;}
/******* start New *******/
.p-colr + p{color: #6820a6;}
.o-colr + p{color: #09a075;}
.f-colr + p{color: #d12e2f;}
.i-colr + p{color: #eda120;}
.i-colr + p{color: #0A9E9A;}
.m-colr + p{color: #ee6000;}
.s-colr + p{color:#dc71b7;}
.c-colr + p{color:#a002c1;}
.r-colr + p{color:#0075ea;}
.h-colr + p, .a-colr + p{color:#0037c0;}
.add_access  + p{font-weight: 500; margin-top: 7px;font-size: 16px;}

.ReactTable .-pagination select{border:0px solid !important;}

.icons_NEW button i.icon.icon-add-icons:before {height: 40px;background: none !important;padding: 0px !important;display: flex;line-height: 25px;color: #33A918;font-size: 40px;margin-right: 7px; align-items: center;
    justify-content: center;}
.icons_NEW button i.icon_cancel_1:before {background: none !important;line-height: 0;color: #e41a28;font-size: 28px;margin-right: 4px; height: 40px; display: flex; align-items: center;
    justify-content: center;}
.modify_select .Select-value span {color: #1e1e1e !important;}
table.shift_table tr td:last-child{min-width: 30px;}
.schedule_listings.p_left_table .ReactTable .rt-tbody .rt-td:first-child{padding-left: 13px !important;}
.schedule_listings.p_left_table .ReactTable .rt-tbody .rt-td:last-child{padding-right: 13px !important;}
.flex_p {display: flex;justify-content: center;margin-top: 150px;}
.error_bg h2 {font-size: 36px !important;font-family: sans-serif;font-weight: 600;color: #000;margin-bottom: 7px;}
.error_img_404 {width: 130px;margin-right: 15px;}
.p-colr + p {color: #6820a6;}
span.notif_MSG {display: inline-flex;background: #d12e2f;width: auto;min-width: 45px;height: 45px;text-align: center;justify-content: center;align-items: center;border-radius: 50%;color: #fff;font-size: 25px;font-weight: 300;}
.notif_MSG_div {position: absolute;right: -15px;top: -15px;}


/* message */
.mess_v1{display: flex;align-items: stretch;-ms-flex-pack: justify;padding: 10px 15px;border-radius:var(--border-radius15);}
.mess_vn_1{-ms-flex-preferred-size: 0;flex-basis: 0;-ms-flex-positive: 1;flex-grow: 1;}
.mess_vn_2 {width: 30px;max-width: 30px;justify-content: center;text-align: right;-ms-flex-align: end;align-items: flex-end;display: flex;}
.mess_vn_in_1{display: flex;align-items: stretch;}
.mess_V_2 {width: 100%;display: flex;align-items: stretch;-ms-flex-pack: justify;justify-content: space-between;}
.mess_V_a {padding-left: 5px;}
.mess_V_b{-ms-flex-align: end;align-items: flex-end;display: flex;font-size: 9px;padding-right: 10px;}
.mess_V_1{width: 40px;max-width: 40px; }
.mess_V_1 span{width: 100%;}
.mess_V_1 span {width: 40px;display: flex;height: 40px;justify-content: center;border: 1px solid #1e1e1e;border-radius: 50%; overflow: hidden;}
.mess_V_a1 {font-size: 14px;margin-top: 5px;margin-bottom: 2px;}
.mess_V_a2 {font-size: 13px;}
.mess_V1_1{background: #CBCBCA;padding:7px 15px;}
.mess_V1_1 .mess_v1{background: #fff;}
.mess_vn_in_2 p {line-height: 14px;font-size: 12px;}
.mess_vn_2 .attach_im,
.mess_vn_2 .warning-im,
.mess_vn_2 .flag-im{font-size: 20px;cursor: pointer;}
.mess_vn_2 .warning-im{margin-left: -10px;}
.Internal_M_D .mess_V_a{flex: 1;}
.Internal_M_D .mess_vn_in_2{padding-right: 30px;}

.mess_V1_1 .mess_div_VB{background: #fff;border-radius:  var(--b-radius);}
.Imail_btn_left_v1 i,
.Imail_btn_right_v1 i{background: #1e1e1e;display: inline-flex;width: 40px;height: 40px;align-items: center;justify-content: center;border-radius: 50%;font-size: 17px;color: #fff;cursor: pointer;}
.Imail_btn_left_v1 i{margin-right:10px;}
.Imail_btn_right_v1 i{margin-left:10px;}
.mees_pdf_v1{display:inline-block;width: 120px;text-align: center;margin-bottom: 15px;}
.mees_pdf_v1 i{font-size: 36px;}
.mees_pdf_v1 p{line-height: 10px;font-size: 8px;}
.textarea_height_3{height: 240px;}
.Internal_M_D_3 .mess_V1_1{border-radius:var(--border-radius15);background: none;}
.Internal_M_D{height: 570px;background: #cbcbca;overflow-y: hidden;border-radius:var(--border-radius15);}
.Internal_M_D_3 {height: 570px;background: #E2E3E2;border-radius:var(--border-radius15);}

.Internal_M_D_2{height: 570px;width: 100%;background: #cbcbca;border-radius:var(--border-radius15);display: inline-flex;}
.Internal_M_D_2 .mess_V1_1 {background: none;display: flex;min-height: 100%;}
.mess_v1_scroll {overflow-y: auto;height: 360px;}
.Internal_M_D .mess_V1_1:first-child{padding-top: 15px;}
.Internal_M_D .mess_V1_1:last-child{padding-bottom: 15px;}
.mess_V1_1.active{background: #dcdcdc;padding-top: 15px;padding-bottom: 15px;}
.mess_V1_1.active + .mess_V1_1{padding-top: 15px;}
.mess_V1_1 + .mess_V1_1.active{padding-bottom: 15px; margin-top: 10px;}
.Internal_M_D_2 .mess_V1_1{padding-top: 15px;padding-bottom: 15px;}
h1.not_msg_v1 {display: flex;height: 100%;align-items: center;justify-content: center;text-align: center;font-weight: 500;color: #ADACAC;font-size: 50px;line-height: 50px;}

.Internal_GroupMsg{border-radius:var(--border-radius15);background: #e2e3e2;}
.Internal_GroupMsg .panel.panel-default{border: 0px solid #000;border-bottom: 1px solid #1e1e1e;border-radius: 0px !important;background: none;}
.Internal_GroupMsg .panel-default>.panel-heading{background: none;}
.Internal_GroupMsg .panel-default:last-child{border-bottom: 0px;}
.Internal_GroupMsg .icon-arrow-right:before{position: inherit !important;}
.Internal_GroupMsg .panel-title a span:before {transform: rotate(0deg);display: inline-block;padding-right: 5px;position: inherit;top: 0;left: 0;}
.Internal_GroupMsg .panel-title  a.collapsed span:before {transform: rotate(0deg);display: inline-block;}
.Internal_GroupMsg .panel-title a span{display:inline-block;vertical-align: middle;}.Internal_GroupMsg .collapsed span:first-child:before{
    content: "\69" !important;font-family: "icons_me" !important;}
.Group_head_v1{font-size: 17px;font-weight: 400;}
.GroupMSG_team_v1 {padding-left: 20px;}
.GroupMSG_team {font-weight: 300;background: #fff;border-radius:  var(--b-radius);padding: 10px 15px;margin-bottom: 10px;justify-content: space-between;display: flex;}
.Imail_btn_right_v1 .mess_v1_plus::before {font-size: 37px;}

span.mess_V1_noti {background: #EE3758;display: flex;width: 20px;height: 20px;justify-content: center;align-items: center;color: #fff;font-size: 10px;border-radius: 50%;}
.int_text_but{position: relative;}
.int_text_but_v1 {position: absolute;right: 15px;bottom: 15px;}
.mess_Cht_1 {font-size: 16px;font-weight: 400;}
.mess_Cht_1 {font-size: 12px;font-weight: 400;display: flex;align-items: center;}

.mess_Cht_1 i.icon.icon-notes:before {display: inline-flex;font-size: 25px;line-height: 29px;justify-content: center;align-items: center;margin-left: 5px;cursor: pointer;}
.mess_Cht_1 i.icon.icon-notes {display: inline-flex;line-height: 0;height: 24px;}
.mess_Teamchating .textarea_height_3 {height: 150px;}


.parant_active i, .Opacity_03 {opacity: 0.3;}
.parant_active i.active,  .Opacity_03.active{opacity: 1;}

.mess_div_scroll {height: 450px;overflow: auto;display: flex;width: 100%;flex-wrap: wrap;}
.mess_div_scroll .mess_v1{width: 100%;}
.mess_V1_1 .mess_div_VB, .Internal_M_D_2 .mess_V1_1{width: 100%;}
.mess_div_scroll .mess_v1:first-child  .mess_vn_1.bt-1{border-top: 0px;}

.Group_v1{padding: 0px;}
.Group_v1_b{background: #fff;padding: 10px;border-radius:var(--border-radius15);}
.Group_v1_a{line-height: 14px;font-size: 12px;font-weight: 300;margin-top: 5px;}
.Group_v1_b .mess_V_1 {width: 30px;max-width: 30px;}
.Group_v1_b .mess_V_1 span{height: 30px;width: 30px;padding: 0px;}
.Group_v1_b .mess_V_a{-ms-flex-align: end;align-items: flex-end;display: flex;}
.Group_v1_b  .mess_V_b {align-items: self-end;}

.Group_replay .Group_v1_b{background:#a0a0a0;color:#fff;}
.Group_replay .mess_V_a{padding-right: 5px;}
.Group_replay .Group_v1_b .mess_V_1 span{background: #f2d8b4;}
.Gro_scroll_mess {background: #caccce;padding: 0px 0px;border-radius:var(--border-radius15);height: 280px;overflow: auto;margin-top: 20px;margin-bottom:20px;}
.GroupMSG_team.active{background: #1e1e1e;color: #fff;}

.mess_V_1 .nav_apps span.add_access {width: 40px;height: 40px;display: inline-flex;align-items: center;font-size: 25px;justify-content: center;border: 0px;}
.block_MSG .mess_v1{background: #fcf3e4;}

.h_ser_div_2{width:85%;}
.h_ser_div_3 {display: inline-flex;}
.h_ser_div_3 span {align-items: center;justify-content: center;display: inline-flex;font-size: 19px;}

.m-arrow { color:#fe7b31; }
.o-arrow {color:#fe7b31; }
.p-arrow {color:#6f4dee; }
.s-arrow {color:#fd84cb; }
.f-arrow {color:#d22e2f; }
.a-arrow {color:#0033ff;}

.c-cust-check_1 {position: relative;cursor: pointer;display: inline-flex;margin-bottom: 0px;}
.c-cust-check_1 input[type=checkbox] {position: absolute;opacity: 0;clip: rect(0 0 0 0);height: 20px;width: 20px;padding: 0;border: 0;left: 0;margin-top: 0px;}
.c-cust-check_1 .c-cust-check_1__img {display: inline;position: relative;left: 0; border-color: #1e1e1e;  width: 20px;height: 20px;background-image: none;background-color: #fff;color: var(--crm-txt-color);border: 1px solid;border-color: var(--crm-b-color);border-radius: 3px;cursor: pointer;top: 0px;}
.c-cust-check_1 input[type=checkbox]:checked + .c-cust-check_1__img,
.c-cust-check_1 input[disabled]:checked + .c-cust-check_1__img{background-position: 0 0;}
.c-cust-check_1 input[type=checkbox]:checked + .c-cust-check_1__img::before,
.c-cust-check_1 input[disabled]:checked + .c-cust-check_1__img::before{margin-left: -4px; font-family: "icons_me";content: "\70";display: flex;font-size: 18px;padding: 0px 1px 0px;    width: 20px;height: 20px;position: absolute;line-height: 0;align-items: center;}
.c-cust-check_1 input[disabled] + .c-cust-check_1__img{opacity: 0.5;cursor: initial;}
.c-cust-check_1 span {display: inline-flex;height:20px;align-items: center;padding-left: 4px;font-weight: 500;}

.Linkcase_icon{display: flex;height: 100%;align-items: center;;}
.Linkcase_icon a {display: inline-flex;align-items: center;height: 100%;}

a[aria-expanded="true"] .glyphicon-plus:before {content: "\66";font-family: "icons_me";}
a[aria-expanded="false"] .glyphicon-plus:before {content: "\68";font-family: "icons_me";}

.pagination-bottom span.icon.privious,
.pagination-bottom span.icon.next {
    width: 37px;height: 36px;display: -ms-inline-flexbox;display: inline-flex;-ms-flex-pack: center;justify-content: center;-ms-flex-align: center;align-items: center;border-radius: var(--b-radius);}

/* File Upload imail progress bar */
.Group_F_dow {display: flex;justify-content: space-between}
.Group_F_dow a {color: #1e1e1e}
.Group_replay .Group_F_dow a {color: #fff}
.Group_F_dow a {vertical-align: middle;overflow: hidden;text-overflow: ellipsis;display: inline-block}
.Group_F_dow a i {font-size: 16px;margin-right: 5px}

.landing_graph_item_2 li:nth-child(2n) {margin-right: 0px;}

.default_btn {background: no-repeat;border: none;margin: 0px;padding: 0;}
.Upload_file_box_1 {background: #fff;padding: 10px;border-radius: 10px;}
.Upload_FN {font-size: 15px;font-weight: 600;}
.Upload_FS {font-size: 12px;font-weight: 600;margin-top: 4px;}

span.MN_info_a1 {position: absolute;right: -10px;top: -10px;min-height: 35px;min-width: 35px;display: flex;justify-content: center;align-items: center;border-radius: var(--b-radius);background: #ff2d55;color: #fff;}
aside ul.side_menu li a{position: relative;}
aside ul.side_menu li a span.mess_V1_noti{position: absolute;right: 15px;top: 50%;transform: translate(0, -50%)}
.table_footer-1{text-align: right;text-overflow: ellipsis;max-width: 100%;overflow: hidden;display: block;}

.M_t0 {white-space: nowrap;position: absolute;width: 85%;overflow: hidden;text-overflow: ellipsis;}

.define_input{
    position: absolute;
    top: 0px;
    left: 0px;
    visibility: hidden;
    height: 0px;
    overflow: scroll;
    white-space: pre;
    font-size: 15px;
    font-family: "Helvetica LT Std-1";
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-transform: none;
}
.textarea-max-size{resize: horizontal;}