@media (min-width: 768px)
{
    
}

@media (min-width: 1200px)
{

    
    
}

@media (min-width: 1300px)
{
    
}

@media (max-width: 1500px)
{
   
    
}
  
@media (max-width: 1300px)
{
    .main_heading_cmn- h1{font-size:40px;}
    .main_wrapper.toggle_right{padding-right: 0;}
    .main_wrapper.toggle_left{padding-left: 0;}
    
    .main_heading_cmn- .hdng_btn{min-width: 100px;}
    .compBox{padding:30px 15px; }
    
}

@media(max-width:1200px){

    .main_heading_cmn- h1{font-size: 35px;}
    .main_heading_cmn- .hdng_btn{font-size: 13px;}
    .grph_optGrp {flex-wrap: wrap;}
    .grph_optGrp .pd_bts{margin-bottom: 10px;}
    .grph_optGrp span{width: 100%; display: block;}
    .mr_b_15_min{margin-bottom: 15px;}
    
}

@media (max-width: 1199px)
{
   
}

@media (max-width: 1024px)
{
    
}

@media (max-width: 991px)
{
    
}

  
@media (max-width: 767px){
    
}