/* margin paddig custom class */
body{margin: 0px;}

.w-25 {width: 25%;}
.w-50 {width: 50%;}
.w-55 {width: 55%;}
.w-65 {width: 65%;}
.w-75 {width: 75%;}
.w-80 {width: 80%;}
.w-85 {width: 85%;}
.w-95 {width: 95%;}
.w-100 {width: 100%;}

.h-25 {height: 25%;}
.h-50 {height: 50%;}
.h-55 {height: 55%;}
.h-65 {height: 65%;}
.h-75 {height: 75%;}
.h-80 {height: 80%;}
.h-85 {height: 85%;}
.h-95 {height: 95%;}
.h-100 {height: 100%;}
.mw-100 {max-width: 100%;}
.mh-100 {max-height: 100%;}

.mx-auto{margin: 0px auto;}

.d-block{
  display: block;
}

/* flex property */
.d-flex{
  display: flex;
  display: -webkit-box;  
  display: -moz-box;       
  display: -ms-flexbox;    
  display: -webkit-flex;
}
.flex-wrap {
  display: -webkit-flex; /* Safari */
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  display: flex;   
  flex-wrap: wrap;
}
.d-inline-flex{
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.align-self-center {
  -ms-flex-item-align: center;
  align-self: center;
}
.align-items-end{
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.justify-content-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.justify-content-between{
  -ms-flex-pack: justify;
    justify-content: space-between;
}
.justify-content-center {
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center; /* Safari 6.1+ */
}
.justify-content-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.d-inline-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.align-items-center{
  -webkit-box-align: center;
-moz-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
}


.align-content-center{
  -ms-flex-line-pack: center;
  align-content: center;
}
.align-content-end {
  -ms-flex-line-pack: end;
  align-content: flex-end;
}
.align-content-start {
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.align-content-between {
  -ms-flex-line-pack: justify;
  align-content: space-between;
}
.align-content-around {
  -ms-flex-line-pack: distribute;
  align-content: space-around!;
}
.align-content-stretch {
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}