body{background: #f5f5f5;
}
.Crm{
    --bg-color: #b968c7;
    --b-color:#b968c7;  
    --txt-color:#b968c7;
    --b-radius:25px;  
--crm-success_color:#ed97fa;
--crm-Processing_color:#b968c7;
--crm-Rejected_color:#702f75; 
  }
a{text-decoration: none !important;color: initial;
}
*{outline: none !important;
}

/* custom border */
.bt-1, .by-1{ border-top:1px solid; border-color: var(--b-color); }
.br-1{border-right:1px solid; border-color: var(--b-color); }
.bb-1, .by-1{border-bottom:1px solid; border-color: var(--b-color); }
.bl-1{border-left:1px solid; border-color: var(--b-color); }


/* big search */
body{margin: 0px;}
.big-search{display: flex;width: 100%;  position: relative;}
.big-search input{font-size: 20px;height: 50px;width: 100%; padding: 0px 50px;outline: none;display: flex;align-items: center;border: 1px solid;border-color: var(--b-color);border-radius: var(--b-radius);}
.big-search button{position:absolute;background: none;right: 5px;height: 50px;width: 50px;border: 0px;padding: 0px;outline: none;cursor: pointer;}
.big-search button span {font-size: 30px;display: flex;justify-content: center;color:  var(--txt-color);}
.big-search.l-search button{left: 5px;}

.small-search{display: flex;width: 100%;  position: relative;}
.small-search input{font-size: 15px;height: 40px;width: 100%; padding: 0px 40px; padding-left:15px; outline: none;display: flex;align-items: center;border: 1px solid;border-color: var(--b-color);border-radius: var(--b-radius);}
.small-search button{position:absolute;background: none;right: 5px;height: 40px;width: 40px;border: 0px;padding: 0px;outline: none;cursor: pointer;}
.small-search button span {font-size: 25px;display: flex;justify-content: center;color:  var(--txt-color);}
.small-search.l-search input{padding-left: 40px;}
.small-search.l-search button{left: 5px;}

/* header heading */
.back_arrow span{font-size: 25px;display:flex;align-items: center;color: var( --txt-color);}
.h-h1{font-size: 40px;color: var( --txt-color);font-weight: 600;}
.h-c-btn1{display: flex;align-items: center;height: 40px;background: var(--bg-color);border-radius: var(--b-radius);cursor: pointer;color: #fff;width: 100%;}
.h-c-btn1 i {display:flex;align-items: center;font-size: 26px;height: 100%;width: 45px;justify-content: center;padding-top: 3px;}
.h-c-btn1 span{display: flex;width: 100%;justify-content: center;align-items: center;height: 100%;}

/* left menu */
aside ul.side_menu li a {color: #1e1e1e;border-bottom: 1px solid #f6f6f6;}
aside ul.side_menu {padding: 0px;margin: 0px;list-style: none;}
aside ul.side_menu {background: #cdcccc;border-radius: var(--b-radius);}
aside ul.side_menu li a {font-size: 20px;display: block;padding:25px 10px;cursor: pointer;text-align: center;}
aside ul.side_menu li a.active {background: #e6e6e5;color:var(--txt-color);box-shadow: 0px 2px #bdbdbd;}
aside ul.side_menu li a:hover {background: #e6e6e5;color:var(--txt-color);}
aside ul.side_menu li:first-child a {border-radius: 25px 25px 0px 0px;}
aside ul.side_menu li:last-child a {border-radius: 0px 0px 25px 25px ;}
aside ul.side_menu li a.major_button {padding: 5px;font-size: 14px;justify-content: center;align-items: center;}
aside ul.side_menu li a.major_button i{font-size: 12px;justify-content: center;align-items: center;display: inline-flex;}
.default-input{height: 40px;width: 100%;border: 1px solid;border-radius: var(--b-radius);outline: none;padding: 0px 15px;border-color:var(--b-color);}

/* custom buttons */
.btn-1{font-weight:400; height: 40px;display:flex;justify-content: center;align-items: center;border-radius: var(--b-radius);background:var(--bg-color);color: #fff;font-size: 17px;cursor: pointer;}
.btn-2{height: 40px;display:flex;justify-content: center;align-items: center;border-radius: var(--b-radius);background: #cdcccc;color: #1e1e1e;font-size: 19px;cursor: pointer;}
.btn-2.active{background: #e6e6e5;color: var(--txt-color);}
.btn-3{ font-weight: 400; font-size: 15px; min-height: 30px;display:flex;justify-content: center;align-items: center;border-radius: var(--b-radius);background: var(--bg-color);color: #fff;font-size: 15px;cursor: pointer;}
.btn-1.s2{height: 30px; font-size: 15px;}
.btn-1:hover, .btn-2:hover, .btn-3:hover, .v-c-btn1:hover{background: var(--crm-Rejected_color); color: #fff;}

div.btn-1, div.btn-2, div.btn-3, div.v-c-btn1{background: var(--bg-color); cursor:initial;}
div.btn-1:hover, div.btn-2:hover, div.btn-3:hover, div.v-c-btn1:hover{background: var(--bg-color)}

.v-c-btn1{font-weight:400; display: flex;align-items: center;min-height: 40px;background: var(--bg-color);border-radius: var(--b-radius);cursor: pointer;color: #fff;width: 100%;border: 0;padding: 0px;}
.v-c-btn1 i {display:flex;align-items: center;font-size: 26px;height: 100%;width: 45px;justify-content: center;padding-top: 3px;padding-right: 15px;}
.v-c-btn1 span{display: flex;width: 100%;justify-content: left;align-items: center;height: 100%;padding-left: 15px;}
.v-c-btn1.n2{min-height: 30px; font-weight: 400; font-size: 15px;}
.v-c-btn1.n2 i{font-size: 20px; padding-top: 1px;}
.add-btn-a1,
.remove-btn-a1 {display: inline-flex;height: 40px;width: 40px;justify-content: center;font-size: 23px;border-radius: var(--b-radius);border: 0;padding-top:2px;background:var(--bg-color);color: #fff;outline: none;align-items: center;cursor: pointer;}
.add-btn-a1.a2,
.remove-btn-a1.a2{font-size: 30px;padding-top:2px;}


/*  custom checkbox */
.c-custom-checkbox {position: relative;cursor: pointer;display: inline-flex;margin-bottom: 0px;}
.c-custom-checkbox input[type=checkbox] {position: absolute;opacity: 0;clip: rect(0 0 0 0);height: 20px;width: 20px;padding: 0;border: 0;left: 0;margin-top: 0px;}
.c-custom-checkbox .c-custom-checkbox__img {display: inline;position: relative;left: 0;width: 20px;height: 20px;background-image: none;background-color: #fff;color: var(--txt-color);border: 1px solid;border-color: var(--b-color);border-radius: 3px;cursor: pointer;top: 0px;}
.c-custom-checkbox input[type=checkbox]:checked + .c-custom-checkbox__img,
.c-custom-checkbox input[disabled]:checked + .c-custom-checkbox__img{background-position: 0 0;background-color: #eee;}
.c-custom-checkbox input[type=checkbox]:checked + .c-custom-checkbox__img::before,
.c-custom-checkbox input[disabled]:checked + .c-custom-checkbox__img::before{  font-family: "icons_me"; content: "\e050";display: flex;font-size: 12px;padding: 0px 1px 0px;    width: 20px;height: 20px;position: absolute;line-height: 0;align-items: center;}
.c-custom-checkbox input[disabled] + .c-custom-checkbox__img{opacity: 0.5;cursor: initial;}
.c-custom-checkbox span {display: inline-flex;height:20px;align-items: center;padding-left: 4px;font-weight: 500;}


/* Select Plus */
.s-def1 .Select-arrow::before, .s-def1 .Select-arrow::before,
.s-def1 .Select.is-open > .Select-control .Select-arrow::before {font-family: "icons_me";color: #fff;font-size: 14px;margin-left:-10px; }
.s-def1 .Select-arrow::before, .s-def1 .Select-arrow::before{content: "\73";}
.s-def1 .Select.is-open > .Select-control .Select-arrow::before{content: "\71";}
.s-def1 .Select-control{height: 40px;border: 0px;border-radius: var(--b-radius) !important;background: var(--bg-color) !important;background-color: var(--bg-color) !important;position: relative;}
.s-def1 .Select-value-label{color: #fff !important;}
.s-def1.s1 .Select-control{height: 30px;}
.s-def1 .Select-menu-outer,
.s-def2 .Select-menu-outer{border-radius: 15px;font-size: 14px;color: #1e1e1e;font-weight: 300;overflow: hidden;}
.s-def1 .Select-menu-outer div:hover,
.s-def2 .Select-menu-outer div:hover{background: #e6e6e5;color: var(--txt-color);}

.s-def1 .Select-placeholder,
.s-def1 .Select--single > .Select-control .Select-value{color: #fff !important;top: 50%;left: 0;transform: translate(0%, -50%);line-height:100%;display: flex;align-items: center;justify-content: center;}
.s-def1 .Select-input{display: none !important;}
.s-def1 .Select-arrow,
.s-def2 .Select-arrow{border-width: 0px !important;}
.s-def1.s1 .Select-placeholder, .s-def2.s2 .Select-placeholder,
.s-def1.s1 .Select--single > .Select-control .Select-value, .s-def2.s2 .Select--single > .Select-control .Select-value{line-height: 27px;}
.s-def2 .Select-control{height: 40px;border-color: var(--b-color) ;border-radius: var(--b-radius) !important;background: none !important;background-color:none !important;position: relative;}
.s-def2.s2 .Select-control{height: 30px;}
.s-def2.s2 .Select-input{height: 30px;}
.s-def2 .Select-arrow::before, .s-def2 .Select-arrow::before,
.s-def2 .Select.is-open > .Select-control .Select-arrow::before {content: "\e00e";font-family: "icons_me";color:var(--txt-color);font-size: 20px;margin-left:-15px; }

/* table */
.re-table .ReactTable {border: 0px solid #fff;}
.re-table .rt-tr-group {margin-bottom: 10px;border-radius: 25px;overflow: hidden;}
.re-table .ReactTable .rt-tbody .rt-tr-group:nth-child(odd) .rt-tr, 
.re-table .ReactTable .rt-tbody .rt-tr-group:nth-child(odd) .other_conter,
.re-table .ReactTable .rt-tbody .rt-tr-group:nth-child(odd) .rt-tr + .re-table-in{background: #fff;}
.re-table .ReactTable .rt-tbody .rt-tr-group:nth-child(even) .rt-tr, 
.re-table .ReactTable .rt-tbody .rt-tr-group:nth-child(even) .other_conter,
.re-table .ReactTable .rt-tbody .rt-tr-group:nth-child(even) .rt-tr + .re-table-in,
.re-table .ReactTable.-highlight .rt-tbody .rt-tr:not(.-padRow):hover{background: #fff;}
.re-table .ReactTable .rt-thead.-header .rt-tr {border-top: 1px solid;border-bottom: 1px solid;border-color: var(--b-color);font-weight: 400;}
.re-table .ReactTable .rt-thead.-header .rt-tr .rt-th {border-right: 1px solid;border-color: var(--b-color);color: var(--txt-color)}
.re-table .ReactTable .rt-thead .rt-th, 
.re-table .ReactTable .rt-thead .rt-td{min-height: 40px;align-items: center;line-height: 27px;}
.re-table .rt-resizable-header-content {height: 100%;align-items: center;}
.re-table .rt-td.rt-expandable{align-items: center;display: inline-flex;}
.re-table .rt-tbody .rt-td {font-size: 17px;}
.re-table .rt-thead .rt-th {font-size: 17px;}
.re-table .ReactTable .-pagination .-btn,
.re-table .ReactTable .-pagination .-btn {background: none ;}
.re-table .ReactTable .-pagination,
.re-table .ReactTable .-pagination {background: none;box-shadow: 0px 0px 0px 0px ;border-top: 0px solid #fff;}
.re-table .rt-tr.-padRow.-odd,
.re-table .rt-tr.-padRow.-even{visibility: hidden;}
.re-table .ReactTable .rt-tbody .rt-td {border-right: 1px solid rgba(0, 0, 0, 0.09);}
.re-table .rec-table-icon {display: flex;align-items: center;justify-content: center;height: 100%;}
.re-table .rec-table-icon i {display: inline-flex;align-items: center;justify-content: center;height: 100%;font-size: 17px;width: 55px;color: var(--txt-color);}
.re-table .re-table-in{padding-bottom: 15px;}
.re-table .ReactTable .rt-thead .rt-th.-sort-asc, 
.re-table .ReactTable .rt-thead .rt-td.-sort-asc,
.re-table .ReactTable .rt-thead .rt-th.-sort-desc, 
.re-table .ReactTable .rt-thead .rt-td.-sort-desc{box-shadow: 0px 0px 0px;}
.re-table .ReactTable .rt-thead .rt-th.-sort-asc .rt-resizable-header-content:after {content: "\e02e";font-family: "icons_me";font-size: 14px;margin-left: 5px;color: var(--txt-color);}
.re-table .ReactTable .rt-thead .rt-th.-sort-desc .rt-resizable-header-content:after {content: "\e030";font-family: "icons_me";font-size: 14px;margin-left: 5px;color: var(--txt-color);}
.re-table .ReactTable .rt-tbody{margin-top: 15px;}
.re-table .ReactTable .rt-th, 
.re-table .ReactTable .rt-td,
.re-table .ReactTable .rt-thead .rt-th, 
.re-table .ReactTable .rt-thead .rt-td{padding: 10px 15px;text-align: left;}
.re-table .ReactTable .rt-tbody .rt-tr-group{border-bottom: 0px;}
.re-table .ReactTable .-pagination .-btn[disabled] {opacity: .5;cursor: default;}
.re-table .ReactTable .-pagination .-btn:not([disabled]):hover{color: var(--txt-color);background: none;}
.re-table .ReactTable .-pagination .-center {min-width: 350px;}
.re-table .ReactTable .-pagination .-previous, .re-table .ReactTable .-pagination .-next{flex: 2;}
.re-table .-previous button {text-align: right ;margin-top: 0px ;}
.re-table .-next button {text-align: left ;margin-top: 0px ;}
.re-table .ReactTable .-pagination .-pageJump input {width: 70px;text-align: center;display: flex;height: 35px;align-items: center;padding: 0;vertical-align: middle;line-height: 0;border-radius: var(--b-radius);border-color: var(--b-color);}
.re-table .ReactTable .-pagination select {height: 35px;border-radius: var(--b-radius);border-color: var(--b-color);}
.re-table .ReactTable .-pagination .-pageSizeOptions{border-radius: var(--b-radius);}
.re-table .rt-tbody .rt-td{font-weight: 400;}
/***/
.re-table2 .rt-thead{background: var(--bg-color);border-radius:var(--b-radius);}
.re-table.re-table2 .ReactTable .rt-thead.-header .rt-tr .rt-th{color: #fff;border-color:#cecbcb; }
.re-table.re-table2 .ReactTable .rt-thead.-header .rt-tr{border-color: transparent;}



/* react progrees bar */
.re-table.re-table-progrees .progress-b1 .progress{position: absolute;bottom: 0;z-index: 9;width: 100%;margin-bottom:-5px;left: 0px; height: 24px; font-weight: 400;}
.re-table.re-table-progrees .rt-tr.-odd:before,
.re-table.re-table-progrees .rt-tr.-even:before {content: "";display: block;width: 100%;background-color:var(--crm-success_color);height: 40px;position: absolute;bottom:0px;z-index: -1;}
.re-table.re-table-progrees .rt-tr.-odd:after,
.re-table.re-table-progrees .rt-tr.-even:after {content: "";display: block;width: 70%;background-color:var(--crm-Processing_color);height: 40px;position: absolute;bottom:0px;z-index: -1;}
.re-table.re-table-progrees .rt-tr-group{position: relative;padding-bottom:5px;margin-top: 10px;}
.re-table.re-table-progrees .ReactTable .rt-tbody .rt-tr-group:nth-child(odd) .rt-tr, 
.re-table.re-table-progrees .ReactTable .rt-tbody .rt-tr-group:nth-child(odd) .other_conter,
.re-table.re-table-progrees .ReactTable .rt-tbody .rt-tr-group:nth-child(even) .rt-tr, 
.re-table.re-table-progrees .ReactTable .rt-tbody .rt-tr-group:nth-child(even) .other_conter{background: #fff;border-radius:var(--b-radius);}
.re-table.re-table-progrees .re-table-in{position: relative;margin-top: -15px;padding-top: 15px;}
.re-table.re-table-progrees .ReactTable .rt-tbody .rt-tr-group .rt-td{position: relative;z-index: 1; font-weight: 400;}
.re-table.re-table-progrees .re-table-in{padding-bottom: 30px;}
.re-table.re-table-progrees .progress-bar{background: var(--crm-Processing_color);}
.progress-b1 .progress{background: var(--crm-success_color);}
.progress-b2.progress {height: 25px;}
.progress-b2.progress  div{font-size: 15px;     margin-top: 1px;}
.progress-b3 .progress-b2.progress {height: 17px;border-radius: 25px;}
.progress-b3 .progress {background: var(--crm-Rejected_color);}
.progress-b3 .progress-bar{background: var(--bg-color)}
.progress-b3 .progress-b2.progress div{margin-top: 0px; font-weight: 400;}


.icon_table1 {display: flex;height: 100%;align-items: center;line-height: 100%;}
.icon_table1 span:before {line-height: 100%;font-size: 21px;display: inline-flex;align-items: center;}
.icon_table1 .add_tab_i,
.icon_table1 .unat_tab_i,
.icon_table1 .Arch_tab_i{color: var(--txt-color);cursor: pointer;}

.re-table .task_table{background: #fff;}
.re-table .task_table .ReactTable .rt-tbody{margin-top: 0px;}
.re-table .task_table .rt-tr-group{margin-bottom: 0px;}
.re-table .task_table .rt-tr-group{border-radius: 0px;}
.re-table .task_table  .ReactTable .rt-tbody .rt-tr-group{border-bottom: 0px solid;border-color: var(--b-color);}
.re-table .task_table .ReactTable .rt-tbody .rt-td{border-bottom: 1px solid;border-color: var(--b-color);}
.re-table .task_table .ReactTable .rt-tbody .rt-tr-group .rt-tr .rt-td{border-bottom: 1px solid;border-color: var(--b-color);}
.re-table .task_table .ReactTable .rt-tbody .rt-tr-group .rt-tr.-padRow .rt-td{border-bottom: 1px solid;border-color: var(--b-color);}
.re-table .task_table .ReactTable .rt-tbody .rt-tr-group:last-child .rt-tr .rt-td{border-bottom:0px; }

.re-table .task_table  .ReactTable .rt-tbody .rt-tr-group:last-child{border-color:#fff;}
.re-table .task_table .ReactTable .rt-tbody .rt-td{border-color: var(--b-color);}
.re-table .task_table .rt-tbody .rt-td,
.re-table .task_table .rt-thead .rt-th{font-size: 15px;}
.re-table .task_table  .ReactTable .rt-thead .rt-th, 
.re-table .task_table  .ReactTable .rt-thead .rt-td{height: 35px;}
.re-table .task_table .rt-tr-group{min-height: 35px;}
.re-table .task_table .ReactTable .rt-th,
.re-table .task_table .ReactTable .rt-td,
.re-table .task_table .ReactTable .rt-thead .rt-th,
.re-table .task_table .ReactTable .rt-thead .rt-td {padding: 4px 15px 0px;}
.re_ch_al_1 input[type=checkbox]:checked + .c-custom-checkbox__img, 
.re_ch_al_1 input[disabled]:checked + .c-custom-checkbox__img{background: var(--bg-color);color: #fff;}
.re_ch_al_1, .re_ch_al_2 {margin-top: 3px;}
.re-table .task_table .ReactTable .rt-tbody .rt-td:last-child { border-right: 0;}
.re-table .task_table_footer{font-size: 15px; font-weight: 400;}

.task_table_footer {display: flex;justify-content: flex-end;}
.task_table_footer a{padding-left: 15px;padding-right: 15px;border-left:1px solid;cursor: pointer;color: initial;border-color:#1e1e1e;}
.task_table_footer a:hover{color: var(--txt-color);}
.task_table_footer a:first-child{border-color: transparent;}
.task_table_footer a u{text-decoration: underline;}

/** table3 **/
.re-table.re-table3 .ReactTable .rt-tbody .rt-tr-group:nth-child(odd) .rt-tr,
.re-table.re-table3 .ReactTable .rt-tbody .rt-tr-group:nth-child(odd) .other_conter,
.re-table.re-table3 .ReactTable .rt-tbody .rt-tr-group:nth-child(odd) .rt-tr + .re-table-in,
.re-table.re-table3 .ReactTable .rt-tbody .rt-tr-group:nth-child(odd) .task_table{
  background:#fff;
}
.re-table.re-table3 .ReactTable .rt-tbody .rt-tr-group:nth-child(even) .rt-tr,
.re-table.re-table3 .ReactTable .rt-tbody .rt-tr-group:nth-child(even) .other_conter,
.re-table.re-table3 .ReactTable .rt-tbody .rt-tr-group:nth-child(even) .rt-tr + .re-table-in,
.re-table.re-table3 .ReactTable .rt-tbody .rt-tr-group:nth-child(even) .task_table{
  background:#e6e6e6;
}


.txt_t1 {font-size: 18px;}
.txt_t2 {font-size: 15px;}
.table_view_icon div { font-size: 10px; font-weight: 400;}
.table_view_icon span::before{font-size:35px;display: block;width: 100%;text-align: center; line-height: 25px; color: var(--txt-color)}
.re-table-in div > div {flex: 1 1; border-color: rgba(0, 0, 0, 0.09);}
.re-table-in div > div.table_view_icon{max-width: 45px;}

/* grahp */
.chart_txt_1, .chart_txt_2, .chart_txt_3{font-size: 17px; line-height: 18px;}
.chart_txt_1{ color: var(--crm-success_color)} .chart_txt_2{ color: var(--crm-Processing_color)} .chart_txt_3{ color: var(--crm-Rejected_color)}
.chart_txt_4 span { margin-right: 21px;color: #777; cursor: pointer; font-weight: 300; font-size: 15px;}
.chart_txt_4 span.active{color: var(--txt-color)}
.chart_txt_5 span{margin-right: 0px;}
.circul-c {display: table;height: 100%;width: 100%;background: #eee;border-radius: var(--b-radius); padding: 0px 30px;}
.circul-c h3{margin-top:20px ; margin-bottom:10px ; font-weight: 600; font-size: 24px;}


/* time line */
.time_l_1 {display: flex;}
.time_no {width: 100px;height: 100px;display: inline-flex;justify-content: center;align-items: center;background:var(--crm-Rejected_color);border-radius: 100%;font-size: 35px;border: 10px solid;border-color:var(--bg-color);position: absolute;left: 50%;transform: translate(-50%);font-weight: 600;color: #fff;}
.time_no_div{width: 200px;}
.time_no_div {width: 200px;display: inline-flex;justify-content: flex-end;align-items: center;position: relative;}
.line_h {background: var(--bg-color);height: 10px;width: 25%;}
.time_d_style {background: #fff;border-radius: 25px;border: 10px solid var(--bg-color);padding:15px 10px;}
.time_l_1{position: relative;}
.time_d_1:after {content: '';width: 10px;height: 100%;background: var(--bg-color);position: absolute;left: 95px;z-index: -1;top:0%;}
.time_line_parent .line_h {width: 100%;}
.time_line_parent  .time_d_1:after{left: 0;}
.time_line_parent .time_l_1:last-child .time_d_1:after{height: 50%;}
.timeline_1 .time_l_1:last-child > .time_d_1:after{height: 50%;}
.timeline_1 .time_l_1:first-child .time_d_1:after{top: 50px;}
.time_line_parent .time_l_1:first-child .time_d_1::before{content: '';width: 10px;height: 100%;background: var(--bg-color);position: absolute;left: 0;z-index: -1;top:-50%;}
.reminder_icon {border: 5px solid;border-color: var(--bg-color);border-radius: 11px;display: inline-block;width: 56px;height: 92px;margin-left: 10px;background: #fff;}
.reminder_icon i {display: inline-flex;width: 100%;justify-content: center;font-size: 9px;color:  var(--bg-color);}
.reminder_icon i:first-child {font-size: 33px;margin-top: 10px;margin-bottom: 18px;}
.call_refer_div i {width: 70px;height: 70px;background: var(--bg-color);display: inline-flex;justify-content: center;border-radius: 100%;font-size: 47px;color: #fff;align-items: center;}
.call_refer_div{text-align: center; font-size: 15px;font-weight: 400}
.call_refer_div a {font-size: 12px;}
.timeline_h {text-align: center;font-size: 17px;font-weight: 400;margin-bottom: 10px;}


.time_txt .task_table_footer a:first-child{border-color: #1e1e1e;}
.time_txt .task_table_footer a{border-left: 0px;border-right: 1px solid;padding-left: 15px;padding-right: 15px;}
.time_txt .task_table_footer span{padding-left: 15px;}

.time_txt  .task_table_footer{justify-content: center;}
.time_d_1 {padding-bottom: 15px;padding-top: 15px;}
.time_line_date{text-align: right; font-weight: 400; font-size: 14px;}
.reminder_icon a {display: inline-block;width: 100%;}
.time_txt .task_table_footer {font-size: 15px; font-weight: 400;}
.timeline1_h {font-size: 17px;font-weight: 400;}
.timeline1_sub {font-size: 14px;font-weight: 400;}


/* tabs */
.tabs_1 ul{display: flex;width: 100%; padding: 0px; list-style: none;     margin: 30px 0px;}
.tabs_1 ul li {flex: 1 1;padding: 0px 15px;}
.tabs_1 ul li a{padding: 10px; border-radius: var(--b-radius); display: block; font-size: 18px;text-align: center;background: #cdcccc; font-weight: 400;}
.tabs_1 ul li a.active{color: var(--txt-color); background:#e6e6e5;}
.tabs_1 ul li a:hover{color: var(--txt-color); background:#e6e6e5;} 
.tabs_1 ul li a:focus{color: var(--txt-color); background:#e6e6e5;}

/* Lates Update */
.Lates_up_1{display: flex;}
.Lates_up_b {display: flex;background: #fff;border-radius: 25px; border: 1px solid; border-color: var(--b-color)}
.Lates_up_b >div{padding: 10px; font-weight: 400; font-size: 14px;}
.Lates_up_btn i:before {display: flex;justify-content: center;font-size: 32px;line-height: 23px;align-items: center;cursor: pointer;color: var(--txt-color);}
.Lates_up_btn span {display: flex;font-size: 10px;text-align: center; line-height: 10px;}
.Lates_up_btn{max-width: 90px;}
.Lates_up_txt{width: 100%}
.Lates_up_2 {display: flex;}
.Lates_up_time_date {max-width: 210px;width: 210px;font-size: 12px;display: inline-flex;align-items: flex-end;justify-content: flex-end;}
.Lates_up_txt2 {width: 100%;margin-top: -15px;}
.Lates_up_a {font-size: 20px;}
.progress-b1 .progress-bar{background: var(--crm-Processing_color)}

/* participat details */
.Partt_d1_txt_1 {font-size: 18px;font-weight: 600;}
.Partt_d1_txt_2 strong {font-weight: 600;}
.Partt_d1_txt_2 {line-height: 15px; display: flex;}
.Partt_d1_txt_2 span{  -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; display:  inline-flex;     padding-left: 3px;}
.Partt_d1_txt_2 {font-size: 14px;font-weight: 400;}

/* Custom Model */
.customModal { z-index: 1; display: none;position: fixed;background:rgba(0, 0, 0, 0.4);left: 50%;top: 50%;width: 100%;height: 100%;transform: translate(-50%, -50%);  overflow: auto;}
.custom-modal-dialog {border-radius: var(--b-radius);background: #f5f5f5;position: absolute;left: 50%;top: 50px;transform: translate(-50%, -0%); margin-bottom: 30px;}
.custom-modal-header {display: flex; border-color: #1e1e1e;  justify-content: space-between;}
.custom-modal-header .Modal_title {font-size: 45px;font-weight: 600;padding: 10px 30px;display: inline-flex;align-items: center;}
.custom-modal-header .Modal_close_i {font-size: 38px;align-items: center;display: inline-flex;padding-right: 16px;cursor: pointer;color: var(--txt-color);}
.custom-modal-footer { padding:30px 30px; border-color: #1e1e1e;}
.customModal .Information_modal{width:1024px}

/* Custom Model data */
.title_input{ font-weight: 400; font-size: 14px; padding-left: 15px;}
.title_sub_modal{ font-size: 20px; font-weight: 600;}
.upload_btn .btn-file .v-c-btn1{position: relative;     border-radius: 25px;font-style: inherit;font-weight: 300;font-size: 15px;}
.btn-file{height: 40px; margin-bottom: 0px;     width: 100%;}
input.p-hidden, input.p-hidden.error {margin-top: -40px;visibility: hidden; width: 100%;}
.all_notes {min-width: 100%;overflow: hidden;}
.all_notes_1 {overflow: auto;width:100%;  display: flex;   flex-wrap: nowrap; padding-bottom: 10px;}
.single_notes{width:295px; display: inline-flex; flex: 0 0 auto; white-space: initial; padding:0px 15px; border-right: 1px dashed; border-color: var(--bg-color)}
.all_notes_1 .single_notes:first-child{padding-left: 0px;}
.single_note_data {background: #fff;padding: 10px 15px;border-radius: 25px;border: 1px solid;border-color: var(--bg-color)}
.Single_note_history {text-align: right;}
.single_note_data .icon {
  display: inline-block;width: 35px;height: 35px;background: var(--crm-Rejected_color);color: #fff;justify-content: center;border-radius: 100%;cursor: pointer;
  align-items: center;vertical-align: middle;text-align: center;line-height: 38px;font-size: 17px;     margin-left: 3px;}
  .single_note_data .add1_a1 {font-size: 26px;padding-top: 2px;}
.notes_txt_area{width: 100%;padding: 15px;border:1px solid;border-color: var(--b-color);border-radius: var(--b-radius);min-height: 160px;}
.border-das_line{border: 1px dashed; border-color: var(--b-color)}
.Ser_div1{display: flex;}
.Ser_div1 {background: #fff;border-radius: 25px;border: 1px solid;border-color: var(--b-color); font-weight: 400; font-size: 15px;}
.Ser_div_txt1{font-size: 14px;}
.s_txt {font-size: 15px;}
.sel_div1 {height: 40px;background: var(--bg-color);display: inline-flex;padding: 15px;width: 100%;border-radius: var(--b-radius);align-items: center;color: #fff; font-weight: 300; font-size: 14px;}
.sel_div3 {display: flex;background: var(--bg-color);align-items: center;border-radius: var(--b-radius);height: 40px; padding-right: 0px;}
.dollar_input{display: flex;position: relative;padding-right: 4px;padding-left: 0;}
.dollar_input input{padding-left: 30px;border-radius: var(--b-radius);width: 100%;border: 0;height: 32px;}
.dollar_input span {position: absolute;font-size: 18px;width: 40px;text-align: center;font-weight: 400;height: 32px;display: flex;align-items: center;justify-content: center;}
.allocate_title{color: #fff;text-align: right;}
.allocate_title {color: #fff;text-align: right;font-weight: 400;font-size: 15px;}
.sel_div3:after {content: '';position: absolute;left: 0;top: -10px;border-left: 1px solid;height: 30px;border-color: var(--b-color);}
.ser_fund_1 {min-height: 40px;align-items: center;background: var(--bg-color);border-radius: var(--b-radius);justify-content: space-between;color: #fff; font-size: 14px;font-weight: 400;}
.ser_fund_b a.btn-3 {font-weight: 400; width: 100px;display: inline-flex;background: var(--crm-Rejected_color);margin-right: 5px;align-items: center;padding: 0;padding-bottom: 1px;}
.ser_fund_b {max-width: 40%;width: 40%;text-align: right;display: inline-flex;justify-content: space-between;align-items: center;}
.ser_fund_a{border-right: 1px solid #fff;}
.ser_fund_b span {padding-left: 15px;}
.ser_fund_a {padding-left: 30px;max-width: 60%;width: 60%;}
.Ser_div_txt1 {font-size: 12px;font-weight: 400;}


/* Participant ability */
.par_abil_right {border: 1px solid;border-color: var(--b-color);border-radius: var(--b-radius);background: #fff;display: flex;height: 100%;}
.par_abil_right_in { width: 100%;}
.par_abil_txt {font-size: 15px;font-weight: 600;text-align: center;padding-top: 15px;}
.par_abil_txt span {border-bottom: 1px solid;border-color: var(--b-color);}
.par_abil_1, .par_abil_2{padding: 30px 15px;}
.par_abil_3{padding: 30px 25px;}
.par_abil_title{font-size: 20px; font-weight: 600; color: var(--txt-color)}
.Partt_d1_txt_3{font-size: 15px;}
.Partt_d1_txt_3 strong {font-weight: 600;}
.Partt_d1_txt_3 span{font-weight: 400;}
.FMs_btn {width: 185px;margin: 0px auto;}
.shift_week_1{-ms-flex-wrap: wrap;flex-wrap: wrap; display:flex;}
.shift_days_1{width:14.28%; box-shadow:1px 0 0 0 #888, 0 1px 0 0 #888, 1px 1px 0 0 #888, 1px 0 0 0 #888 inset, 0 1px 0 0 #888 inset; }
.Shift_day_blank {min-height: 20px;z-index: -1;position: relative; cursor: pointer;}
.Shift_day_n {font-weight: 500;padding: 5px;border-bottom: 1px solid;border-color: #888;font-size: 15px;}
.add_btn1 i:before {width: 40px;height: 40px;background:var(--bg-color);color: #fff;font-size: 35px;display:inline-flex;border-radius: 100%;
justify-content: center;align-items: center;}
.add_btn1 {display:inline-flex;width: 40px;height: 40px;line-height: 40px;align-items: center;justify-content: center;cursor: pointer;}
.add_btn1 i {display: inline-flex;align-items: center;justify-content: center;position: relative;width: 40px;height: 40px;}
.shift_h1{font-size: 20px;font-weight: 600;color: var(--txt-color);}
.Shift_times_div div{align-items: center;display: inline-flex;margin-right: 3%; font-size: 15px; font-weight: 400;}
.Shift_times_div div span {width: 20px;height: 20px;display: inline-flex;align-items: center;border-radius: 5px;margin-right: 5px;}
.am_shift{background:#ffc9ff;}
.pm_shift{background:#ed97fa;}
.so_shift{background:#993ea9;}
.na_shift{background:#702f75;}

.task_modal {padding: 15px 30px;}
.task_modal .custom-modal-header .Modal_title {font-size: 20px;font-weight: 600;padding: 6px 0px;display: inline-flex;align-items: center; color: var(--txt-color)}
.task_modal .custom-modal-header{border-color: var(--bg-color)}
.task_modal .custom-modal-header .Modal_close_i { font-size: 24px; padding-right: 0px;}
.task_atta_file{border-right: 1px dashed; border-color:var(--b-color) }
.task_atta_file div{font-size: 10px; text-align: center;   overflow: hidden;-o-text-overflow: ellipsis;text-overflow: ellipsis;     white-space: nowrap;}
.task_atta_file span i:before {font-size: 50px;color: var(--txt-color)}
.task_atta_file span {text-align: center;width: 100%;}
.task_N_txt textarea {width: 100%;min-height: 79px;border: 1px solid;border-color: var(--b-color);border-radius: 13px;margin: 0px;padding: 0px;resize: vertical;padding: 15px;}
.v-c-btn1.n3 i {font-size: 35px;}
.task_modal .custom-modal-footer{border-color: var(--b-color)}


/* Flex table */
.flex_Table {
  display: -webkit-box;display: -moz-box;display: box;display: -webkit-flex;display: -moz-flex;display: -ms-flexbox;display: flex;
  -webkit-flex-flow: column nowrap;-moz-flex-flow: column nowrap;flex-flow: column nowrap;-webkit-box-pack: justify;-moz-box-pack: justify;
  box-pack: justify;-webkit-justify-content: space-between;-moz-justify-content: space-between;-ms-justify-content: space-between;
  -o-justify-content: space-between;justify-content: space-between;-ms-flex-pack: justify;
}
.flex_Table-row {display: -webkit-box;display: -moz-box;display: box;display: -webkit-flex;display: -moz-flex;display: -ms-flexbox;
  display: flex;-webkit-flex-flow: row nowrap;-moz-flex-flow: row nowrap;flex-flow: row nowrap; border-radius: var(--b-radius); margin-bottom: 10px;
}
.flex_Table-row-item{
  display: -webkit-box;display: -moz-box;display: box;display: -webkit-flex;display: -moz-flex;display: -ms-flexbox;display: flex;
  -webkit-flex-flow: row nowrap;-moz-flex-flow: row nowrap;flex-flow: row nowrap;-webkit-flex-grow: 1;-moz-flex-grow: 1;flex-grow: 1;-ms-flex-positive: 1;
  -webkit-flex-basis: 0;-moz-flex-basis: 0;flex-basis: 0;-ms-flex-preferred-size: 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all; 
 word-break: break-word;
/* white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis; */
border-right: 1px solid;
padding:8px 15px;
font-size: 14px;
border-color: rgba(0, 0, 0, 0.09);
}
.flex_Table-row:nth-of-type(odd) {background-color: #fff;}
.flex_Table-row:nth-of-type(even) {background-color: rgba(0, 0, 0, 0.06);}
.flex_Table-row div:last-child{border: 0;}
.ft_1 {max-width: 15%;}
.flex_Table-row-item b{padding-right: 3px; font-weight: 500}



/* Schedule calendar */
.Schedule_calendar .rbc-toolbar-label {display: flex;width: 100%;justify-content: center;font-size: 30px;margin: 15px 0px;margin-top: -15px;}
.Schedule_calendar .rbc-btn-group span.icon-arrow-right {position: absolute;right:25px; font-size: 20px; cursor: pointer;}
.Schedule_calendar .rbc-btn-group span.icon-arrow-left {position: absolute;left: 25px; font-size: 20px; cursor: pointer;}
.Schedule_calendar{position: relative; background: #fff;   border-radius: var(--b-radius);}
.Schedule_calendar .rbc-calendar {height: 570px;padding: 15px 45px 25px;width: 96%;margin: 0px auto;}
.Schedule_calendar  .rbc-date-cell {font-size: 15px;}
.Schedule_calendar .rbc-header {padding: 5px 3px;font-size: 15px;}
.Schedule_calendar .rbc-row:first-child {line-height: 25px;border-bottom: 1px solid #7774;}

.navser {
  width: 500px;
  margin: 0px auto;
}
.navser .s-def2 .Select-control{ border-color: #fff;}
.navser .s-def2 .Select-arrow-zone .Select-arrow::before{ color: #fff !important;}
.navser .s-def2 input{ color: #fff; }
.s-def2 .Select-control .Select-input{width:100%;}
.s-def2 .Select-control .Select-input > input{width:100% !important;}
.flexRow{display: flex; align-items: center; height: 100%;}

/* nav bar */
.nav_ulic{width: 100%; text-align: right; margin-bottom: 0;}
.nav_ulic li{display: inline-block;}
.nav_ulic li a,
.nav_ulic li span
{display: block; color: #fff; padding:0 7px; font-size: 23px; cursor: pointer;}

.nav_ulic li a:hover,
.nav_ulic li a:focus,
.nav_ulic li.active a,
.nav_ulic li span:hover,
.nav_ulic li span:focus,
.nav_ulic li.active span,
.lgOutIc:hover,
.lgOutIc:focus
{color: var(--main-color);}

.lgOutIc{font-size: 23px; color: #fff;}

.sidebar
{ width: 0;background: #fff;height:100%; position: fixed; z-index: 100;top: 0; }

.sidebar.left{left: 0;width: 300px;  transition: all ease 0.5s;}
.sidebar.right{right: 0;width: 300px;  transition: all ease 0.5s;}

.bodyNormal{  transition: all ease 0.5s;}
.bodyNormal.right{margin-right: 300px; transition: all ease 0.5s;}
.bodyNormal.left{margin-left: 300px; transition: all ease 0.5s;}


/* .overlay{
  position: fixed;width: 100%;height: 100%;background: rgba(0, 0, 0, 0.1);top: 0;
  left: 0;content: '';z-index: 50;display:none;
} */

.sideCnts{display: none; padding: 15px;}
.notifyBar .sideCnts.notify_cnt{display: block;}
.mailBar .sideCnts.mail_cnt{display: block;}
.main_header{height: 55px;background-color: #565656; box-shadow: 0px 5px 15px #cecece; padding: 0 15px;}
.nav_ulil {padding: 0px;text-align: left;}

.txt_t1 b, .txt_t2 b {font-weight: 600;}
.txt_t1, .txt_t2{font-weight: 400;}

.txt_sms{font-size: 18px; font-weight: 400;}
.Break_dow_T {font-size: 14px;font-weight: 500;padding: 5px 10px;border-radius: var(--b-radius);border: 1px solid;border-color: var(--b-color);background: #fff;}
.Break_dow_T_a {white-space: nowrap;overflow: hidden;-o-text-overflow: ellipsis;text-overflow: ellipsis;}
.Break_dow_P1 {height: 45px;background: var(--crm-success_color);margin-top: -25px;position: relative;z-index: -1;border-radius: 0px 0px 25px 25px;}
.Break_dow_P1 .progress-bar {height: 45px;display: flex;justify-content: center;align-items: flex-end;font-weight: 400;background:var(--crm-Rejected_color);font-size: 10px;}
.Break_dow_Scroll_D {height: 260px;overflow-y: auto;}
.Staff_U_img {width: 80px;height: 80px;background: #eee;border-radius: 100%;overflow: hidden;margin: 0px auto;}
.Staff_U_img img {width: 100%;}
.v-c-btn1 span {white-space: nowrap;text-overflow: ellipsis;overflow: hidden;display: block;}

.Cust_Sel_my .rrs {position: relative;box-sizing: border-box;}
.Cust_Sel_my .rrs *,
.Cust_Sel_my .rrs *:before,
.Cust_Sel_my .rrs *:after {box-sizing: border-box;}
.Cust_Sel_my .rrs__button {position: relative;cursor: pointer;height: 30;line-height: 30px;background: #fff;}
.Cust_Sel_my .rrs__button--disabled {color: #999999;background: #f5f5f5;cursor: default;}
.Cust_Sel_my .rrs__button:focus {outline: 0;}
.Cust_Sel_my .rrs__button + .rrs__options {
  list-style: none;padding: 0;margin: 0;background:#f9e0fd;position: absolute;z-index: 2;
  top: 40px;width: 100%;height: 0;visibility: hidden;overflow: hidden;}
.Cust_Sel_my .rrs--options-visible .rrs__options {height: auto;visibility: visible;overflow: auto;-webkit-overflow-scrolling: touch;max-height: 305px;padding-bottom: 10px;}
.Cust_Sel_my .rrs__option {cursor: pointer;padding: 2px 15px;margin: 0;}
.Cust_Sel_my .rrs__option * {pointer-events: none;}
.Cust_Sel_my .rrs__option.rrs__option--disabled {color: #999999;background: #f5f5f5;cursor: default;}
.Cust_Sel_my .rrs__option.rrs__option--header {color: #1e1e1e;cursor: default;font-size: 17px;font-weight: 400;background: #f9e0fd;
  position: -webkit-sticky;position: sticky;top: 0;z-index: 1;border-bottom: 1px solid;border-color: var(--b-color);padding-top: 7px;padding-bottom: 7px;}
.Cust_Sel_my .rrs__label {padding: 0 2rem 0 1rem;display: -ms-flexbox;display: flex;width: 100%;max-width: 100%;font-size: inherit;white-space: nowrap;-o-text-overflow: ellipsis;
  text-overflow: ellipsis;overflow: hidden;-ms-flex-pack: justify;justify-content: space-between;background: var(--bg-color);color: #fff;border-radius: var(--b-radius);}
.Cust_Sel_my .rrs__multiselect-label {display: inline-flex;max-width: 100%;line-height: 1;}
.Cust_Sel_my .rrs__multiselect-label__text {overflow: hidden;white-space: nowrap;text-overflow: ellipsis;font-weight: 400;font-size: 16px;}
.Cust_Sel_my .rrs__multiselect-label__badge {border: 1px solid #1e1e1e;padding: 1px 6px;margin: 0 0 0 4px;border-radius: 8px;color: #1e1e1e;font-size: 11px;vertical-align: middle;display: inline-block;background: #fff;}
.Cust_Sel_my .rrs .checkbox {display: inline-block;position: relative;vertical-align: middle;width: 16px;height: 16px;top: -1px;margin: 2px 8px 2px 0;border-radius: 4px;color: #e1bfe6;font-size: 18px;}
.Cust_Sel_my .rrs .checkbox-icon {fill: #fff;position: absolute;left: 2px;top: 2px;}
.Cust_Sel_my .rrs__option.rrs__option--selected .checkbox i{color: #FFC107;}
.Cust_Sel_my .rrs .caret-icon {position: absolute;right: 1rem;top: 1.25rem;}
.Cust_Sel_my .rrs__option div {display: flex;justify-content: space-between;width: 100%;}
.Cust_Sel_my .rrs_select {background: #fff;padding: 4px 12px;border-radius: var(--b-radius);font-size: 14px;font-weight: 400;width: 82%;border: 1px solid;border-color: var(--b-color);
  white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.Cust_Sel_my .rrs__option.rrs__option--selected .rrs_select{background: var(--bg-color);color: #fff;border-color:#fff; }
.Cust_Sel_my .rrs__label__text {overflow: hidden;}
.Cust_Sel_my .rrs--options-visible .rrs__button::after {content: '';border-right: 9px solid transparent;border-bottom: 13px solid #f9e0fd;width: 14px;height: 44px;display: inline-block;border-left: 10px solid transparent;position: absolute;top: 0;right: 15px;}
.Cust_Sel_my .rrs--options-visible .caret-icon {transform: rotate(180deg);}


.Cust_Sel_my.A2 .rrs__label {min-height: 40px;display: flex;align-items: center;justify-content: space-between;padding: 5px 15px;}
.Cust_Sel_my.A2 .rrs__button + .rrs__options{top:50px;}
.Cust_Sel_my.A2 .rrs--options-visible .rrs__button::after{height: 52px;}
.Cust_Sel_my.A2 .rrs__label i {font-size: 22px;line-height: 0;}

.re-table.re-table_select .rt-tr-group{overflow:initial;border-radius: var(--b-radius);background: #fff;}
.re-table.re-table_select  .ReactTable .rt-tbody .rt-tr-group:nth-child(odd) .rt-tr,
.re-table.re-table_select  .ReactTable .rt-tbody .rt-tr-group:nth-child(even) .rt-tr,
.re-table.re-table_select .task_table{background: none;}

.dep_table .ReactTable {background: #fff;border-radius: var(--b-radius);overflow: hidden;}
.re-table .ReactTable .dep_table .rt-thead.-header .rt-tr .rt-th,
.dep_table .rt-thead.-header .rt-tr .rt-th{background: var(--bg-color);border-right: 1px solid;border-color:#fff;color:#fff;}
.re-table .ReactTable .dep_table .rt-tbody .rt-tr-group:nth-child(odd) .rt-tr,
.dep_table .rt-tbody .rt-tr-group:nth-child(odd) .rt-tr{background: rgba(212, 212, 212, 0.91);}
.re-table .ReactTable .dep_table .rt-thead.-header .rt-tr .rt-th{border-color: #fff;}
.re-table  .ReactTable .dep_table .ReactTable  .rt-tbody .rt-tr-group .rt-tr .rt-td,
.dep_table .ReactTable  .rt-tbody .rt-tr-group .rt-tr .rt-td{border-color: #fff;}
.dep_table .ReactTable .rt-tbody {min-height: auto;max-height: 280px;}
.dep_table .rt-thead .rt-th{font-size: 17px;font-weight: 400;}
.re-table .task_table.dep_table .rt-thead .rt-th,
.re-table .task_table.dep_table .rt-tbody .rt-td{font-weight: 400;padding: 10px 15px;}
 
.re-table .task_table.dep_table .rt-thead .rt-th{font-size: 17px;}
.re-table .task_table.dep_table .rt-tbody .rt-td{font-size: 16px;}

.dep_table .rt-tbody .rt-td{font-size: 16px;font-weight:400;}
.dep_table  .ReactTable .rt-th, 
.dep_table  .ReactTable .rt-td{padding: 10px 15px;}

 /* horizontal srroll */
 .horizontal_scroll::-webkit-scrollbar {height: 10px;}
 .horizontal_scroll::-webkit-scrollbar-track { background-color:#fff; border-left: 1px solid #ccc; border-radius: 10px;}
 .horizontal_scroll::-webkit-scrollbar-thumb { background-color:var(--bg-color); border-radius: 10px;}
 .horizontal_scroll::-webkit-scrollbar-thumb:hover {background-color: var(--crm-Rejected_color);}

.vertical_scroll::-webkit-scrollbar {width: 5px;}
.vertical_scroll::-webkit-scrollbar-track { background-color:#fff; border-left: 1px solid #ccc; border-radius: 10px;}
.vertical_scroll::-webkit-scrollbar-thumb { background-color:var(--bg-color); border-radius: 10px;}
.vertical_scroll::-webkit-scrollbar-thumb:hover {background-color: var(--crm-Rejected_color);}

.Cust_Sel_my .rrs--options-visible .rrs__options::-webkit-scrollbar,
.dep_table .ReactTable .rt-tbody::-webkit-scrollbar,
.re_tab_D .ReactTable .rt-tbody::-webkit-scrollbar {width: 3px;}
.Cust_Sel_my .rrs--options-visible .rrs__options::-webkit-scrollbar-track,.dep_table .ReactTable .rt-tbody::-webkit-scrollbar-track,
.re_tab_D .ReactTable .rt-tbody::-webkit-scrollbar-track  { background-color:none; border-radius: 10px;}
.Cust_Sel_my .rrs--options-visible .rrs__options::-webkit-scrollbar-thumb,
.dep_table .ReactTable .rt-tbody::-webkit-scrollbar-thumb,
.re_tab_D .ReactTable .rt-tbody::-webkit-scrollbar-thumb { background-color:var(--bg-color); border-radius: 10px;}
.Cust_Sel_my .rrs--options-visible .rrs__options::-webkit-scrollbar-thumb:hover,
.dep_table .ReactTable .rt-tbody::-webkit-scrollbar-thumb:hover,
.re_tab_D .ReactTable .rt-tbody::-webkit-scrollbar-thumb:hover{background-color: var(--crm-Rejected_color);}

/* end scroll */


.Dis_R_div1 {height: 5px;background: var(--bg-color);width: 100%;}
.Dis_R_div2{display:inline-block;}
.Dis_R_div2 {display: inline-block;background: #ffff;padding: 5px 15px;border-radius: 25px;border: 5px solid;border-color: var(--bg-color);}
.Dis_R_div2 p {margin: 0px;font-size: 15px;}

.Htag {padding: 0px 5px;border-left: 1px solid;border-right: 1px solid;}

.Staff_Tab .ReactTable .rt-th,
.Staff_Tab .ReactTable .rt-td,
.Staff_Tab .ReactTable .rt-thead .rt-th, 
.Staff_Tab .ReactTable .rt-thead .rt-td{padding: 5px 5px;}

.Staff_Tab .ReactTable .rt-thead .rt-th, 
.Staff_Tab .ReactTable .rt-thead .rt-td{min-height: auto;}
.Staff_Tab .rec-table-icon i{width: 30px;font-size: 10px;}
.Staff_Tab .task_table_footer a,
.Staff_Tab .task_table_footer span.Htag {font-size: 12px;align-items: center;display: inline-flex;padding-left: 7px;padding-right: 7px;}
.Staff_Tab .task_table_footer u{text-decoration: underline;}
.Staff_task_div1 {display: inline-flex;list-style: none;align-items: center;}
.Staff_task_div1 li {display: inline-flex;margin-right: 15px;}
.Staff_task_div1 li i {font-size: 18px;margin-right: 5px;line-height: 13px;}
.Staff_task_div1 li span{font-size: 10px;font-size: 10px;align-items: center;display: inline-flex;color: #777;}
.Staff_VIcon i {font-size: 28px;display: flex;color: var(--txt-color);cursor: pointer;}
.Staff_TIcon i {font-size: 24px;display: flex;align-items: center;padding-top: 3px;padding-left: 3px;}

.Suc_task{color:var(--crm-success_color)}
.Pro_task{color:var(--crm-Processing_color);}
.Rej_task{color:var(--crm-Rejected_color);}

.Staff_Tab .ReactTable  .rt-tbody .rt-tr-group{border:1px solid;border-color: var(--b-color);}

.Staff_details_left {
  background: #fff;border-radius: var(--b-radius);padding: 15px 7px 30px;
  /* flex-wrap: wrap;
  height: 100%;
  width: 100%; */
}

.Staff_f {justify-content: center;font-size: 17px;font-weight: 400;border-color: #1e1e1e;padding-top: 10px;margin-top: 30px;}

.PD_Al_div{border-radius: var(--b-radius);background: #e6e6e5;padding:0px 7px;min-height: 585px;}
.PD_Al_h_txt {text-align: center;padding: 5px;border-bottom: 1px solid;border-color: var(--b-color);margin-bottom: 15px;font-size: 22px;}

.re_tab_D .ReactTable .rt-thead .rt-th, .re_tab_D .ReactTable .rt-thead .rt-td{padding: 0px;min-height: auto;}
.re_tab_D .ReactTable .rt-thead.-header .rt-tr .rt-th{color: #1e1e1e;border: 0px solid;text-align: center;font-size: 12px;}
.re_tab_D .ReactTable .rt-thead.-header .rt-tr{border: 0px solid;}
.re_tab_D .ReactTable .rt-th, .re_tab_D .ReactTable .rt-td{padding: 0px 15px;}
.re_tab_D .ReactTable .rt-tbody .rt-tr {padding: 4px 0;border: 1px solid;border-color: var(--b-color);border-radius: var(--b-radius)}
.re_tab_D .ReactTable .rt-tbody .rt-td{border-color: var(--b-color)}
.re_tab_D .ReactTable .rt-tbody{margin-top:0px;}
.re_tab_D .ReactTable .rt-td.T_align_m1 {padding: 7px 15px;font-size: 14px;}
.re_tab_D .ReactTable .rt-tbody{min-height: auto;max-height: 490px;}

.PD_Al_icon {display: flex;line-height: 0;justify-content: space-between;}
.PD_Al_icon a {display: inline-flex;}
.LA_i1 {font-size: 30px;display: inline-flex;align-items: center;line-height: 0;}
.LA_i2 {font-size: 26px;display: inline-flex;align-items: center;line-height: 0;}


span.icon.privious {
  background: var(--bg-color);
  width: 37px;
  height: 36px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}
span.icon.next {
  background: var(--bg-color);
  width: 37px;
  height: 36px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

